@use '../../object/utility/utility.scss';
//下のフォーム部分のpaddingだけ変えたいためのスタイル

.u-padding {
  width: 1180px;
  height: 240px;
  background-color: utility.$white;
  margin: 150px auto 0;
  text-align: center;
}