.u-active__menu {
  left: 0;
}

.u-active__close 
> .p-hamburgermenu__line:first-child {
  transform: rotate(35deg) translate(0.06rem, 0.17rem);
  width: 0.6rem;
}

.u-active__close 
> .p-hamburgermenu__line:nth-child(2) {
  opacity: 0;
}

.u-active__close 
> .p-hamburgermenu__line:last-child {
  transform: rotate(-35deg) translate(0.04rem, -0.15rem);
  width: 0.6rem;
}