@use "../../foundation/mixins" as mixin;

.u-breakline {
  &__pc {
    display: block;
    @include mixin.sp {
      display: none;
    }
  }

  &__sp {
    display: none;
    @include mixin.sp {
      display: block;
    }
  }
}