@use '../../object/utility/utility.scss';

.u-h2 {
  font-size: 25px;
  font-weight: utility.$bold;
  text-align: center;
}


/* TAB */
@include utility.tab {

  .u-h2 {
    font-size: .25rem;
  }
}


/* SP */
@include utility.sp {

  .u-h2__sp {
    font-size: .25rem;
    font-weight: utility.$bold;
    text-align: center;
  }
}