@use '../../object/utility/utility.scss';

.u-margin-centered {
  margin: 0 auto;
}

.u-margin-top-content{
  margin-top: 50px;
}

.u-margin-top-job-listings {
  margin-top: 60px;
}

.u-margin-top-about {
  margin-top: 106px;
}

.u-margin-top-steps {
  margin-top: 105px;
}

.u-margin-top-articles {
  margin-top: 106px;
}