@use '../../object/utility/utility.scss';

.u-position-relative {
  position: relative
}

.u-position-absolute {
  position: absolute
}

.u-position-fixed-top {
  position: fixed;
  top: 0;
  z-index: 100;
}