@use '../../object/utility/utility.scss';
// 共通パーツであるboxのスタイルを記述するファイル

@use '../../foundation/_mixins.scss';

// ボックス
.c-pink-box {
  width: 60px;
  height: 21px;
  background: #FFCAD0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixins.tab {
    width: 0.60rem;
    height: 0.21rem;
  }
  @include mixins.sp {
    width: 0.60rem;
    height: 0.21rem;
  }
}