@use '../../object/utility/utility.scss';
.c-change {
  &__wrapper {
    padding-top: 105px;
  }
  &__title {
    font-size: 25px;
    text-align: center;
    font-weight: 700;
  }
  &__innerdox {
    width: 277.73px;
    height: 357.73px;
    border-radius: 10px;
    border: 2.268px solid utility.$pink;
    margin-left: 22.27px;
    position: relative;
    &:first-child {
      margin-left: 0;
    }
    &__step {
      margin-top: 8.87px;
      margin-left: 8.87px;
    }
    &__img {
      width: 102.29px;
      height: 100px;
      position: absolute;
      top: 58.87px;
      left: 90px;
    }
    &__title {
      text-align: center;
      width: 216px;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      position: absolute;
      left: 25px;
      top: 178px;
    }
    &__text {
      width: 237px;
      font-size: 14px;
      line-height: 20px;
      position: absolute;
      left: 20px;
      top: 256px;
    }
    &__wrapper {
      display: flex;
      justify-content: center;
      margin-top: 51.13px;
    }
  }
  &__icon1 {
    border-left: 20px solid utility.$red;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    margin-left: 275px;
    position: absolute;
    bottom: 150px;
  }
  &__icon2 {
    border-left: 20px solid utility.$red;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    margin-left: 275px;
    position: absolute;
    bottom: 150px;
  }
  &__icon3 {
    border-left: 20px solid utility.$red;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    margin-left: 275px;
    position: absolute;
    bottom: 150px;
  }
}
@media screen and (max-width: 1199px) {
  .c-change {
    &__wrapper {
      padding-top: 1.05rem;
    }
    &__title {
      font-size: 0.25rem;
    }
    &__innerdox {
      width: 2.77rem;
      height: 3.57rem;
      border-radius: 0.1rem;
      border: 0.02rem solid utility.$pink;
      margin-left: 0.22rem;
      &__step {
        width: 0.6rem;
        margin-top: 0.08rem;
        margin-left: 0.08rem;
      }
      &__img {
        width: 1.02rem;
        height: 1rem;
        top: 0.58rem;
        left: 0.90rem;
      }
      &__title {
        width: 2.16rem;
        font-size: 0.24rem;
        line-height: 0.30rem;
        left: 0.25rem;
        top: 1.78rem;
      }
      &__text {
        width: 2.37rem;
        font-size: 0.14rem;
        line-height: 0.20rem;
        left: 0.20rem;
        top: 2.56rem;
      }
      &__wrapper {
        margin-top: 0.51rem;
      }
    }
    &__icon1 {
      border-left: 0.2rem solid utility.$red;
      border-top: 0.2rem solid transparent;
      border-bottom: 0.2rem solid transparent;
      margin-left: 2.75rem;
      bottom: 1.5rem;
    }
    &__icon2 {
      border-left: 0.2rem solid utility.$red;
      border-top: 0.2rem solid transparent;
      border-bottom: 0.2rem solid transparent;
      margin-left: 2.75rem;
      bottom: 1.5rem;
    }
    &__icon3 {
      border-left: 0.2rem solid utility.$red;
      border-top: 0.2rem solid transparent;
      border-bottom: 0.2rem solid transparent;
      margin-left: 2.75rem;
      bottom: 1.5rem;
    }
  }
}
@media screen and (max-width: 767px) {
  .c-change {
    &__wrapper {
      padding-top: 0.6rem;
    }
    &__innerdox {
      margin-left: 0;
      margin-top: 0.41rem;
      height: 2.9rem;
      &__step {
        width: 0.45rem;
      }
      &__img {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        width: 0.76rem;
        height: 0.75rem;
      }
      &__title {
        position: absolute;
        left: 0.03rem;
        top: 1.5rem;
        width: 2.7rem;
        font-size: 0.2rem;
        line-height: 0.29rem;
      }
      &__text {
        width: 2.5rem;
        position: absolute;
        left: 0.2rem;
        top: 2rem;
      }
      &__wrapper {
        display: block;
        margin-top: 0.35rem;
        margin-left: 0.45rem;
      }
      &__br {
        display: none;
      }
    }
    &__icon1 {
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid utility.$red;
      position: absolute;
      right: 1.2rem;
      top: 3rem;
    }
    &__icon2 {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid utility.$red;
      position: absolute;
      right: 1.2rem;
      top: 3rem;
    }
    &__icon3 {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid utility.$red;
      position: absolute;
      right: 1.2rem;
      top: 3rem;
    }
  }
}