@use '../../object/utility/utility.scss';
.c-content {
  &__wrapper {
    padding-top: 106px;
  }
  &__title {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
  }
  &__img {
    &__wrapper {
      display: flex;
      margin-top: 50px;
      justify-content: center;
    }
    &__manual {
      width: 380px;
      background-image: url(../img/picture/manual-icon.jpg);
      border-radius: 10px;
      position: relative;
      margin-left: 20px;
      transition: 0.3s;
      &:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
      &:first-child {
        margin-left: 0;
      }
      &::before {
        content: "";
        position: absolute;
        background: utility.$black;
        opacity: 0.5;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 240px;
        border-radius: 10px;
      }
    }
    &__title {
      position: absolute;
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      color: utility.$white;
      top: 71px;
      left: 107.56px;
    }
    &__text {
      position: absolute;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      color: utility.$white;
      top: 139px;
      left: 60px;
      right: 64px;
    }
    &__trivia {
      width: 380px;
      height: 240px;
      background-image: url(../img/picture/Trivia-icon.jpg);
      border-radius: 10px;
      margin-left: 20px;
      position: relative;
      transition: 0.3s;
      &:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
      &__title {
        position: absolute;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: utility.$white;
        top: 71px;
        left: 70px;
      }
      &__text {
        position: absolute;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: utility.$white;
        top: 139px;
        left: 42.2px;
        right: 49.8px;
      }
      &::before {
        content: "";
        position: absolute;
        background: utility.$black;
        opacity: 0.5;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 240px;
        border-radius: 10px;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .c-content {
    &__wrapper {
      padding-top: 1.06rem;
    }
    &__title {
      font-size: 0.25rem;
    }
    &__img {
      &__wrapper {
        margin-top: 0.5rem;
      }
      &__manual {
        width: 3.8rem;
        border-radius: 0.1rem;
        margin-left: 0.2rem;
        &::before {
          height: 2.4rem;
          border-radius: 0.1rem;
        }
      }
      &__title {
        font-size: 0.24rem;
        line-height: 0.24rem;
        top: 0.71rem;
        left: 1.07rem;
      }
      &__text {
        font-size: 0.16rem;
        line-height: 0.23rem;
        top: 1.39rem;
        left: 0.6rem;
        right: 0.64rem;
      }
      &__trivia {
        width: 3.8rem;
        height: 2.4rem;
        border-radius: 0.1rem;
        margin-left: 0.2rem;
        &__title {
          font-size: 0.24rem;
          line-height: 0.24rem;
          top: 0.71rem;
          left: 0.7rem;
        }
        &__text {
          font-size: 0.16rem;
          line-height: 0.23rem;
          top: 1.39rem;
          left: 0.42rem;
          right: 0.49rem;
        }
        &::before {
          height: 2.4rem;
          border-radius: 0.1rem;
        }
      }
    }
  }
}