@use '../../object/utility/utility.scss';
.c-content__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin-top: 106px;
  text-align: center;
}
.c-content-img__wrapper {
  display: flex;
  margin-top: 50px;
  justify-content: center
}
.c-content-img {
  &__manual {
    width: 380px;
    height: 240px;
    background-image: url(../img/picture/manual-icon.jpg);
    border-radius: 10px;
    position: relative;
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
    &::before {
      content: "";
      position: absolute;
      background: rgb(0, 0, 0);
      opacity: 0.5;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 240px;
      border-radius: 10px;
    }
  }
  &__title {
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    top: 71px;
    left: 107.56px;
  }
  &__text {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: rgb(255, 255, 255);
    top: 139px;
    left: 60px;
    right: 64px;
  }
}
.c-content-img__trivia {
  width: 380px;
  height: 240px;
  background-image: url(../img/picture/Trivia-icon.jpg);
  border-radius: 10px;
  margin-left: 10px;
  position: relative;
  &__title {
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    top: 71px;
    left: 70px;
  }
  &__text {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: rgb(255, 255, 255);
    top: 139px;
    left: 42.2px;
    right: 49.8px;
  }
  &::before {
    content: "";
    position: absolute;
    background: rgb(0, 0, 0);
    opacity: 0.5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 240px;
    border-radius: 10px;
  }
}