@use '../../object/utility/utility.scss';
.c-feature {
  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    margin-top: 106px;
    text-align: center;
  }
  &__innerbox {
    width: 570px;
    height: 180px;
    background: rgb(247, 210, 219);
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;
    &__title {
      font-weight: 700;
      font-size: 24px;
      color: rgb(222, 85, 121);
      padding-top: 40px;
    }
    &__text {
      font-size: 14px;
      line-height: 20px;
      margin-top: 36px;
    }
    &__wrapper {
      font-size: 0;
      display: flex;
      margin-top: 53px;
      flex-wrap: wrap;
      justify-content: center;
    }
    &:nth-child(2n+1) {
      margin-left: 0;
    }
  }
}