@use '../../object/utility/utility.scss';
// 共通パーツであるフォームのスタイルを記述するファイル

.c-select-form {
  width: 200px;
  height: 60px;
  font-size: 18px;
  border-radius: 10px;
  padding: 17px 0 17px 15px;
  line-height: 26px;
  border: 1px solid utility.$primaryPink;
  appearance: none;
  -webkit-appearance: none;
  appearance: none;

  @include utility.sp {
    max-width: 1rem;
    height: .3rem;
    font-size: .12rem;
    border-radius: .06rem;
    padding: .06rem 0 .07rem .08rem;
    line-height: .17rem;
  }

  &.text {
    width: 299px;
    margin-left: 15px;

    @include utility.sp {
      max-width: 3.2rem;
      margin-left: 0;
    }
  }
}