@use '../../object/utility/utility.scss';
@use '../../foundation/variables';


.c-form {
  background-color: variables.$formBlue;
  text-align: center;
  border-radius: 1rem;
  width: 118rem;


  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.6rem;

    @include utility.tab {
      margin-top: .26rem;
    }

    @include utility.sp {
      display: block;
      margin-top: .1rem;
    }
  }

  &__title {
    font-weight: variables.$bold;
    font-size: 2.5rem;

    @include utility.tab {
      font-size: .25rem;
    }

    @include utility.sp {
      font-size: .22rem;
    }
  }

  &__text {
    font-size: 2rem;
    margin-top: 2rem;

    @include utility.tab {
      font-size: .2rem;
      margin-top: .2rem;
    }

    @include utility.sp {
      font-size: .14rem;
      margin-top: .16rem;
    }
  }

  &__select {
    position: relative;
    margin-left: 1.5rem;

    &__common {
      display: flex;
    }

    &__item {
      appearance: none;
      border: solid 0.1rem variables.$formPink;
      font-size: 1.8rem;
      border-radius: 10px;
      width: 20rem;
      height: 6rem;
      padding-left: 1.5rem;

      @include utility.tab {
        border: solid .01rem variables.$formPink;
        font-size: .18rem;
        border-radius: .1rem;
        width: 2rem;
        height: .6rem;
        padding-left: .15rem;
      }

      @include utility.sp {
        border: solid .01rem variables.$formPink;
        font-size: .12rem;
        border-radius: .05rem;
        width: 1rem;
        height: .3rem;
        padding-left: .08rem;
      }
    }

    &::before {
      position: absolute;
      pointer-events: none;
      border-style: solid;
      border-color: variables.$formPink transparent transparent transparent;
      border-width: 10px 10px 0 10px;
      width: 0;
      height: 0;
      top: 50%;
      right: 3rem;
      transform: translateY(-50%);
      content: "";

      @include utility.tab {
        border-width: .1rem .1rem 0 .1rem;
        right: .2rem;
      }

      @include utility.sp {
        border-width: .07rem .07rem 0 .07rem;
        right: .1rem;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    @include utility.tab {
      margin-left: .15rem;
    }

    @include utility.sp {
      margin-left: .1rem;
    }
  }

  &__input {
    border: solid 0.1rem variables.$formPink;
    border-radius: 1rem;
    font-size: 1.8rem;
    width: 30rem;
    height: 6rem;
    margin-left: 1.5rem;
    padding-left: 1rem;

    @include utility.tab {
      border: solid .01rem variables.$formPink;
      border-radius: .1rem;
      font-size: .18rem;
      width: 3rem;
      height: .6rem;
      margin-left: .15rem;
      padding-left: .1rem;
    }

    @include utility.sp {
      border: solid .01rem variables.$formPink;
      border-radius: .05rem;
      font-size: .14rem;
      width: 3.2rem;
      height: .3rem;
      margin-left: 0;
      margin-top: .15rem;
      padding-left: .07rem;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: variables.$buttonPink;
    color: variables.$white;
    font-weight: variables.$bold;
    font-size: 1.8rem;
    width: 14rem;
    height: 6rem;
    border-radius: 5rem;
    margin-left: 1.5rem;


    &__icon {
      margin-right: 0.4rem;

      @include utility.tab {
        margin-right: .04rem;
        max-width: .3rem;
      }

      @include utility.sp {
        margin-right: .14rem;
        max-width: .18rem;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: 0.3s;
    }

    @include utility.tab {
      font-size: .18rem;
      width: 1.4rem;
      height: .6rem;
      border-radius: .5rem;
      margin-left: .15rem;
    }

    @include utility.sp {
      font-size: .18rem;
      width: 1.6rem;
      height: .4rem;
      border-radius: .5rem;
      margin: .19rem auto 0 auto;
    }
  }

  @include utility.tab {
    border-radius: .1rem;
    width: 11.8rem;
  }

  @include utility.sp {
    border-radius: .1rem;
    width: 3.7rem;
  }
}