@use '../../object/utility/utility.scss';
.c-heading__h2 {
  font-size: 25px;
  font-weight: utility.$bold;
  @include utility.sp {
    font-size: .22rem;
  }
  @include utility.tab {
    font-size: .22rem;
  }
}