@use '../../object/utility/utility.scss';

.c-header-symbol {
	width: 15px;
	height: 15px;
}

.c-header-icon {
	width: 17px;
	height: 17px;
}

.c-search-icon {
	width: 18px;
	height: 18px;
}

.c-flow-direction {
	display: flex;
	justify-content: center;
	height: 40px;
	margin-top: 140px;
}

.c-flow-icon {
	margin: 5px 0 0 5px;
	width: 60px;
	height: 60px;
}
