@use '../../object/utility/utility.scss';

.c-input {
  background-color: utility.$white;
  border: 1px solid utility.$borderRed;
  border-radius: 10px;
  padding: 17px 15px;
  width: 300px;
  height: 60px;
  font-size: 18px;
}