@use '../../object/utility/utility.scss';

// inputタグ（text）のスタイルを記述するファイル

.c-input {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid utility.$gizPink;
  color: utility.$black;
  font-family: Noto Sans JP;
  font-size: 18px;
  font-style: normal;
  font-weight: utility.$regular;
  line-height: normal;
  padding-left: 9.5px;

  .c-input::placeholder {
    color: utility.$placeGlay;
  }
}

@include utility.sp {
  .c-input {
    width: 3.2rem;
    height: 0.3rem;
    font-size: 0.14rem;
    margin-top: 0.13rem;
    border-radius: 0.05rem;
  }
}