@use '../../object/utility/utility.scss';

.c-input {
  background-color: utility.$white;
  border: 1px solid utility.$borderRed;
  border-radius: 10px;
  padding: 17px 15px;
  width: 300px;
  height: 60px;
  font-size: 18px;

  @include utility.tab {
    border: .01rem solid utility.$borderRed;
    border-radius: .1rem;
    padding: .17rem .15rem;
    width: 3rem;
    height: .6rem;
    font-size: .18rem;
  }
  @include utility.sp {
    border: .01rem solid utility.$borderRed;
    border-radius: .05rem;
    padding: .05rem .07rem;
    width: 3.2rem;
    height: .3rem;
    font-size: .14rem;
  }
}
