@use '../../object/utility/utility.scss';

.c-job-search {

  &__box {
    background-color: utility.$blueBox;
    border-radius: 10px;
    padding: 40px;
    text-align: center;

    @include utility.tab {
      padding: .4rem;
    }

    @include utility.sp {
      padding: .15rem .25rem;
    }

    &__supplement {
      margin-top: 20px;
      font-size: 20px;

      @include utility.sp {
        font-size: .14rem;
      }
    }

    &__form {
      display: flex;
      justify-content: space-between;
      margin-top: 26px;
      gap: 15px;

      @include utility.tab {
        gap: .15rem;
      }

      @include utility.sp {
        flex-wrap: wrap;
        gap: .15rem;
        margin-top: .2rem;
      }

      &__select-box {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include utility.tab {
          gap: .15rem;
          width: initial;
        }

        @include utility.sp {
          flex-wrap: wrap;
          gap: initial;
        }

        &__li {
          position: relative;

          @include utility.sp {
            width: 31%;
          }

          &::after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 45%;
            width: 0;
            height: 0;
            border-style: solid;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            border-top: 10px solid utility.$deepPink;
            border-bottom: 0;

            @include utility.tab {
              right: .1rem;
              border-right: .1rem solid transparent;
              border-left: .1rem solid transparent;
              border-top: .1rem solid utility.$deepPink;
            }

            @include utility.sp {
              right: .05rem;
              border-right: .07rem solid transparent;
              border-left: .07rem solid transparent;
              border-top: .07rem solid utility.$deepPink;
            }
          }

          &__select {
            // フォームデフォルトデザインのreset
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            appearance: none;
            outline: none;
            resize: none;
            // フォームデザイン
            border: 1px solid utility.$deepPink;
            border-radius: 10px;
            background: utility.$white;
            font-size: 18px;
            padding: 16.5px;
            color: utility.$black;
            width: 200px;
            height: 60px;

            @include utility.tab {
              width: 1.8rem;
              height: .6rem;
              font-size: .18rem;
              padding: .165rem;
            }

            @include utility.sp {
              font-size: .12rem;
              padding: .06rem .08rem;
              width: 100%;
              height: auto;
              border-radius: .05rem;
            }
          }
        }
      }

      &__input-box {
        @include utility.sp {
          width: 100%;
        }

        &__input {
          width: 300px;
          height: 60px;
          border: 1px solid utility.$deepPink;
          border-radius: 10px;
          font-size: 18px;
          padding: 16.5px;

          // フォームデフォルトデザインのreset
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: none;
          resize: none;

          @include utility.tab {
            width: 3rem;
            height: .6rem;
            font-size: .18rem;
            padding: .165rem;
          }

          @include utility.sp {
            width: 100%;
            font-size: .12rem;
            padding: .06rem .08rem;
            height: auto;
            border-radius: .05rem;
          }
        }
      }

      &__search-button-box {
        @include utility.sp {
          width: 100%;
        }

        &__search-button {
          background-color: utility.$pink;
          background-image: url('../img/icon/icon-search-white.png');
          background-repeat: no-repeat;
          background-position: center left 15px;
          background-size: 30px;
          padding-left: 48px;
          padding-right: 20px;
          color: utility.$white;
          height: 60px;
          line-height: 60px;
          min-width: 140px;
          font-size: 18px;
          border-radius: 1000px;

          @include utility.tab {
            width: .14rem;
            height: .6rem;
            font-size: .18rem;
            padding-left: .48rem;
            padding-right: .2rem;
            line-height: .6rem;
            background-size: .3rem;
          }

          @include utility.sp {
            padding-left: .4rem;
            padding-right: .2rem;
            font-size: .18rem;
            height: .4rem;
            line-height: .4rem;
            background-size: .15rem;
          }
        }
      }
    }
  }
}