@use '../../object/utility/utility.scss';

.c-container {
  text-align: center;
}

.c-job {
  width: 1180px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: utility.$bgCyan;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 60px;

  &__2 {
    margin-top: 150px;
    margin-bottom: 200px;
  }

  &__title {
    font-weight: utility.$bold;
    font-size: 25px;
  }

  &__text {
    font-weight: utility.$regular;
    font-size: 20px;
    margin-top: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  &__select {
    position: relative;
    display: inline-block;

    &__pull {
      border-radius: 10px;
      border: solid 1px utility.$pink;
      width: 200px;
      height: 60px;
      appearance: none;
      font-weight: utility.$regular;
      font-size: 18px;
      padding-right: 40px;
      padding-left: 15px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 15px;
      height: 10px;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      background-color: utility.$pink;
      pointer-events: none;
      appearance: none;
    }
  }


  &__input {
    border-radius: 10px;
    border: solid 1px utility.$pink;
    width: 300px;
    height: 60px;
    appearance: none;
    font-size: 18px;
    font-weight: utility.$regular;
  }

}

// スマホ
@media screen and (max-width: 767px) {

  .c-container {
    text-align: center;
  }

  .c-job {
    margin-top: 0.25rem;
    padding: 0.15rem 0.2rem 0.2rem 0.2rem;
    width: 3.7rem;

    &__title {
      font-size: 0.22rem;
    }

    &__text {
      font-size: 0.14rem;
    }

    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__block {
      display: flex;
      flex-wrap: wrap;
    }

    &__select {
      width: 1rem;

      &:nth-child(n+2) {
        margin-left: 0.105rem;
      }

      &__pull {
        background-color: utility.$white;
        color: utility.$black;
        width: 1rem;
        font-size: 0.12rem;
        height: 0.3rem;
        padding-left: 0.08rem;
        padding-right: 0.07rem;
      }

      &::after {
        right: 0.07rem;
      }
    }

    &__input {
      width: 3.19rem;
      font-size: 0.14rem;
      height: 0.3rem;
      border-radius: 0.05rem;
    }
  }
}