@use '../../object/utility/utility.scss';
@use '../../foundation/mixins.scss';
.c-jobs {
  &__wrapper {
    width: 100%;
    padding-top: 64px;
    padding-bottom: 67px;
    background: utility.$jobs-background;
    margin-top: 59px;
    @include mixins.tab {
      padding-top: 0.64rem;
      padding-bottom: 0.67rem;
      margin-top: 0.59rem;
    }
    @include mixins.sp {
      margin-top: 0.25rem;
      padding-top: 0.3rem;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 25px;
    font-family: 'Inter';
    @include mixins.tab {
      font-size: 0.25rem;
    }
    @include mixins.sp {
      text-align: center;
    }
  }
  &__detail {
    &__wrapper {
      justify-content: center;
      display: flex;
      margin-top: 25px;
      @include mixins.tab {
        margin-top: 0.25rem;
      }
      @include mixins.sp {
        text-align: center;
        display: block;
        margin-top: 0.35rem;
      }
    }
    &__inner {
      width: 280px;
      margin-left: 20px;
      transition: 0.3s;
      @include mixins.tab {
        width: 2.8rem;
        margin-left: 0.2rem;
      }
      @include mixins.sp {
        margin-top: 0.1rem;
        width: 3.7rem;
        margin-left: 0;
      }
      &:first-child {
        margin-left: 0;
        @include mixins.sp {
          margin-top: 0;
        }
      }
      &__img {
        border-radius: 10px;
        @include mixins.tab {
          border-radius: 0.1rem;
        }
        @include mixins.sp {
          width: 3.7rem;
        }
      }
      &__text {
        font-size: 16px;
        line-height: 22px;
        color: utility.$black;
        margin-top: 8.08px;
        @include mixins.tab {
          font-size: 0.16rem;
          line-height: 0.22rem;
          margin-top: 0.08rem;
        }
        @include mixins.sp {
          text-align: left;
          margin-top: 0.1rem;
        }
      }
    }
  }
}
.c-jobs {
  &__list {
    width: 60px;
    height: 21px;
    background: utility.$jobs-pink;
    text-align: center;
    font-size: 14px;
    color: utility.$black;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mixins.tab {
      width: 0.6rem;
      font-size: 0.14rem;
    }
    @include mixins.sp {
    }
    &__text {
      font-size: 14px;
      height: 21px;
      margin-left: 10px;
      color: utility.$black;
      display: flex;
      align-items: center;
      @include mixins.tab {
        font-size: 0.14rem;
        margin-left: 0.1rem;
      }
      @include mixins.sp {
        margin-left: 0.21rem;
      }
    }
    &__wrapper {
      display: flex;
      margin-top: 4px;
      @include mixins.sp {
        margin-top: 0.04rem;
      }
    }
  }
}
.c-jobs__detail__margin {
  margin-left: 15px;
  &:first-child {
    margin-left: 0;
  }
  @include mixins.sp {
    margin-left: 0;
  }
}
.slick-slider {
  position: relative;
}
.slick-arrow {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  padding: 0;
  width: 50px;
  height: 50px;
  color: transparent;
  z-index: 10;
  transition: opacity 0.5s;
  z-index: 10;
  background-color: utility.$white-button;
  border-radius: 50px;
  position: absolute;
  top: -35%;
  bottom: 0;
  margin: auto;
  left: 20px;
  @include mixins.sp {
    bottom: 0;
    top: 10%;
  }
}
.slick-next::before,
.slick-next::after,
.slick-prev::before,
.slick-prev::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  right: -1px;
  margin: auto;
  content: "";
  vertical-align: middle;
}
.slick-next::after,
.slick-prev::after {
  width: 15px;
  height: 15px;
  border-top: 1px solid utility.$black;
  border-right: 1px solid utility.$black;
}
.slick-next {
  right: -91%;
  @include mixins.sp {
    right: -80%;
  }
}
.slick-next::after {
  right: 4px;
  transform: rotate(45deg);
}
.slick-prev {
  left: 0;
}
.slick-prev::after {
  left: 4px;
  transform: rotate(-135deg);
}