@use '../../object/utility/utility.scss';
// 共通パーツであるkeywordのスタイルを記述するファイル

.keyword-box {
  width: 300px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #DE1E79;
  font-size: 18px;
  line-height: 26px;
  padding-left: 9.5px;
}