@use '../../object/utility/utility.scss';
.c-link {
  transition: .3s;
}
.c-link:hover {
  opacity: .8;
}

.c-link-header {
  @extend .c-link;
  display: flex;
  justify-content: center;
  align-items: center;
}