@use '../../object/utility/utility.scss';

.c-magenta-form {
  width: 200px;
  margin-left: 15px;
  padding: 17px 0 17px 15px;
  border: 1px solid utility.$darkMagenta;
  border-radius: 5px;
  font-size: 18px;
  appearance: none;
  -webkit-appearance: none;
  appearance: none;

    &::-ms-expand {
      display: none;
    }
    &:focus {
      outline: 2px solid utility.$darkMagenta;
    }

    &.long {
      width: 300px;
      -webkit-appearance: none;
      appearance: none;
      &:focus {
        outline: 2px solid utility.$darkMagenta;
      }
    }
  
    &::-ms-expand {
      display: none;
    }
  
  }
