@use '../../object/utility/utility.scss';
// 共通パーツであるボタンのスタイルを記述するファイル

.c-search_button {
  button {
    width: 140px;
    transition: .3s all;
    border-radius: 50px;
    border: none;
    padding: 15px 0 15px 35px;
    color: utility.$white;
    background: {
      color: utility.$darkPink;
      position: center left 15px;
      repeat: no-repeat;
      image: url("../img/icon/c-search_icon.png");
    };
    &:hover {
      opacity: .7;
    }
    font: {
      size: 18px;
      weight: utility.$bold;
    }
    cursor: pointer;
    @include utility.tab {
      width: 1.4rem;
      padding: 0.16rem 0 0.16rem 0.35rem;
      font-size: 0.18rem;
      background-size: 0.25rem;
    }
  }
}