@use '../../object/utility/utility.scss';
// 共通パーツであるsearchFormのスタイルを記述するファイル

@use '../../foundation/_mixins.scss';

.c-search-form {
  display: flex;
  @include mixins.tab {
    display: flex;
  }
  @include mixins.sp {
    display: block;   
  }

  &__box {
    width: 300px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #DE1E79;
    font-size: 18px;
    line-height: 18px;
    padding-left: 9.5px;
    @include mixins.tab {
      width: 3rem;
      height: 0.60rem;
      font-size: 0.18rem;
      line-height: 0.18rem;
      padding-left: 0.095rem;
    }
    @include mixins.sp {
      width: 3.2rem;
      height: 0.30rem;
      border-radius: 5px;
      font-size: 0.14rem;
      line-height: 0.20rem;
      padding-left: 0.07rem;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    @include mixins.tab {
      font-size: 0.18rem;
      line-height: 0.18rem;
      margin-left: 0.15rem;
    }
    @include mixins.sp {
      display: flex;
      font-size: 0.18rem;
      line-height: 0.18rem;
      justify-content: flex-start;
      align-items: center;
      margin: 0.19rem auto 0;
      width: 1.6rem;
      height: 0.40rem;
    }
  }
}

