@use '../../object/utility/utility.scss' as util;

.c-table {
  display: flex;
  align-items: center;
  font-size: 14px;

  &__title {
    height: 21px;
    width: 60px;
    text-align: center;
    line-height: 20px;
    background-color: util.$pink;
  }

  &__content {
    margin-left: 10px;
    line-height: 17px;
  }
}