@use '../../object/utility/utility.scss';
// テキストのスタイルを記述するファイル


.c-heading {
  font-size: 25px;
  font-weight: bold;

  @include utility.tab {
    font-size: 0.25rem;
  }
  @include utility.sp {
    font-size: 0.22rem;
  }
}

.c-text-subtitle {
  font-size: 24px;
  font-weight: bold;

  @include utility.tab {
    font-size: 0.24rem;
  }
  @include utility.sp {
    font-size: 0.2rem;
  }
}


.c-text-regular {
  font-size: 16px;

  @include utility.tab {
    font-size: 0.16rem;
  }
  @include utility.sp {
    font-size: 0.14rem;
  }
}

.c-text-small {
  font-size: 14px;

  @include utility.tab {
    font-size: 0.14rem;
  }
  @include utility.sp {
    font-size: 0.14rem;
  }
  @include utility.sp {
    font-size: 0.14rem;
  }
}

