@use '../../object/utility/utility.scss' as title;

.c-title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.c-subtitle {
  font-size: 25px;
  font-weight: 400;
  text-align: left;
}

@include title.tab {
  .c-title {
    font-size: 22px;
  }

  .c-subtitle {
    text-align: center;
  }
}