@use '@/styles' as *;

.newjobs {
  position: absolute;
  top: sp-vw(630);
  width: 100%;
  height: sp-vw(600);
  padding-top: sp-vw(30);
  padding-left: sp-vw(15);
  background-color: $color-bg-light-blue;

  &_title {
    font-size: sp-vw(25);
    font-style: bold;
    font-weight: 700;
    line-height: sp-vw(25);
    text-align: center;
    letter-spacing: 0%;
  }
}

.swiper-wrapper {
  display: flex;
  gap: sp-vw(12);
  margin-top: sp-vw(35);
  overflow-x: auto;
}

:global(.swiper-slide) {
  display: flex;
  flex: 0 0 sp-vw(370);
  flex-direction: column;
  gap: sp-vw(15);
}

.h2 {
  font-size: sp-vw(16);
  font-weight: 700;
  line-height: sp-vw(22);
  letter-spacing: 0%;
}

.img {
  width: sp-vw(370);
  height: sp-vw(208);
  border-radius: 15px;
}

.row {
  display: flex;
  gap: sp-vw(21);
  align-items: center;
  margin-bottom: sp-vw(6);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(60);
  height: sp-vw(21);
  font-size: sp-vw(14);
  font-weight: 400;
  letter-spacing: 0%;
  background-color: $color-salmon;

  &_detail {
    font-size: sp-vw(14);
    font-weight: 400;
    letter-spacing: 0%;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(370);
  height: sp-vw(60);
  margin-top: sp-vw(44);
  font-size: sp-vw(18);
  font-weight: 700;
  line-height: sp-vw(18);
  color: $color-white;
  letter-spacing: 0%;
  background-color: $color-rose;
  border-radius: sp-vw(50);
}
