// INFO: Design width and breakpoints
$design-pc-width: 1600;
$design-sp-width: 400;
$inner-pc-max-width: 1180;
$inner-sp-max-width: 370;
$site-max-width: 2000;
$breakpoint-pc: 768;

// INFO: Color variables
$color-white: #fff;
$color-black: #000;
$color-light-blue: #92c5ea;
$color-light-sky-blue: #deeef9;
$color-bg-light-blue: #eff6fc;
$color-pink: #de1e79;
$color-gray: #a4a4a4;
$color-rose: #de5579;
$color-salmon: #ffcad0;
$color-overlay: rgb(0 0 0 / 40%);
$color-turquoise: #2eb6aa;
