// .swiper {
//   width: 100%;
// }

.swiper-wrapper {
  display: flex;
  gap: sp-vw(12);
  margin-top: sp-vw(35);
  overflow-x: auto;
}

.swiper-slide {
  display: flex;
  flex: 0 0 sp-vw(370);
  flex-direction: column;
  gap: sp-vw(15);
}
