@use '@/styles' as *;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media-sp {
    margin-bottom: sp-vw(60);
    scroll-margin-top: sp-vw(70);
  }

  &-inner {
    width: pc-vw($inner-pc-max-width);
    height: pc-vw(435);
    margin: pc-vw(105) pc-vw(210) 0;

    @include media-sp {
      width: sp-vw(280);
      height: sp-vw(1350);
      margin: sp-vw(60) auto 0;
    }
  }

  &-text {
    margin-bottom: pc-vw(50);
    font-size: clamp(rem(20), pc-vw(25), rem(29));
    font-style: bold;
    font-weight: 700;
    text-align: center;

    @include media-sp {
      margin-bottom: sp-vw(34);
      font-size: clamp(rem(20), sp-vw(25), rem(29));
    }
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-sp {
      flex-direction: column;
    }
  }

  &-box {
    width: pc-vw(280);
    height: pc-vw(360);
    border: pc-vw(2.27) solid $color-peach;
    border-radius: pc-vw(10);

    @include media-sp {
      width: sp-vw(278);
      height: sp-vw(291);
      border-radius: sp-vw(10);
    }
  }

  &-subbox {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: pc-vw(60);
    height: pc-vw(60);
    margin: pc-vw(8) 0 0 pc-vw(8);
    background-color: $color-peach;
    border-radius: 50%;

    @include media-sp {
      width: sp-vw(45);
      height: sp-vw(45);
      margin: sp-vw(9) 0 0 sp-vw(8);
    }
  }

  &-step {
    width: pc-vw(42);
    height: pc-vw(38);
    margin: pc-vw(11) pc-vw(9);
    font-family: Inter, sans-serif;
    font-size: clamp(rem(11), pc-vw(16), rem(20));
    font-style: bold;
    font-weight: 700;
    line-height: 1.2;
    color: $color-white;
    text-align: center;

    @include media-sp {
      width: sp-vw(26);
      height: sp-vw(24);
      font-size: clamp(rem(5), sp-vw(10), rem(14));
    }
  }

  &-icon1 {
    width: pc-vw(102.29);
    height: pc-vw(100);
    margin: pc-vw(55) pc-vw(80) pc-vw(21) pc-vw(97);

    @include media-sp {
      width: sp-vw(77);
      height: sp-vw(75);
      margin: sp-vw(55) sp-vw(102) sp-vw(22) sp-vw(101);
    }
  }

  &-icon2 {
    width: pc-vw(79.95);
    height: pc-vw(79.95);
    margin: pc-vw(70) pc-vw(103) pc-vw(27) pc-vw(95);

    @include media-sp {
      width: sp-vw(75);
      height: sp-vw(75);
      margin: sp-vw(55) sp-vw(102) sp-vw(22) sp-vw(101);
    }
  }

  &-icon3 {
    width: pc-vw(106.76);
    height: pc-vw(100);
    margin: pc-vw(58) pc-vw(76) pc-vw(19) pc-vw(88);

    @include media-sp {
      width: sp-vw(80);
      height: sp-vw(75);
      margin: sp-vw(55) sp-vw(102) sp-vw(22) sp-vw(101);
    }
  }

  &-icon4 {
    width: pc-vw(107.97);
    height: pc-vw(110.13);
    margin: pc-vw(55) pc-vw(92) pc-vw(11) pc-vw(78);

    @include media-sp {
      width: sp-vw(74);
      height: sp-vw(75);
      margin: sp-vw(55) sp-vw(102) sp-vw(22) sp-vw(101);
    }
  }

  &-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: pc-vw(60);
    font-size: clamp(rem(15), pc-vw(24), rem(24));
    font-weight: 700;
    line-height: 1.3;
    text-align: center;

    @include media-sp {
      height: sp-vw(29);
      font-size: clamp(rem(15), sp-vw(20), rem(24));
    }
  }

  &-description {
    width: pc-vw(237);
    height: pc-vw(60);
    margin: pc-vw(19) pc-vw(19) pc-vw(42);
    font-size: clamp(rem(8), pc-vw(14), rem(19));
    font-weight: 400;
    line-height: 1.4;

    @include media-sp {
      width: sp-vw(240);
      height: sp-vw(80);
      margin: sp-vw(10) sp-vw(18) sp-vw(19);
      font-size: clamp(rem(9), sp-vw(14), rem(19));
      line-height: 1.4;
    }
  }

  &-arrow {
    border-style: solid;
    border-top: pc-vw(20) solid transparent;
    border-right: 0;
    border-bottom: pc-vw(20) solid transparent;
    border-left: pc-vw(20) solid $color-peach;

    @include media-sp {
      margin: sp-vw(10) 0;
      border-top: sp-vw(20) solid $color-peach;
      border-right: sp-vw(20) solid transparent;
      border-bottom: 0;
      border-left: sp-vw(20) solid transparent;
    }
  }
}

.br-pc {
  display: block;
  @include media-sp {
    display: none;
  }
}

.br-sp {
  display: none;
  @include media-sp {
    display: block;
  }
}
