@use '@/styles' as *;
@use '@/styles/functions' as *;
@use 'sass:math';

.flow {
  text-align: center;
}

.flow-title {
  font-size: sp-vw(25);
  font-weight: 700;
}

.flow-wrapper {
  margin-top: sp-vw(34);
}

.flow-box {
  position: relative;
  padding: sp-vw(55) sp-vw(0) sp-vw(24);
  margin-top: sp-vw(10);
  border: sp-vw(2) solid #{$color-pink};
  border-radius: sp-vw(10);
}

.circle {
  position: absolute;
  top: sp-vw(10);
  left: sp-vw(10);
  display: flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(45);
  height: sp-vw(45);
  background-color: #{$color-pink};
  border-radius: 50%;
}

.circle-text {
  font-size: sp-vw(10);
  font-weight: 700;
  line-height: 1.3;
  color: #{$color-white};
}

.flow-box-image {
  width: sp-vw(76);
  height: auto;
}

.flow-box-title {
  margin-top: sp-vw(22);
  font-size: sp-vw(20);
  font-weight: 700;
}

.flow-box-description {
  padding: sp-vw(0) sp-vw(19);
  margin-top: sp-vw(15);
  font-size: sp-vw(14);
  line-height: 1.5;
  text-align: left;
}

.flow-triangle {
  width: sp-vw(40);
  height: sp-vw(20);
  margin-top: sp-vw(9);
}
