@use '@/styles' as *;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: sp-vw(15);
  padding-bottom: sp-vw(60);
  padding-left: sp-vw(15);
  overflow: hidden; // スライダーが画面外にはみ出すのを防ぐ
  background-color: #{$color-ice-blue};
  @include media-pc {
    align-items: flex-start;
    padding-right: pc-vw(210);
    padding-bottom: pc-vw(67);
    padding-left: pc-vw(210);
  }
}

.slider-wrapper {
  position: relative;
  width: 100%;
}

.arrow-button {
  position: absolute;
  top: sp-vw(157);
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(42);
  height: sp-vw(42);
  padding: 0;
  background-color: #{$color-white-alpha-25};
  border: none;
  border-radius: 50%;
  @include media-pc {
    top: pc-vw(70);
    width: pc-vw(60);
    height: pc-vw(60);
  }

  &::after {
    width: sp-vw(10);
    height: sp-vw(10);
    content: '';
    border-top: sp-vw(1) solid #{$color-black};
    border-right: sp-vw(1) solid #{$color-black};
    @include media-pc {
      width: pc-vw(21);
      height: pc-vw(21);
      border-top: pc-vw(1) solid #{$color-black};
      border-right: pc-vw(1) solid #{$color-black};
    }
  }

  &.prev {
    left: 0;

    &::after {
      margin-left: sp-vw(4);
      transform: rotate(-135deg);
      @include media-pc {
        margin-left: pc-vw(8);
      }
    }
  }

  &.next {
    right: 0;

    &::after {
      margin-right: sp-vw(4);
      transform: rotate(45deg);
      @include media-pc {
        margin-right: pc-vw(8);
      }
    }
  }
}

.title {
  margin-top: sp-vw(30);
  margin-bottom: sp-vw(35);
  font-size: sp-vw(25);
  font-weight: bold;
  @include media-pc {
    margin-top: pc-vw(64);
    margin-bottom: pc-vw(25);
    font-size: pc-vw(25);
    font-weight: normal;
    text-align: left;
  }
}

// .jobs-container {
//   display: flex;
//   flex-direction: column;
//   gap: sp-vw(20);

//   @include media-pc {
//     flex-direction: row;
//     gap: pc-vw(20);
//     justify-content: space-between;
//   }
// }

.jobs-card {
  width: 100%;
  margin-bottom: sp-vw(44);
  @include media-pc {
    width: pc-vw(280);
    margin-inline: auto;
    margin-bottom: pc-vw(60);
  }

  &-title {
    margin-top: sp-vw(11);
    margin-bottom: sp-vw(11);
    font-size: sp-vw(16);
    font-weight: bold;
    line-height: 1.4;
    @include media-pc {
      margin-top: pc-vw(8);
      margin-bottom: pc-vw(7);
      font-size: pc-vw(16);
      font-weight: normal;
    }
  }
}

.image {
  width: sp-vw(370);
  height: sp-vw(208);
  object-fit: cover;
  object-position: 0 0;
  border-radius: sp-vw(10);
  @include media-pc {
    width: pc-vw(280);
    height: pc-vw(200);
    border-radius: pc-vw(10);
  }
}

.jobs-info {
  &-list {
    display: flex;
    flex-direction: column;
    gap: sp-vw(4);
    @include media-pc {
      gap: pc-vw(8);
    }
  }

  &-item {
    display: flex;
    align-items: center;
  }

  &-label {
    flex-shrink: 0;
    width: sp-vw(60);
    height: sp-vw(21);
    font-size: sp-vw(14);
    line-height: sp-vw(21);
    text-align: center;
    background-color: #{$color-light-pink};
    @include media-pc {
      width: pc-vw(60);
      height: pc-vw(21);
      font-size: pc-vw(14);
      line-height: pc-vw(21);
    }
  }

  &-data {
    padding-left: sp-vw(21);
    font-size: sp-vw(14);
    line-height: sp-vw(21);
    @include media-pc {
      padding-left: pc-vw(10);
      font-size: pc-vw(14);
      line-height: pc-vw(21);
    }
  }
}
