@use '@/styles' as *;

.hero {
  scroll-margin-top: sp-vw(70);
  @include media-pc {
    height: pc-vw(500);
    background-color: #{$color-hero};
  }

  &-inner {
    display: grid;
    justify-content: end;
    aspect-ratio: 400 / 270;
    background-image: url('/images/keyVisual_sp.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include media-pc {
      max-width: pc-vw(1262);
      height: pc-vw(500);
      aspect-ratio: 1262 / 500;
      margin: 0 auto;
      background-image: url('/images/keyVisual_pc.png');
      background-size: cover;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: sp-vw(62);
    margin-right: sp-vw(3);
    @include media-pc {
      margin-top: pc-vw(56);
      margin-right: pc-vw(30);
    }
  }
}

.label {
  width: sp-vw(150);
  height: sp-vw(73);
  @include media-pc {
    width: pc-vw(342);
    height: pc-vw(169);
  }
}

.title {
  margin-top: sp-vw(13);
  font-size: sp-vw(17);
  font-weight: bold;
  color: #{$color-white};
  text-shadow: 0 4px 4px 0 $color-black-alpha-25;
  @include media-pc {
    margin-top: pc-vw(40);
    font-size: pc-vw(50);
  }
}

.job-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(170);
  height: sp-vw(30);
  margin-top: sp-vw(18);
  background-color: #{$color-white};
  border: #{$color-mint} solid sp-vw(1);
  border-radius: sp-vw(5);
  @include media-pc {
    width: pc-vw(391);
    height: pc-vw(69);
    margin-top: pc-vw(54);
    border: #{$color-mint} solid pc-vw(2.3);
    border-radius: pc-vw(10);
  }

  &-text {
    font-size: sp-vw(8);
    color: #{$color-mint};
    @include media-pc {
      font-size: pc-vw(20);
    }
  }

  &-num {
    font-size: sp-vw(16);
    font-weight: bold;
    color: #{$color-mint};
    @include media-pc {
      font-size: pc-vw(40);
    }
  }
}
