@use '@/styles' as *;
@use '@/styles/functions' as *;

.search-button {
  display: inline-flex;
  gap: sp-vw(6);
  align-items: center;
  justify-content: center;
  width: sp-vw(150);
  height: auto;
  padding: sp-vw(8) sp-vw(33) sp-vw(10) sp-vw(15);
  font-size: sp-vw(18);
  font-weight: 700;
  color: #{$color-white};
  text-align: center;
  background-color: #{$color-pink};
  border-radius: sp-vw(50);

  @include media-pc {
    gap: pc-vw(4);
    width: pc-vw(140);
    padding: pc-vw(15) pc-vw(14);
    font-size: pc-vw(18);
  }
}

.button-icon {
  width: sp-vw(18);
  height: sp-vw(18);

  @include media-pc {
    width: pc-vw(30);
    height: pc-vw(30);
  }
}
