@use '@/styles' as *;

.job-search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: sp-vw(15) sp-vw(25) sp-vw(20);
  margin: sp-vw(25) sp-vw(15);
  background-color: #{$color-pale-blue};
  border-radius: sp-vw(10);
  @include media-pc {
    width: pc-vw(1180);
    padding: pc-vw(40);
    margin: pc-vw(60) auto;
    border-radius: pc-vw(10);
  }
}

.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include media-pc {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.title {
  margin-bottom: sp-vw(16);
  font-size: sp-vw(22);
  font-weight: bold;
  text-align: center;
  @include media-pc {
    margin-bottom: pc-vw(20);
    font-size: pc-vw(25);
  }
}

.description {
  margin-bottom: sp-vw(13);
  font-size: sp-vw(14);
  text-align: center;
  @include media-pc {
    margin-bottom: pc-vw(26);
    font-size: pc-vw(20);
  }
}

.select {
  display: block;
  width: 100%;
  height: sp-vw(28);
  padding: 0 sp-vw(20) 0 sp-vw(8);
  padding-top: 0;
  padding-bottom: 0;
  text-overflow: ellipsis;
  font-size: inherit;
  line-height: 1;
  line-height: sp-vw(28);
  color: inherit;
  white-space: nowrap;
  appearance: none;
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
  @include media-pc {
    height: pc-vw(60);
    padding-left: pc-vw(15);
    font-size: pc-vw(18);
    line-height: pc-vw(60);
  }

  &-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &-inner {
    position: relative;
    display: flex;
    align-items: center;
    width: sp-vw(100);
    height: sp-vw(30);
    margin-right: sp-vw(10);
    margin-bottom: sp-vw(15);
    font-size: sp-vw(12);
    background-color: #{$color-white};
    border: #{$color-pink} solid sp-vw(1);
    border-radius: sp-vw(5);
    @include media-pc {
      width: pc-vw(200);
      height: pc-vw(60);
      margin-right: pc-vw(15);
      margin-bottom: pc-vw(0);
      border: #{$color-pink} solid pc-vw(1);
      border-radius: pc-vw(10);
    }

    &:last-child {
      margin-right: 0;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: sp-vw(10);
      font-size: sp-vw(12);
      color: #{$color-pink};
      pointer-events: none;
      content: '▼';
      transform: translateY(-50%);
      @include media-pc {
        right: pc-vw(15);
        font-size: pc-vw(20);
      }
    }
  }
}

.search {
  width: sp-vw(320);
  height: sp-vw(30);
  padding-right: sp-vw(7);
  padding-left: sp-vw(7);
  margin-right: auto;
  margin-bottom: sp-vw(15);
  margin-left: auto;
  background-color: #{$color-white};
  border: #{$color-pink} solid sp-vw(1);
  border-radius: sp-vw(5);
  @include media-pc {
    box-sizing: content-box;
    width: pc-vw(300);
    height: pc-vw(60);
    padding-right: pc-vw(10);
    padding-left: pc-vw(10);
    margin: 0 pc-vw(15);
    border: #{$color-pink} solid pc-vw(1);
    border-radius: pc-vw(10);
  }

  &::placeholder {
    font-size: sp-vw(14);
    color: #{$color-gray};
    @include media-pc {
      font-size: pc-vw(18);
    }
  }
}
