@use '@/styles' as *;

.main {
  width: $design-sp-width;
}

.inner {
  width: $inner-sp-max-width;
  margin: 0 auto;
}

.work-flame {
  width: sp-vw(370);
  height: rem(240);
  margin: 1.5rem 0;
  background-color: $color-sky-blue;
  border-radius: 5%;
}

.work-title {
  justify-content: center;
  width: sp-vw(110);
  height: rem(22);
  margin-top: 0.9rem;
  margin-left: 8.1rem;
  object-fit: contain;
}

.work-caption {
  width: sp-vw(294);
  height: rem(20);
  margin: 0 auto;
  margin-top: 1rem;
  font-size: sp-vw(14);
  white-space: nowrap;
}

.select-fields {
  position: relative;
  display: flex;
  gap: 10;
  width: sp-vw(370);
  margin: 0 auto;
  margin: 0.93rem 0;
}

.select-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: sp-vw(100);
  height: rem(30);
  padding: 0 0.2rem;
  font-size: sp-vw(12);
  font-weight: 400;
  background-color: $color-white;
  border: 1px solid;
  border-color: $color-pink;
  border-radius: 5px;

  &::after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border-top: 8px solid $color-pink;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: translateY(-50%);
  }
}

.select-field:first-child {
  margin-left: 1.5rem;
}

.input-field {
  display: flex;
  align-items: center;
  width: sp-vw(320);
  height: rem(30);
  margin: 0 auto;
  font-size: sp-vw(14);
  font-weight: 400;
  color: $color-black;
  background-color: $color-white;
  border: 1px solid;
  border-color: $color-pink;
  border-radius: 5px;
}

.input-field::placeholder {
  color: $color-gray;
}

.search-button {
  display: flex;
  gap: 15;
  align-items: center;
  width: sp-vw(160);
  height: rem(40);
  padding-left: 1rem;
  margin: 0 auto;
  margin-top: 0.93rem;
  font-size: sp-vw(18);
  font-style: bold;
  font-weight: 700;
  color: $color-white;
  background-color: $color-peach;
  border-radius: 50px;
}

.find-glass {
  width: 1rem;
  height: 1rem;
}
