@use '@/styles' as *;

.search-container {
  width: sp-vw(370);
  min-height: sp-vw(240);
  margin: sp-vw(25) auto;
  background-color: $color-blue;
  border-radius: sp-vw(8);
}

.search-title {
  padding-top: sp-vw(15);
  font-size: sp-vw(22);
  font-weight: 700;
  text-align: center;
}

.search-description {
  padding-top: sp-vw(16);
  padding-bottom: sp-vw(13);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: sp-vw(14);
  font-weight: 400;
  text-align: center;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: sp-vw(12);
  justify-content: space-between;
  padding-inline: sp-vw(15);
}

.search-select-wrap {
  position: relative;
  width: sp-vw(100);
  height: sp-vw(30);
  overflow: hidden;
  background-color: #{$color-white};
  border: 1px solid #{$color-passion-pink};
  border-radius: 5px;

  &::after {
    position: absolute;
    top: 50%;
    right: sp-vw(10);
    z-index: 1;
    width: sp-vw(10);
    height: sp-vw(6);
    pointer-events: none;
    content: '';
    background-color: #{$color-pink};
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    transform: translateY(-50%);
  }

  .search-select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 0 sp-vw(25) 0 sp-vw(10);
    font-size: sp-vw(12);
    line-height: sp-vw(30);
    color: $color-black;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}

.search-input {
  width: 100%;
  height: sp-vw(35);
  padding-inline: sp-vw(12);
  font-size: sp-vw(14);
  background-color: #{$color-white};
  border: sp-vw(1) solid #{$color-passion-pink};
  border-radius: sp-vw(4);

  &::placeholder {
    color: $color-light-gray;
  }
}

.search-button {
  display: flex;
  gap: sp-vw(8);
  align-items: center;
  justify-content: center;
  width: sp-vw(160);
  height: sp-vw(40);
  padding: 0;
  margin: sp-vw(10) auto 0;
  font-size: sp-vw(18);
  font-weight: 700;
  color: #{$color-white};
  cursor: pointer;
  background: #{$color-pink};
  border: none;
  border-radius: sp-vw(20);
}

.button-icon {
  top: sp-vw(556);
  left: sp-vw(133);
  width: sp-vw(17);
  height: sp-vw(17);
}
