@use "../foundation/variables" as var;

.p-features {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__4features {
    text-align: center;
    font-size: 24px;
    margin-bottom: 53px;
    font-weight: var.$bold;
  }

  &__featureslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      width: 570px;
      height: 180px;
      background-color: var.$bgLightPink;
      margin: 20px;
      text-align: center;
      border-radius: 15px;

      &:first-child,
      &:nth-child(2){
        margin-top: 0;
      }

      &:last-child,
      &:nth-child(3){
        margin-bottom: 0;
      }
      
    }

    div {
      font-size: 20px;
      font-weight: var.$bold;
      margin-top: 40px;
      margin-bottom: 36px;
      color: var.$pink;
    }

    span {
      line-height: 20.27px;
      font-size: 15px;
      font-family: 'Noto Sans JP', sans-serif;    }
  }
}
