@use '../object/utility/utility.scss';
// footerのスタイルを記述するファイル

.l-footer {
  margin-top: 200px;
  background-color: utility.$skyblue;
  padding-top: 55px;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  &__link {
    &__top {
      margin-top: 24px;
    }
    &__nav {
      margin-top: 27px;
      margin-left: 39px;
      &:first-child {
        margin-left: 0;
      }
      &__inner {
        display: flex;
        margin-right: 39px;
      }
      &__item {
        line-height: 36px;
      }
    }
  }

  &__banner {
    &__item {
      &:last-child{
        margin-top: 15px;
      }
    }
  }

  &__copyright {
    background-color: utility.$gray;
    vertical-align: middle;
      &__text {
        text-align: center;
        line-height: 35px;
      }
  }
}
