@use '../object/utility/utility.scss' as uty;
// footerのスタイルを記述するファイル

.l-footer {
  background-color: uty.$ash;
  margin-top: 200px;

  @include uty.tab {
    width: 1199px;
  }
  @include uty.sp {
    width: 100%;
    margin-top: 1rem;
  }
  &__footer {
    position: relative;
    height: 265px;
    width: 100%;

    @include uty.sp {
      height: 4.43rem;
    }
    & a {
      color: uty.$black;
    }
    &__top {
      position: absolute;
      top: 79px;
      left: 210px;
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;

      @include uty.sp {
        top: .38rem;
        left: .5rem;
        font-size: .16rem;
        line-height: .23rem;
      }
    }
    &__pictures {
      position: absolute;
      top: 55px;
      right: 210px;

      @include uty.sp {
        display: block;
        width: 3.2rem;
        top: 2.18rem;
        left: .4rem;
      }
      &__picture {
        display: block;
        width: 100%;

        &-bottom {
          margin-top: 15px;
          width: 100%;
        }
      }
    }
    &__nav {
      position: absolute;
      top: 129px;
      left: 215px;
      display: flex;
      font-size: 16px;
      font-weight: 400;
      line-height: 36px;

      @include uty.sp {
        top: .88rem;
        left: .55rem;
        font-size: .16rem;
        line-height: .32rem;
      }
      &-margin {
        margin-left: 39px;
      }
    }
  }
}