@use "../foundation/variables" as var;

.p-gizujob {
  display: block;
  position: relative;
  background-size: 100%;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

  &__gizujobimg {
    display: block;
    z-index: 2;
    object-fit: cover;
    width: 100%; 
    height: 100%;
  }

  &__gizujobtext {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var.$white;  
    text-align: center;
    z-index: 3; 
    margin-bottom: 103px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: var.$bold;
  }

  br {
    display: block;
    margin: 21px;
    content: "";
  }
}
