@use '../object/utility/utility.scss';
// innerのスタイルを記述するファイル
.wrapper {
  width: 1180px;
  margin: 0 auto;
}

.l-main {
  padding-top: 100px;
}

.l-spbreak-line {
  display: none;
}

@include utility.tab {
  .wrapper {
    width: calc(100% - 0.15rem);
  }

  .l-main {
    padding-top: 1rem;
  }
}

@include utility.sp {
  .wrapper {
    width: calc(100% - 0.15rem);
  }

  .l-main {
    padding-top: 0.7rem;
  }

  .l-pcbreak-line {
    display: none;
  }

  .l-spbreak-line {
    display: block;
  }
}