@use '../object/utility/utility.scss';
@import '../foundation/variables.scss';

// innerのスタイルを記述するファイル
.l-inner {
  width: 1200px;
  margin: 0 auto;
}

.l-background {
  &__key {
    background-color: $gray;
  }

  &__search {
    background-color: $white;
  }

  &__news {
    background-color: $pale-blue;
    padding-bottom: 67px;
  }

  &__middle {
    background-image: url(../img/picture/middle-picture.png);
    width: 100%;
    height: 300px;
    position: relative;
  }

  &__content {
    background-color: $white;
  }
}

.l-title {

  &__content {
    color: $black;
    font-size: 25px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    padding-top: 106px;
    display: block;
    text-align: center;
  }
}

// news
.l-news {
  &__box {
    padding-top: 64px;
    padding-bottom: 188px;

    &__title {
      width: 100px;
      height: 30px;
    }
  }

  &__btn-wrap {
    text-align: center;

    & a :hover {
      opacity: .8;
      transition: .3s;
    }

    &__btn {
      width: 360px;
      height: 60px;
      display: inline-block;
    }
  }

}

// content
.l-content {
  &__main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 50px;
  }

  &__contents {

    &__btn-wrap {
      text-align: center;

      & a:hover {
        opacity: .8;
        transition: .3s;
      }

      &__btn {
        display: inline-block;
        margin-top: 101px;
        text-align: center;
        width: 420px;
        height: 60px;

        &__text {
          padding-top: 21px;
        }
      }
    }
  }
}

.l-search__bottom {
  margin-top: 150px;
}