@use '../object/utility/utility.scss';
@use '../object/utility/utility' as base;

// innerのスタイルを記述するファイル
.l-inner {
  width: 1180px;
  margin: 0 auto;
  @include utility.tab {
    width: 11.8rem;
  }
  @include utility.sp {
    width: 3.2rem;
    flex-direction: column;
  }
  &.is-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include utility.sp {
      flex-direction: column;
    }
  }
};

.inner {
  padding: 0px 210px 0px;
  @include base.sp {
    padding: 0%;
  };
};


// ---キービジュアル---
.keyvisual_box {
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  background-color: utility.$bgDarkBlue;
  flex-shrink: 0;
  @include utility.sp {
    width: 400px;
    height: 270px;
  };
};

.keyvisual_inner {
  position: relative;
  width: 100%;
  display: flex;
};

.keyvisual_photo_pc {
  position: absolute;
  width: 1262px;
  height: 500px;
  flex-shrink: 0;
  @include utility.sp {
    object-fit: cover;
    width: 400px;
    height: 270px;
    aspect-ratio: 4 / 2.7;
  };
};

// @media only screen and (max-width: 767px) {
//   .keyvisual_photo_pc { display: none !important; }
//   .keyvisual_photo_sp { display: block !important; }
// };

.keyvisual_wrapper {
  position: absolute;
  display: flex;;
  flex-direction: column;
  align-items: center;
  margin-left: 432px;
  @include utility.sp {
    margin-left: 124px;
  };
};

.ranking {
  display: flex;
  align-items: center;
  @include base.sp {
    margin-top: 70px;
  };
};

.parentheses {
  @include base.sp {
    height: 62px;
  };
};

.no1 {
  @include base.sp {
    width: 100px;
  };
};

.bestsite {
  margin-top: 91px;
  @include base.sp {
    display: none;
  };
};



.keyvisual_title {
  margin-top: 40px;
  @include base.sp {
    width: 272px;
    margin-top: 12.65px;
  };
};

// .keyvisual_title {
//   color: utility.$white;
//   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   font-family: DM Sans;
//   font-size: 50px;
//   font-style: normal;
//   font-weight: utility.$bold;
//   line-height: normal;
//   position: absolute;
//   margin-top: 265px;
// };

.keyvisual_publish {
  color: utility.$Green;
  font-family: Noto Sans JP;
  font-size: 20px;
  font-style: normal;
  font-weight: utility.$regular;
  line-height: normal;
  position: absolute;
  margin-top: 384px;
  background-color: utility.$white;
  width: 391px;
  height: 69px;
  border-radius: 10px;
  border: 2.3px solid utility.$Green;
  text-align: center;
  @include base.sp {
    margin-top: 188px;
    width: 170px;
    height: 30px;
    font-size: 8px;
  };
};

.keyvisual_publish span {
  font-size: 40px ;
  font-weight: 700;
  @include base.sp {
    font-size: 16px ;
  };
};

.keyvisual_font6 {
  color: utility.$Green;
  font-family: Noto Sans JP;
  font-size: 40px;
  font-style: normal;
  font-weight: utility.$bold;
  line-height: normal;
  position: absolute;
  @include base.sp {

  };
};


// <!-- お仕事検索 -->

.select_box {
  padding-top: 60px;
  padding-bottom: 60px;
  @include base.sp {
    padding: 25px 15px 25px 15px;
  };
};

.select_box_inner {
  width: 1180px;
  height: 240px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: utility.$bgBlue;
  @include base.sp {
    width: 370px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
  };
};

.clearfix:after {
  display: block;
  content: "";
  clear: both;
};

.select_title {
  color: utility.$black;
  font-family: Noto Sans JP;
  font-size: 25px;
  font-style: normal;
  font-weight: utility.$bold;
  line-height: 25px;
  text-align: center;
  @include base.sp {
    width: 110px;
    height: 22px;
    font-size: 22px;
    margin: 0 auto;
  };
};

.select_subtitle {
  color: utility.$black;
  font-family: Noto Sans JP;
  font-size: 20px;
  font-style: normal;
  font-weight: utility.$regular;
  line-height: normal;
  padding-top: 20px;
  text-align: center;
  @include base.sp {
    font-size: 14px;
    padding-top: 16px;
  };
};

.select_button_box {
  margin-top: 20px;
  @include base.sp {
    margin-top: 13px;
  };
};

.select_button {
  float: left;
  margin-left: 15px;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  font-family: Noto Sans JP;
  font-size: 18px;
  border: 1px solid utility.$borderPink;
  padding: 17px 0px 17px 15px;
  appearance: none;
  // -webkit-appearance: none;
  @include base.sp {
    width: 100px;
    height: 30px;
    font-size: 12px;
    padding: 6px 0px 7px 8px;
    line-height: 17.38px;
  };
};

.select_button:first-child {
  margin-left: 25px;
    @include base.sp {
    width: 100px;
    height: 30px;
    font-size: 12px;
    padding: 6px 0px 7px 8px;
    line-height: 17.38px;
  };
};

.search_form {
  width: 300px;
  height: 60px;
  font-family: Noto Sans JP;
  font-size: 18px;
  border: 01px solid utility.$borderPink;
  padding: 17px 20px 17px 10px;
  border-radius: 10px;
  margin-left: 15px;
  @include base.sp {
    margin-top: 15px;
    width: 320px;
    height: 30px;
    margin-left: 0px;
  };
};


.search_button {
  margin-left: 15px;
  border-radius: 50px;
  width: 140px;
  height: 60px;
  background-color: utility.$pink;
  font-family: Noto Sans JP;
  font-size: 18px;
  font-weight: utility.$bold;
  color: utility.$white;
  border: none;
  @include base.sp {
    width: 160px;
    height: 40px;
    font-family: Noto Sans JP;
    margin-left: 0px;
    margin-top: 19px;
  };
};


// .triangle {
//     width: 0;
//     height: 0;
//     border-right: 50px solid transparent;
//     border-left: 50px solid transparent;
//     border-top: 50px solid utility.$borderPink;
//   };




// ----新着求人----
.news_box {
  width: 1600px;
  height: 636px;
  flex-shrink: 0;
  background-color: utility.$bgLightBlue;;
  padding-top: 64px;
  padding-bottom: 67px;
  @include base.sp {
    padding-top: 30px;
    padding-bottom: 60px;
  };
};

.news_title {
  color: utility.$black;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: utility.$regular;
  line-height: normal;
  @include base.sp {
    font-weight: 700;
  };
};

.news_font2 {
  color: utility.$black;
  font-family: Noto Sans JP;
  font-size: 16px;
  font-style: normal;
  font-weight: utility.$regular;
  line-height: 22px;
  margin-top: 8.08px;
  margin-bottom: 6.92px;
  width: 280px;
};

.news_font4 {
  color: utility.$black;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: utility.$regular;
  line-height: normal;
  margin-left: 10px;
};

.recrut_back {
  position: relative;
};

.recruit_allphoto {
  margin-top: 25px;
};

.recruit_photo {
  margin-left: 20px;
  float: left;
};

.recruit_photo:first-child {
  margin-left: 0px;
};

.pink_back a {
  width: 60px;
  height: 21px;
  background: utility.$bgPink;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 4px;
};

.pink_back:first-child {
  margin-top: 0px;
};

.recruit_detail {
  display: flex;
};

.news_button {
  font-family: Noto Sans JP;
  font-size: 18px;
  font-weight: utility.$bold;
  color: utility.$white;
  background-color: utility.$pink;
  width: 360px;
  height: 60px;
  border-radius: 50px;
  margin-top: 59px;
  border: none;
  @include base.sp {
    width: 370px;
    font-weight: 700;
  };
};

.news_button_wrapper {
  text-align: center;
};


// <!-- ギズジョブ -->
.gizjob_box {
  width: 1600px;
  height: 300px;
  flex-shrink: 0;
  position: relative;
  @include base.sp {
    width: 400px;
    height: 75px;
  };
};


.gizjob_photo {
  width: 1600px;
  height: 300px;
  flex-shrink: 0;
  position: absolute;
  @include base.sp {
    width: 400px;
    height: 75px;
  };
  };

.filter {
  width: 1600px;
  height: 300px;
  flex-shrink: 0;
  position: relative;
  float: left;
  @include base.sp {
    width: 400px;
    height: 75px;
  };
};

.gizjob_text {
  position: absolute;
  color: utility.$white;
  font-family: Noto Sans JP;
  font-size: 25px;
  font-style: normal;
  font-weight: utility.$bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  @include base.sp {
    font-size: 14px;
    width: 349px;
    font-family: Noto Sans JP;
    font-weight: 400;
    line-height: 20.27px;
  };
};

.gizjob_text p:last-child {
  margin-top: 21px;
  @include base.sp {
    margin-top: 2.36px;
  };
};


// <!-- 4つの特徴 -->
.features_box {
  padding-top: 106px;
  padding-bottom: 105px;
  @include base.sp {
    padding-top: 55px;
    padding-bottom: 60px;
  };
};

.features {
  width: 570px;
  height: 180px;
  background-color: utility.$lightPink;
  padding-top: 40px;
  margin-top: 40px;
  float: left;
  border-radius: 10px;
  @include base.sp {
    padding-top: 30px;
    margin-top: 21px;
    float: none;
    width: 370px;
    height: 144px;
  };
};

.features:nth-child(2n) {
  margin-left: 40px;
  @include base.sp {
    margin-left: 0px;
  };
};

.features_font {
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: utility.$bold;
  line-height: 24px;
  color: utility.$pink;
  text-align: center;
  @include base.sp {
    font-size: 20px;
  };
};

.features_detail {
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: utility.$regular;
  line-height: 20px;
  text-align: center;
  margin-top: 30px;
  width: 447px;
  @include base.sp {
    font-size: 12px;
    width: 349px;
  };
};

.features_title {
  color: utility.$black;
  font-family: Noto Sans JP;
  font-size: 25px;
  font-style: normal;
  font-weight: utility.$bold;
  line-height: 25px; /* 100% */
  text-align: center;
  @include base.sp {
    margin-bottom: 17px;
  };
};


// <!-- 転職までの流れ -->
.flow_box {
  padding-bottom: 106.13px;
  @include base.sp {
    padding-bottom: 60px;
  };
};

.all_flow {
  display: flex;
  align-items: center;
  @include base.sp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  };
};


.flow {
  float: left;
  margin-top: 50px;
  width: 280px;
  height: 360px;
  border: 2.27px solid utility.$pink;
  border-radius: 10px;
  @include base.sp {
    margin-top: 39px;
    height: 293px;
  };
};


.flow:first-child {
  margin-left: 0;
};

.circle {
  border-radius: 50px;
  width: 60px;
  height: 60px;
  background-color: utility.$pink;
  color: utility.$white;
  text-align: center;
  line-height: 60px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: utility.$bold;
  @include base.sp {
    width: 45px;
    height: 45px;
    font-size: 10px;
  };
};

.flow_title {
  color: utility.$black;
  font-family: "Noto Sans JP";
  font-size: 25px;
  font-style: normal;
  font-weight: utility.$bold;
  line-height: 25px; /* 100% */
  text-align: center;
};

.flow_pic {
  width: 102.29px;
  height: 100px;
  margin-top: 60px;
  margin-left: 27px;
  @include base.sp {
    width: 75px;
    height: 75px;
    margin-top: 55px;
    margin-left: 45px;
  };
};

.flow_font {
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: utility.$bold;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include base.sp {
    font-size: 20px;
    margin-top: 22px;
    height: 10px;
  };
};

.flow_text {
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: utility.$regular;
  line-height: 20.27px;
  margin-top: 18px;
  padding: 0px 22px 0px 22px;
  @include base.sp {
    padding: 0px 20px 0px 20px;
  };
};


// <!-- 転職お役立ちコンテンツ -->
.all_information {
  display: flex;
  @include base.sp {
    flex-direction: column;
  };
};

.information_button {
  font-family: Noto Sans JP;
  font-size: 18px;
  font-weight: utility.$bold;
  color: utility.$white;
  background-color: utility.$pink;
  width: 420px;
  height: 60px;
  border-radius: 50px;
  margin-top: 80px;
  border: none;
  @include base.sp {
    width: 370px;
    height: 60px;
  };
};

.information_button_wrapper {
  text-align: center;
};

.information_title {
  color: utility.$black;
  font-family: "Noto Sans JP";
  font-size: 25px;
  font-style: normal;
  font-weight: utility.$bold;
  line-height: 25px; /* 100% */
  text-align: center;
};

.information {
  margin-top: 50px;
  margin-left: 20px;
  @include base.sp {
    margin-top: 17.5px;
    margin-left: 0px;
  };
};

.information:first-child {
  margin-left: 0;
};

.information_text {
  position: absolute;
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: utility.$bold;
  line-height: 24px;
  text-align: left;
  color: utility.$white;
};

.information_text p:last-child {
  width: 256px;
  height: 46px;
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 400px;
  line-height: 23.17px;
  text-align: center;
  color: utility.$white;
};

.contents_pic {
  position: absolute;
  width: 380px;
  height: 240px;
};

.contents_cover {
  position: relative;
  width: 380px;
  height: 240px;
};

// お仕事検索
.second_select_box {
  padding-top: 150px;
  padding-bottom: 200px;
  @include base.sp {
    padding-top: 60px;
  padding-bottom: 100px;
  };
};



/*スマホサイズだけ*/
@include base.sp {
  .arrow img {
    display: none;
  };

};