@use '../object/utility/utility.scss' as util;
// innerのスタイルを記述するファイル

.l-main {
  margin-top: 100px;
  @include util.tab {
    margin-top: 1rem;
  }
  @include util.sp {
    margin-top: 70px;
  }
}

.l-main__sp-menu {
  display: none;

  @include util.sp {
    position: fixed;
    z-index: 1000;
    width: 100%;
    right: -100%;
    padding: 0.5rem;
    background-color: util.$nav;
    display: flex;
    flex-flow: column;
    transition: .4s;
    padding-bottom: 2.5rem;

    &.active {
      right: 0;
    }

    &__link {
      font-size: 0.2rem;
      font-weight: util.$bold;
      color: util.$white;
      line-height: 0.2rem;
      transition: .3s;
      margin-top: 0.3rem;

      &:first-child {
        margin-top: 0;
      }


      &:hover {
        opacity: .8;
      }
    }
  }
}



