@use '../object/utility/utility.scss';
// mainのスタイルを記述するファイル

.l-main {
  margin-top: 100px;
  background-color: #98B1BE;
  &__no1 {
    position: absolute;
    top: 56.49px;
    left: 655px;

    &__large-img {
      display: block;
    }
    &__small-img {
      display: none;
    }
  }
  
  &__wrapper {
    position: relative;
    width: 1262px;
    margin: auto;
    
    &__large-img {
      display: block;
    }
    &__small-img {
      display: none;
    }
  }

  &__contents {
    text-align: center;
    position: absolute;
    top: 0;
    left: 432px;


    &__title {
      font-size: 50px;
      line-height: 65px;
      color: #FFFFFF;
      margin-top: 265px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    };
    
    &__button {
      width: 391px;
      height: 69px;
      margin-top: 54px;
      font-size: 20px;
      line-height: 29px;
      color: #2EB6AA;
      background-color: #FFFFFF;
      border: 2.3px solid #2EB6AA;
      border-radius: 10px;
      padding: 0;
      cursor: pointer;
      span {
        font-weight: bold;
        font-size: 40px;
      }
    }
  }
}


@media screen and (max-width:767px) {

  .l-main {

    &__no1 {
      top: 61.64px;
      left: 196px;

      &__large-img {
        display: none;
      }
      &__small-img {
        display: block;
      }
    }
    
    &__wrapper {
      width: 400px;
      
      &__large-img {
        display: none;
      }
      &__small-img {
        display: block;
      }
    }
  
    &__contents {
      left: 124.68px;
  
  
      &__title {
        font-size: 17px;
        line-height: 22px;
        margin-top: 147.65px;
      }
      
      &__button {
        width: 170px;
        height: 30px;
        margin-top: 22.35px;
        margin-left: 30px;
        font-size: 8px;
        line-height: 12px;
        span {
          font-size: 16px;
        }
      }
    }
  }

}