@use "../foundation/variables" as var;

.p-offer {
  margin-top: 60px;
  height: 636px;
  background-color: var.$bgLightBlue;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  width: 100%;
  h1 {
    font-size: 25px;
    padding-top: 64px;
    display: block;
  }
  li {
    margin-top: 25px;
    width: 280px;
  }
  &__box {
    h2 {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__grid {
    font-size: 14px;
    height: 21px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 60px 1fr;
    grid-template-rows: auto auto 21px 21px 21px;
    grid-template-areas:
      "image image"
      "description description"
      "title1 text1"
      "title2 text2"
      "title3 text3";
    gap: 8px 10px;
    justify-content: center;

    &__grid-image {
      grid-area: image;
    }
    &__grid-description {
      grid-area: description;
    }
    &__grid-title1 {
      grid-area: title1;
    }
    &__grid-title2 {
      grid-area: title2;
    }
    &__grid-title3 {
      grid-area: title3;
    }
    &__grid-text1 {
      grid-area: text1;
    }
    &__grid-text2 {
      grid-area: text2;
    }
    &__grid-text3 {
      grid-area: text3;
    }

    h3 {
      background-color: var.$lightPink;
      display: grid;
      place-items: center;
    }

    p {
      display: grid;
      align-items: center;
    }
  }
}
