@use "../foundation/variables" as var;
@use "../object/component/button.scss" as but;

.p-search{
  width: 1180px;
  height: 240px;
  background-color: var.$bgWhite;
  margin: 40px 210px;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 15px;
  text-align: center;
  padding: 60px;
  
  &__flex{
    display: flex;
    margin-top: 26px;

    &__triangle{
      position: relative;
      &::after{
        z-index: 50;
        content: "";
        position: absolute;
        width: 20px;
        height: 10px;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        border-top: 10px solid var.$pink;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;

      }
    }
  }
  
  &__searchjob{
    display: block;
    font-weight: var.$bold;
    font-size: 25px;
    margin-bottom: 20px;
  }

  &__selectjob{
    font-size: 20px;
  }
  
  &__pulldown{
    width: 200px;
    height: 60px;
    border: 1px solid var.$pink;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 200;
    padding-left: 15px;
    appearance: none;
    margin-right: 15px;

  }


  &__input{
    width: 300px;
    height: 60px;
    border: 1px solid var.$pink;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 17px;
    margin-right: 15px;
  }

  &__button{
    width: 140px;
    height: 60px;
    border-radius: 30px;
    background-color: var.$pink;
    font-size: 17px;
    font-weight: var.$bold;
    border:none;
    color: var.$white;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: 0.3s;
    }
  }

  &__img{
    width: 29.98px; 
    height: 29.98px;
  }

  

}