@use '../object/utility/utility.scss';

.l-span-pc {
  display: block;
}
.l-span-sp {
  display: none;
}

@media screen and (width <=767px) {
  .l-span-pc {
    display: none;
  }
  .l-span-sp {
    display: inline;
  }
}