@use '@/styles' as *;

.main {
  width: $design-sp-width;
  margin: 0 auto;
  @include media-pc {
    width: $design-pc-width;
  }
}

.inner {
  width: $inner-sp-max-width;
  margin: 0 auto;
  @include media-pc {
    width: $inner-pc-max-width;
  }
}

.job-changes {
  @include media-pc {
    display: flex;
    gap: 15;
    justify-content: center;
  }
}

.job-changes-contents {
  width: $inner-sp-max-width;
  margin-top: clamp(rem(40), sp-vw(60), rem(80));
  margin-bottom: sp-vw(35);
  font-size: clamp(rem(16), sp-vw(25), rem(32));
  font-weight: bold;
  text-align: center;
  @include media-pc {
    width: $inner-pc-max-width;
    margin-top: clamp(rem(40), pc-vw(105), rem(80));
    margin-bottom: pc-vw(60);
    font-size: pc-vw(25);
  }
}

.job-change-container {
  position: relative;
  width: sp-vw(370);
  height: sp-vw(235);
  padding: clamp(rem(25), sp-vw(60), rem(35)) 0;
  margin: 0 auto;
  margin-bottom: clamp(rem(16), sp-vw(21), rem(30));
  background-image: url('/image/jobchange.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: sp-vw(5);
  @include media-pc {
    width: pc-vw(380);
    height: pc-vw(240);
    padding: clamp(rem(25), pc-vw(60), rem(35)) 0;
    margin: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    z-index: 1;
    width: sp-vw(370);
    height: sp-vw(235);
    content: '';
    background-color: $color-black;
    border-radius: sp-vw(5);
    opacity: 0.5;
    @include media-pc {
      width: pc-vw(380);
      height: pc-vw(240);
    }
  }

  &:nth-child(2) {
    background-image: url('/image/Trivia.png');
  }

  &:nth-child(4) {
    margin-bottom: 0;
  }
}

.content-title {
  position: relative;
  z-index: 2;
  width: sp-vw(370);
  height: sp-vw(20);
  font-size: sp-vw(20);
  font-weight: bold;
  color: $color-white;
  text-align: center;
  @include media-pc {
    width: pc-vw(380);
    height: pc-vw(24);
    font-size: pc-vw(24);
  }
}

.content-text {
  position: relative;
  z-index: 2;
  width: sp-vw(252);
  height: sp-vw(40);
  margin: clamp(rem(40), sp-vw(74), rem(90)) auto 0;
  font-size: sp-vw(14);
  line-height: rem(17);
  color: $color-white;
  text-align: center;
  @include media-pc {
    width: pc-vw(256);
    height: pc-vw(46);
    margin: clamp(rem(40), pc-vw(44), rem(90)) auto 0;
    font-size: pc-vw(16);
  }
}

.column-button-container {
  @include media-pc {
    width: $inner-pc-max-width;
    text-align: center;
  }
}

.column-button {
  width: sp-vw(370);
  height: sp-vw(60);
  padding: 0.75rem 0;
  margin-top: sp-vw(35);
  margin-bottom: sp-vw(60);
  font-size: sp-vw(18);
  font-weight: bold;
  color: $color-white;
  text-align: center;
  background-color: $color-peach;
  border-radius: sp-vw(50);
  @include media-pc {
    width: pc-vw(420);
    height: pc-vw(60);
    margin-top: pc-vw(120);
    margin-bottom: pc-vw(150);
    font-size: pc-vw(18);
  }
}

.column-button:hover {
  opacity: 0.7;
}
