@use '@/styles' as *;

.section {
  margin-bottom: pc-vw(91);

  &-inner {
    width: pc-vw($inner-pc-max-width);
    height: pc-vw(455);
    margin: pc-vw(105) pc-vw(210) 0;
  }

  &-text {
    margin-bottom: pc-vw(50);
    font-size: clamp(rem(20), pc-vw(25), rem(29));
    font-style: bold;
    font-weight: 700;
    text-align: center;
  }

  &-container {
    display: flex;
    gap: pc-vw(20);
    align-items: center;
    justify-content: center;
  }

  &-box {
    width: pc-vw(380);
    height: pc-vw(240);
    background-image: url('/images/content2.png');
    background-position: center;
    background-size: cover;
    border-radius: pc-vw(10);

    &:nth-child(2) {
      background-image: url('/images/content1.png');
    }
  }

  &-subbox {
    height: pc-vw(240);
    background-color: rgb(0 0 0 / 50%);
    border-radius: pc-vw(10);
  }

  &-subtitle {
    padding: pc-vw(71) 0 pc-vw(44);
    font-size: clamp(rem(18), pc-vw(24), rem(29));
    font-style: bold;
    font-weight: 700;
    color: $color-white;
    text-align: center;
  }

  &-description {
    position: relative;
    right: pc-vw(3);
    font-size: clamp(rem(10), pc-vw(16), rem(19));
    font-weight: 400;
    line-height: 1.45;
    color: $color-white;
    text-align: center;
  }
}

.button-wrapper {
  padding-top: pc-vw(80);
  text-align: center;
}

.button {
  width: pc-vw(420);
  height: pc-vw(60);
  padding: pc-vw(16) pc-vw(40);
  margin: 0 auto;
  font-size: clamp(rem(13), pc-vw(18), rem(22));
  font-weight: 700;
  color: $color-white;
  cursor: pointer;
  background-color: $color-peach;
  border-radius: pc-vw(30);
}
