@use '@/styles' as *;

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: sp-vw(75);
  background-image: url('/banner.jpg');
  background-position: center;
  background-size: cover;
  @include media-pc {
    height: pc-vw(300);
  }
}

.banner::before {
  position: absolute;
  inset: 0;
  content: '';
  background-color: $color-black;
  opacity: 0.5;
}

.text {
  position: relative;
  font-size: sp-vw(14);
  line-height: 1.5;
  color: $color-white;
  text-align: center;
  @include media-pc {
    font-size: pc-vw(25);
    line-height: pc-vw(46);
  }
}

.text-bold {
  display: block;
  @include media-pc {
    font-weight: 700;
  }
}

.text-normal {
  @include media-pc {
    font-weight: 400;
  }
}
