@use '@/styles' as *;

.banner-inner {
  position: relative;
}

.banner-bg {
  display: block;
}

.banner-inner::before {
  position: absolute;
  inset: 0;
  content: '';
  background-color: rgba($color-black, 0.5);
}

.banner-heading {
  position: absolute;
  top: sp-vw(17);
  left: sp-vw(60);
  font-size: sp-vw(14);
  color: $color-white;
  @include media-pc {
    top: pc-vw(111);
    left: pc-vw(548);
    font-size: pc-vw(25);
    font-weight: 700;
  }
}

.banner-text {
  position: absolute;
  top: sp-vw(39);
  left: sp-vw(26);
  font-size: sp-vw(14);
  color: $color-white;
  @include media-pc {
    top: pc-vw(168);
    left: pc-vw(487);
    font-size: pc-vw(25);
    font-weight: 700;
  }
}
