@use '@/styles' as *;

.jobopening-container {
  width: 100vw;
  padding-top: sp-vw(30);
  padding-bottom: sp-vw(60);
  text-align: center;
  scroll-margin-top: sp-vw(70);
  background-color: #{$color-soft-skyblue};

  @include media-pc {
    padding: pc-vw(64) pc-vw(210);
    text-align: left;
  }
}

.jobopening-title {
  margin-bottom: sp-vw(35);
  font-size: sp-vw(25);
  font-weight: 700;

  @include media-pc {
    margin-bottom: pc-vw(25);
    font-size: pc-vw(25);
    font-weight: 400;
  }
}

.jobopening-content {
  position: relative;
  width: 95%;
  margin: 0 auto;

  @include media-pc {
    width: 100%;
  }
}

.custom-next,
.custom-prev {
  position: absolute;
  top: 40%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(42);
  height: sp-vw(42);
  cursor: pointer;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
  transform: translateY(-50%);

  @include media-pc {
    top: 25%;
    width: pc-vw(60);
    height: pc-vw(60);
  }
}

.custom-prev {
  left: 0;
}

.custom-next {
  right: 0;
}

.custom-prev-svg {
  transform: rotate(180deg);
}

.custom-prev-svg,
.custom-next-svg {
  width: sp-vw(7);

  @include media-pc {
    width: pc-vw(15);
  }
}

.jobopening-img {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: sp-vw(10);
  border-radius: 15px;

  @include media-pc {
    width: auto;
    height: auto;
    margin-bottom: pc-vw(8);
  }
}

.jobopening-heading {
  margin-bottom: sp-vw(20);
  font-size: sp-vw(16);
  font-weight: 700;
  line-height: 1.5;
  text-align: left;

  @include media-pc {
    width: auto;
    margin-bottom: pc-vw(7);
    font-size: pc-vw(16);
    font-weight: 400;
  }
}

.row {
  display: flex;
  height: sp-vw(20);
  margin-bottom: sp-vw(4);
  font-size: sp-vw(14);
  line-height: sp-vw(20);

  @include media-pc {
    width: auto;
    height: pc-vw(20);
    margin-bottom: pc-vw(4);
    font-size: pc-vw(14);
    font-weight: 400;
    line-height: pc-vw(20);
  }
}

.row:last-child {
  margin-bottom: 0;
}

.row-title {
  width: sp-vw(60);
  margin-right: sp-vw(21);
  background-color: #{$color-light-pink};

  @include media-pc {
    width: pc-vw(60);
    margin-right: pc-vw(21);
    text-align: center;
  }
}

.detail-button {
  width: 100%;
  padding: sp-vw(21) sp-vw(13);
  margin-top: sp-vw(44);
  font-size: sp-vw(18);
  color: #{$color-white};
  text-align: center;
  background-color: #{$color-pink};
  border-radius: sp-vw(50);

  @include media-pc {
    display: flex;
    width: pc-vw(360);
    padding: pc-vw(17) pc-vw(72);
    margin: 0 auto;
    margin-top: pc-vw(60);
    font-size: pc-vw(18);
  }
}
