@use '@/styles' as *;
@use '@/styles/functions' as *;

.news {
  padding: sp-vw(30) sp-vw(0) sp-vw(60);
  background-color: #{$color-white-blue};

  @include media-pc {
    padding: pc-vw(70) pc-vw(0);
  }
}

.news-title {
  margin-bottom: sp-vw(30);
  font-size: sp-vw(22);
  font-weight: 700;
  text-align: center;

  @include media-pc {
    margin-bottom: pc-vw(30);
    font-size: pc-vw(25);
    font-weight: 400;
    text-align: left;
  }
}

.news-swiper {
  position: relative;
  overflow: hidden;

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    position: absolute;
    top: sp-vw(200);
    right: 0;
    width: sp-vw(50);
    height: sp-vw(50);
    background: #{$color-white-opacity-70};
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  :global(.swiper-button-prev) {
    left: 0;
  }

  @include media-pc {
    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      top: pc-vw(100);
      display: flex;
      width: pc-vw(50);
      height: pc-vw(50);

      &:hover {
        background: #{$color-white-opacity-50};
      }
    }
  }

  :global(.swiper-button-prev svg),
  :global(.swiper-button-next svg) {
    width: sp-vw(20);
    height: sp-vw(20);
    color: #{$color-black};
    fill: #{$color-black};

    @include media-pc {
      width: pc-vw(20);
      height: pc-vw(20);
    }
  }
}

.job-card {
  margin-top: sp-vw(0);

  @include media-pc {
    margin-top: pc-vw(0);
  }
}

.job-title {
  margin-top: sp-vw(10);
  font-size: sp-vw(16);
  font-weight: 700;
  line-height: sp-vw(20);

  @include media-pc {
    margin-top: pc-vw(10);
    font-size: pc-vw(16);
    font-weight: 400;
    line-height: pc-vw(20);
  }
}

.job-details {
  margin-top: sp-vw(11);

  @include media-pc {
    margin-top: pc-vw(7);
  }
}

.detail-item {
  display: flex;
  gap: sp-vw(21);
  margin-top: sp-vw(4);

  @include media-pc {
    gap: pc-vw(10);
    margin-top: pc-vw(4);
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(68);
  height: sp-vw(21);
  font-size: sp-vw(14);
  background-color: #{$color-light-pink};

  @include media-pc {
    width: pc-vw(60);
    height: pc-vw(21);
    font-size: pc-vw(14);
  }
}

.text {
  display: flex;
  align-items: center;
  font-size: sp-vw(14);

  @include media-pc {
    font-size: pc-vw(14);
  }
}

.news-button {
  margin-top: sp-vw(44);
  text-align: center;

  @include media-pc {
    margin-top: pc-vw(59);
  }
}
