@use '@/styles' as *;

.section {
  width: 100%;
  height: sp-vw(270);
  scroll-margin-block-start: sp-vw(70);
  background-image: url('/images/mainvisual.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include media-pc {
    height: pc-vw(500);
    background-color: #{$color-navy};
    background-image: url('/images/mainvisual_pc.jpg');
    background-position: 50% 33%;
    background-size: pc-vw(1180) auto;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;

  &_key_img {
    display: block;
    width: sp-vw(149);
    margin-top: sp-vw(61);
    margin-right: sp-vw(45);
    @include media-pc {
      display: none;
    }
  }

  &_text_img {
    width: sp-vw(272);
    margin-top: sp-vw(12);
    margin-right: sp-vw(-15);
    @include media-pc {
      display: none;
    }
  }

  &_text {
    padding: sp-vw(5) sp-vw(24) sp-vw(4);
    margin-top: sp-vw(18);
    margin-right: sp-vw(25);
    font-size: sp-vw(8);
    font-weight: 400;
    color: #{$color-light-green};
    background-color: #{$color-white};
    border: 1px solid #{$color-light-green};
    border-radius: 6px;
    @include media-pc {
      padding: pc-vw(13) pc-vw(41);
      margin-top: pc-vw(54);
      margin-right: pc-vw(236);
      font-size: pc-vw(20);
    }

    &_span {
      font-size: sp-vw(16);
      font-weight: 700;
      @include media-pc {
        font-size: pc-vw(40);
      }
    }
  }
}

.pc-key {
  display: none;
  @include media-pc {
    display: block;
    width: pc-vw(341);
    margin-top: pc-vw(63);
    margin-right: pc-vw(265);
  }
}

.pc-text {
  display: none;
  @include media-pc {
    display: block;
    width: pc-vw(800);
    margin-top: pc-vw(30);
    margin-right: pc-vw(30);
  }
}
