@use '@/styles' as *;

.search {
  display: flex;
  flex-direction: column;
  gap: sp-vw(15);
  padding: sp-vw(15);
  margin: sp-vw(25) auto;
  text-align: center;
  background-color: $color-light-sky-blue;
  border-radius: 15px;

  &_title {
    font-size: sp-vw(22);
    font-weight: 700;
  }

  &_text {
    font-size: sp-vw(14);
    font-weight: 400;
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: sp-vw(15);

    &_selects {
      display: flex;
      gap: sp-vw(15);
      justify-content: center;
    }

    &_select {
      align-items: center;
      padding-left: sp-vw(8);
      font-size: sp-vw(12);
      font-weight: 400;
      text-align: left;
      background-image: url('/icon/pull_down.svg');
      background-repeat: no-repeat;
      background-position: right 0.5rem center;
      background-size: sp-vw(12);
      @include form-box-sp(100);
    }

    &_inputs {
      display: flex;
      flex-direction: column;
      gap: sp-vw(15);
      align-items: center;
    }

    &_input {
      padding-left: sp-vw(10);
      line-height: sp-vw(30);
      text-align: left;
      @include form-box-sp(320);
    }

    &_input::placeholder {
      font-size: sp-vw(14);
      font-weight: 400;
      color: $color-gray;
    }

    &_button {
      width: sp-vw(160);
      height: sp-vw(40);
      line-height: sp-vw(18);
      @include btn-pink-sp(160, 40);
    }

    &_button::before {
      display: inline-block;
      width: sp-vw(16);
      height: sp-vw(16);
      margin-right: sp-vw(14);
      content: '';
      background-image: url('/icon/search_icon.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

@media (768px <=width) {
  .search {
    gap: pc-vw(20);
    padding: pc-vw(40);
    margin: pc-vw(60) auto;
    border-radius: 10px;

    &_title {
      font-size: pc-vw(25);
    }

    &_text {
      font-size: pc-vw(20);
      font-weight: 400;
    }

    &_form {
      flex-direction: row;
      gap: pc-vw(15);

      &_selects {
        display: flex;
        gap: pc-vw(15);
        justify-content: center;
      }

      &_select {
        padding-left: pc-vw(10);
        font-size: pc-vw(18);
        background-position: right 0.5rem center;
        background-size: pc-vw(18);
        @include form-box-pc(200);
      }

      &_inputs {
        display: flex;
        flex-direction: row;
        gap: pc-vw(15);
        align-items: center;
      }

      &_input {
        padding-left: pc-vw(10);
        text-align: left;
        @include form-box-pc(300);
      }

      &_input::placeholder {
        font-size: pc-vw(18);
        font-weight: 400;
        color: $color-gray;
      }

      &_button {
        width: sp-vw(160);
        height: sp-vw(40);
        line-height: sp-vw(18);
        @include btn-pink-pc(140, 60);
      }

      &_button::before {
        display: inline-block;
        width: pc-vw(30);
        height: pc-vw(30);
        margin-right: pc-vw(4);
        content: '';
        background-image: url('/icon/search_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}
