@use '@/styles' as *;

.menu {
  display: none;
}

.open {
  display: block;
}

.nav {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: sp-vw(21);
  width: 100%;
  height: sp-vw(554);
  padding-top: sp-vw(57);
  padding-left: sp-vw(60);
  font-size: sp-vw(22);
  font-weight: 700;
  color: #{$color-white};
  background-color: #{$color-overlay};
}
