@use '@/styles' as *;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: sp-vw(370);
  height: sp-vw(240);
  margin: sp-vw(25) sp-vw(15);
  background-color: $color-blue-bg;
}

.title {
  width: sp-vw(110);
  margin-top: sp-vw(15);
  font-size: sp-vw(22);
  font-weight: 700;
  line-height: sp-vw(22);
  color: $color-black;
}

.description {
  width: sp-vw(294);
  height: sp-vw(20);
  margin-top: sp-vw(16);
  margin-bottom: sp-vw(13);
  font-size: sp-vw(14);
  line-height: sp-vw(20);
  color: $color-black;
}

.select-wrapper {
  display: flex;
  gap: sp-vw(10);
  justify-content: space-between;
  width: 100%;
  padding: 0 sp-vw(24);
}

.select {
  width: sp-vw(100);
  height: sp-vw(30);
  padding: 0 sp-vw(8);
  font-size: sp-vw(12);
  line-height: sp-vw(30);
  color: $color-black;
  appearance: none;
  background-color: $color-white;
  background-image: url('/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right sp-vw(5) center;
  background-size: sp-vw(13) sp-vw(7);
  border: 1px solid $color-pink-border;
  border-radius: sp-vw(5);
}

.input {
  width: sp-vw(320);
  height: sp-vw(30);
  padding: 0 sp-vw(10);
  margin: sp-vw(15) sp-vw(25) sp-vw(19);
  font-size: sp-vw(12);
  color: $color-black;
  background-color: $color-white;
  border: 1px solid $color-pink-border;
  border-radius: sp-vw(5);

  &::placeholder {
    color: $color-placeholder;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(160);
  height: sp-vw(40);
  margin-left: 2px;
  font-size: sp-vw(16);
  font-weight: 700;
  color: $color-white;
  cursor: pointer;
  background-color: $color-pink;
  border: none;
  border-radius: sp-vw(20);
}
