@use '@/styles' as *;

.hamburger {
  &_nav {
    position: fixed;
    top: sp-vw(70);
    right: 0;
    left: 0;
    width: 100%;
    height: sp-vw(554);
    background-color: $color-overlay-hamburger;
    transform: translateX(100%);
    transition: ease 0.4s;
    @include media-pc {
      display: none;
    }

    &.active {
      transform: translateX(0);
    }
  }
}

.nav {
  &_items {
    display: flex;
    flex-direction: column;
    gap: sp-vw(38);
    padding-top: sp-vw(57);
    padding-left: sp-vw(60);
    @include media-pc {
      display: none;
    }

    &_item {
      font-size: sp-vw(22);
      font-weight: 700;
      color: $color-white;
    }
  }
}

.button {
  position: relative;
  display: block;
  width: sp-vw(50);
  height: sp-vw(38);
  border-radius: 50%;
  @include media-pc {
    display: none;
  }
}

.line {
  position: absolute;
  width: 100%;
  height: sp-vw(6);
  background-color: #{$color-black};
  border-radius: 6px;
}

.line:nth-child(1) {
  top: 0%;
}

.line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.line:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}
