@use '@/styles' as *;

.section {
  padding: sp-vw(30) sp-vw(15) sp-vw(60);
  background-color: #{$color-job-green};
  @include media-pc {
    padding: pc-vw(64) pc-vw(210);
  }
}

.inner {
  width: 100%;
  text-align: center;
  @include media-pc {
    text-align: left;
  }
}

.title {
  width: 100%;
  margin: sp-vw(10) auto 0;
  font-size: sp-vw(25);
  font-weight: 700;
  @include media-pc {
    margin-top: 0;
    font-size: pc-vw(25);
    font-weight: 400;
  }
}

.list {
  margin-top: sp-vw(35);
  @include media-pc {
    display: flex;
    flex-wrap: nowrap;
    gap: pc-vw(20);
    margin-top: pc-vw(25);
  }
}

.carousel {
  position: relative;
}

.job-img {
  border-radius: 5%;
  @include media-pc {
    width: 100%;
    max-width: pc-vw(280);
    height: pc-vw(200);
  }
}

.arrow {
  position: absolute;
  bottom: sp-vw(9);
  display: grid;
  place-items: center;
  width: sp-vw(42);
  height: sp-vw(42);
  cursor: pointer;
  background: rgb(255 255 255 / 60%);
  border: none;
  border-radius: sp-vw(999);
  @include media-pc {
    top: pc-vw(70);
    width: pc-vw(60);
    height: pc-vw(60);
    margin-top: pc-vw(25);
  }
}

.arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: sp-vw(10);
  height: sp-vw(10);
  content: '';
  border-top: sp-vw(1) solid #{$color-black};
  border-right: sp-vw(1) solid #{$color-black};
  transform: translate(-50%, -50%);
  @include media-pc {
    width: pc-vw(15);
    height: pc-vw(15);
    border-top: pc-vw(1) solid #{$color-black};
    border-right: pc-vw(1) solid #{$color-black};
  }
}

.left {
  left: 0;
}

.left::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.right {
  right: 0;
}

.right::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.job-title {
  margin-top: sp-vw(10);
  font-size: sp-vw(16);
  font-weight: 700;
  text-align: left;
  @include media-pc {
    margin-top: pc-vw(8);
    font-size: pc-vw(18);
    font-weight: 400;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: sp-vw(4);
  margin-top: sp-vw(12);
  @include media-pc {
    gap: pc-vw(4);
    margin-top: pc-vw(7);
  }
}

.text-box {
  display: flex;
  gap: sp-vw(21);
  align-items: center;
  font-size: sp-vw(14);
  @include media-pc {
    gap: pc-vw(10);
    font-size: pc-vw(14);
  }
}

.category {
  width: sp-vw(60);
  height: sp-vw(21);
  line-height: sp-vw(21);
  text-align: center;
  background-color: #{$color-job-pink};
  @include media-pc {
    width: pc-vw(60);
    height: pc-vw(21);
    line-height: pc-vw(21);
  }
}

.content {
  line-height: sp-vw(20);
  @include media-pc {
    line-height: pc-vw(20);
  }
}

.is-search {
  padding: sp-vw(21) sp-vw(77);
  margin-top: sp-vw(44);
  font-size: sp-vw(18);
  font-weight: 700;
  color: #{$color-white};
  background-color: #{$color-light-pink};
  border-radius: sp-vw(50);
  @include media-pc {
    display: block;
    width: pc-vw(360);
    height: pc-vw(60);
    padding: pc-vw(17) pc-vw(72);
    margin: pc-vw(60) auto 0;
    font-size: pc-vw(18);
  }
}
