// INFO: Design width and breakpoints
$design-pc-width: 1600;
$design-sp-width: 400;
$inner-pc-max-width: 1180;
$inner-sp-max-width: 370;
$site-max-width: 2000;
$breakpoint-pc: 768;

// INFO: Color variables
$color-white: #fff;
$color-white-alpha-25: rgb(255 255 255 / 70%);
$color-black: #000;
$color-black-alpha-25: rgb(0 0 0 / 25%);
$color-black-alpha-70: rgb(0 0 0 / 70%);
$color-gray: #a4a4a4;
$color-hero: #98b1be;
$color-light-blue: #92c5ea;
$color-pale-blue: #deeef9;
$color-ice-blue: #eff6fc;
$color-mint: #2eb6aa;
$color-pink: #de1e79;
$color-soft-pink: #de5579;
$color-light-pink: #ffcad0;
