// INFO: Design width and breakpoints
$design-pc-width: 1600;
$design-sp-width: 400;
$inner-pc-max-width: 1180;
$inner-sp-max-width: 370;
$site-max-width: 2000;
$breakpoint-pc: 768;

// INFO: Color variables
$color-white: #fff;
$color-black: #000;
$color-light-blue: #92c5ea;
$color-pink: #de5579;
$color-pink-border: #de1e79;
$color-blue-bg: #deeef9;
$color-blue-pale: #eff6fc;
$color-green: #2eb6aa;
$color-placeholder: #a4a4a4;
$color-pink-light: #ffcad0;
