.p-latest {
  margin-top: 59px;
  background-color: #EFF6FC;
  padding: 64px 0 67px 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .p-latest {
    margin-top: 0.59rem;
    padding: 0.64rem 0 0.67rem 0;
  }
}
@media screen and (max-width: 767px) {
  .p-latest {
    margin-top: 0.25rem;
    padding: 0.3rem 0.15rem 0.6rem 0.15rem;
  }
}
.p-latest__title {
  text-align: left;
  font-size: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .p-latest__title {
    font-size: 0.25rem;
  }
}
@media screen and (max-width: 767px) {
  .p-latest__title {
    text-align: center;
    font-weight: bold;
  }
}
.p-latest__inner__item {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .p-latest__inner__item {
    margin-top: 0.25rem;
  }
}
@media screen and (max-width: 767px) {
  .p-latest__inner__item {
    display: block;
  }
}
.p-latest__item {
  width: 280px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .p-latest__item {
    width: 2.8rem;
    margin-left: 0.2rem;
  }
}
@media screen and (max-width: 767px) {
  .p-latest__item {
    width: 3.7rem;
    margin-left: 0;
  }
}
.p-latest__item:first-child {
  margin-left: 0;
}
.p-latest__item::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .p-latest__item::before {
    right: 0.1rem;
    border-left: 0.08rem solid transparent;
    border-right: 0.08rem solid transparent;
  }
}
.p-latest__img img {
  border-radius: 15px;
  width: 280px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .p-latest__img img {
    border-radius: 0.1rem;
    width: 2.8rem;
  }
}
@media screen and (max-width: 767px) {
  .p-latest__img img {
    width: 3.7rem;
  }
}
.p-latest__text {
  margin-top: 8px;
  line-height: 22px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .p-latest__text {
    margin-top: 0.08rem;
    line-height: 0.22rem;
  }
}
@media screen and (max-width: 767px) {
  .p-latest__text {
    width: 3.58rem;
  }
}
@media screen and (max-width: 767px) {
  .p-latest__text__heading {
    font-weight: bold;
    line-height: 0.22rem;
  }
}
.p-latest__text__detail {
  margin-top: 7px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .p-latest__text__detail {
    margin-top: 0.07rem;
  }
}
@media screen and (max-width: 767px) {
  .p-latest__text__detail {
    margin-top: 0.12rem;
  }
}
.p-latest__text dl {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .p-latest__text dl {
    width: 2.8rem;
  }
}
.p-latest__text dl dt {
  width: 60px;
  background-color: #FFCAD0;
  margin-top: 4px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .p-latest__text dl dt {
    width: 0.6rem;
    margin-top: 0.04rem;
  }
}
.p-latest__text dl dt:first-child {
  margin-top: 0;
}
.p-latest__text dl dd {
  width: 210px;
  margin-left: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .p-latest__text dl dd {
    width: 2.1rem;
    margin-left: 0.1rem;
  }
}
.p-latest__btn {
  padding: 17px 0;
  width: 360px;
  margin: 60px auto 0;
  text-align: center;
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .p-latest__btn {
    padding: 0.17rem 0;
    width: 3.6rem;
    margin: 0.6rem auto 0;
  }
}
@media screen and (max-width: 767px) {
  .p-latest__btn {
    width: 3.7rem;
    padding: 0.21rem 0;
  }
}/*# sourceMappingURL=latest.css.map */