@use '@/styles' as *;
@use '@/styles/functions' as *;

.features-inner {
  width: sp-vw(370);
  height: sp-vw(825);
  margin: 0 auto;
  @include media-pc {
    width: pc-vw(1180);
    height: pc-vw(585);
  }
}

.features-title {
  display: flex;
  justify-content: center;
  padding-top: sp-vw(55);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: clamp(rem(11), sp-vw(25), rem(25));
  font-style: bold;
  font-weight: 700;
  @include media-pc {
    padding-top: pc-vw(106);
    font-size: clamp(rem(11), pc-vw(25), rem(25));
  }
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: sp-vw(21);
  margin-top: sp-vw(38);
  @include media-pc {
    grid-template-columns: repeat(2, 1fr);
    gap: pc-vw(40);
    margin-top: pc-vw(53);
  }
}

.features-card {
  width: sp-vw(370);
  height: sp-vw(161);
  font-family: 'Noto Sans JP', sans-serif;
  background-color: $color-pink-white;
  border-radius: sp-vw(10);
  @include media-pc {
    display: flexbox;
    width: pc-vw(570);
    height: pc-vw(180);
    margin: 0 auto;
    border-radius: pc-vw(10);
  }
}

.text-title {
  margin-top: sp-vw(30);
  margin-bottom: sp-vw(12);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: clamp(rem(11), sp-vw(20), rem(25));
  font-weight: 700;
  color: $color-pink-light;
  text-align: center;
  @include media-pc {
    margin-top: pc-vw(40);
    margin-bottom: pc-vw(16);
    font-size: clamp(rem(11), pc-vw(24), rem(24));
  }
}

.text-subtitle {
  padding: 0 sp-vw(17);
  margin-top: sp-vw(30);
  font-size: clamp(rem(6), sp-vw(12), rem(12));
  line-height: 1.5;
  text-align: center;
  @include media-pc {
    padding: 0 pc-vw(47);
    margin-top: pc-vw(36);
    font-size: clamp(rem(6), pc-vw(14), rem(14));
    overflow-wrap: break-word;
    white-space: normal;
  }

  &--free {
    padding: 0 sp-vw(10.26);
  }
}

.sp-text {
  display: none;
  @include media-pc {
    display: inline;
  }
}
