@use '../../object/utility/utility.scss';

.p-joblistings {
  margin-top: 60px;
  width: 1600px;
  height: 800px;
  background-color:#DEEEF9 ;
}

.new-listings {
  font-size: 30px;
  padding-top: 120px;
  padding-left: 270px;
}

.imgs {
  padding: 10px;
  font-size: 18px;
}

.job-openings {
  padding-top: 30px;
  padding-left: 200px;
  display: flex;
  margin-bottom: 50px;
}


.title-option {
  display: flex;
  margin-left: 320px;
  margin-right: 120px;
}

.list {
  font-size: 15px;
  padding-top: 10px;
 }

.list dl {
  width: 100%;
}

.list dt {
  padding-top: 2px;
  background: #FFCAD0;
  float:left;
  text-align: center;
  height: 21px;
  width: 60px;
}


.list dd {
  padding: 0.3em;
}