@use '../../object/utility/utility.scss';
// ページ上部のキービジュアルに関するスタイル
.p-about {
  text-align: center;
  padding: 103px 0;
  background-image: url(../img/picture/about.jpg);
  background-size: cover;
  position: relative;
  &::before {
    @include utility.backgroundDark;
  }
  &__inner {
    position: relative;
    color: utility.$white;
    font-size: 25px;
    line-height: 2;
  }
}

@include utility.sp {
  .p-about {
    min-height: 75px;
    padding: 16px 0;
    &__inner {
      font-size: 0.14rem;
      line-height: 1.6;
      font-weight: normal;
    }
  }
}