@use "../../object/utility/utility.scss";

.p-about {
  background-image: url(../img/picture/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: utility.$black;
    opacity: 0.5;
  }

  &__content {
    padding: 104px 0;

    @include utility.tab {
      padding: 1.04rem 0;
    }
    @include utility.sp {
      padding: 0.16rem 0.25rem;
    }

    & > p {
      position: relative;
      text-align: center;
      color: utility.$white;
      font-size: 25px;
      font-weight: utility.$bold;
      line-height: 36.2px;

      @include utility.tab {
        font-size: 0.25rem;
        line-height: 0.36rem;
      }
      @include utility.sp {
        font-size: 0.14rem;
        line-height: 0.2rem;
        font-weight: utility.$regular;
      }

      &:last-child {
        margin-top: 21px;
        @include utility.sp {
          margin-top: 0.03rem;
        }
      }

      & > span {
        font-weight: utility.$regular;
      }
    }
  }
}
