@use '../utility/utility.scss' as var;

.p-article {
  background-color: var.$background-color;
  margin-top: 60px;
  padding: 65px 0;

  @include var.tab {
    margin-top: .6rem;
    padding: .65rem 0;
  }
  @include var.sp {
    margin-top: 0.25rem;
    padding: .3rem 0 .6rem 0;
  }

  &__title {
    text-align: left;
    
    @include var.sp {
      text-align: center;

    }
  }

  &__list {
    margin-top: 25px;
    position: relative;

    @include var.tab {
      margin-top: .25rem;
    }
    @include var.sp {
      margin-top: .35rem;
    }

    &__arrow {
      position: absolute;
      z-index: 20;
      height: 60px;
      width: 60px;
      background-color: var.$white;
      opacity: .7;
      border-radius: 50%;
      cursor: pointer;

      @include var.tab {
        height: .6rem;
        width: .6rem;
      }
      @include var.sp {
        height: .42rem;
        width: .42rem;
      }
    }
    &__prev {
      position: absolute;
      top: 20%;
      left: 0;

      @include var.sp {
        top: 45%;
      }

      &::before {
        content: "";
        background-image: url("../img/icon/arrowLeft.png");
        background-size: cover;    
        background-position:center;
        width: 15px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include var.tab {
          width: .15rem;
          height: .3rem;
        }
        @include var.sp {
          width: .07rem;
          height: .14rem;
          
        }
      }
    }
    &__next {
      position: absolute;
      top: 20%;
      right: 1.25%;

      @include var.sp {
        top: 45%;
        right: 0;
      }

      &::before {
        content: "";
        background-image: url("../img/icon/arrowRight.png");
        background-size: cover;    
        background-position:center;
        width: 15px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include var.tab {
          width: .15rem;
          height: .3rem;
        }
        @include var.sp {
          width: .07rem;
          height: .14rem;
          
        }
      }
    }
    
    &__box {
      margin-left: 20px;
      @include var.tab {
        margin-left: .2rem;
      }
    }
    
    li:first-child {
      margin-left: 0;
    }

    &__img {
      background-image: url("../img/picture/article1.jpg");
      background-size: cover;    
      background-position:center top;
      border-radius: 15px;
      width: 280px;
      height: 200px;

      @include var.tab {
        width: 2.8rem;
        height: 2rem;
      }
      @include var.sp{
        width: 3.7rem;
        height: 2.08rem;
      }

    }
    &__text {
      margin-top: 5px;
      line-height: 22px;

      @include var.tab {
        margin-top: .05rem;
        line-height: .22rem;
        font-size: .16rem;
      }
      @include var.sp{
        font-weight: var.$bold;
        font-size: .16rem;
        line-height: .22rem;
      }
  
    }
  }
}

.p-articleButton {
  margin-top: 60px;
  height: 60px;
  width: 360px;
  font-size: 18px;

  @include var.tab {
    margin-top: .6rem;
    height: .6rem;
    width: 3.6rem;
    font-size: .18rem;
  }
  @include var.sp {
    margin-top: .45rem;
    width: 3.7rem;
    height: .6rem;
    border-radius: .3rem;
    font-size: .18rem;
  }
}
