@use '../utility/utility.scss' as var;

.p-articles {

  & > p {
    font-size: 25px;
    font-weight: var.$regular;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__list {
    li {
      margin-left: 20px;
      img {
        border-radius: 15px;
      }
      p {
        margin-top: 5px;
        line-height: 22px;

      }
      table {
        margin-top: 5px;
      }
    }
  
    li:first-child {
      margin-left: 0;
    }
  }

}
