@use '../../object/utility/utility.scss';
.p-main__banner {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  @include utility.tab {
    height: 3.4rem;
  }
  @include utility.sp {
    width: 4.0rem;
    height: 0.75rem;
  }

  &__container {
    background-color: utility.$black;
    position: relative;

    & > img {
      opacity: 0.5;
    }
    
    &__text {
      text-align: center;
      line-height: 30px;
      font-size: 25px;
      font-weight: utility.$bold;
      color: utility.$white;
      width: 100%;
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include utility.sp {
        font-size: 0.14rem;
        font-weight: utility.$regular;
      }
    }
  }
}