@use '../utility/utility.scss' as var;

.p-belt {
  position: relative;

  &__image {
    height: 300px;
    width: 100vw;
  }

  &__cover {
    width: 100%;
    height: 300px;
  
    background: var.$beltCover;
    opacity: 0.5;
  
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text {
    font-weight: var.$bold;
    font-size: 25px;
    color: var.$white;
  }

  &__textTop {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &__textBottom {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}