@use '../../foundation/variables';

.p-caption {
  height: 30rem;
  background-image: url(../img/picture/caption_img.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }

  &__text {
    font-size: 2.5rem;
    line-height: 3.6rem;
    color: variables.$white;
    text-align: center;
    font-weight: variables.$bold;
    position: absolute;


    &__inner {
      padding-bottom: 2rem;

      &:nth-child(2) {
        padding-bottom: 0;
      }
    }
  }
}


