@use '../../object/utility/utility.scss';

@use '../../foundation/variables' as var;
@use '../../foundation/mixins' as mix;

.p-careerchangemodel__flow {
  margin: 105px auto;
  text-align: center;

  @include utility.sp {
    margin: .6rem auto 0;
  }

  h1 {
    @include mix.h1(var.$bold, 50px);

    @include utility.sp {
      margin-bottom: .34rem;
    }
  }

  ul {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    gap: 21.13px;

    @include utility.sp {
      display: inline-block;
    }

    li {
      position: relative;
      height: 360px;
      width: 280px;
      display: block;
      padding: 60px 0 40px;
      border: 2.27px solid var.$listColor;
      border-radius: 10px;

      @include utility.sp {
        width: 2.8rem;
        height: 2.93rem;
        padding: .55rem 0 .22rem;
        margin-bottom: .4113rem;
      }
    }

    li:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 268px;
      border-right: 20px solid transparent;
      border-left: 20px solid transparent;
      border-top: 20px solid var.$listColor;
      border-bottom: 0;
      transform: rotate(270deg);

      @include utility.sp {
        top: 103%;
        left: 120px;
        transform: rotate(360deg);
      }
    }

    li:nth-child(2) {
      padding: 70.02px 0px 42px;

      @include utility.sp {
        padding: .5503rem 0 .2087rem;
      }

      h3 {
        @include utility.sp {
          margin: 22px auto 10px;
        }
      }
    }

    li:nth-child(4) {
      @include utility.sp {
        margin-bottom: 0px;
      }
    }

    li:nth-child(4):after {
      display: none;
    }

    .p-careerchangemodel__number {
      display: block;
      position: absolute;
      top: 10px;
      left: 10px;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background-color: var.$listColor;

      p {
        font-size: 16px;
        line-height: 19.36px;
        color: var.$white;
        transform: translate(0%, 11px);
      }
    }

  }

  .p-careerchangemodel__icon-text {

    img {
      height: 100px;
      width: auto;

      @include utility.sp {
        width: .7672rem;
        height: .75rem;
      }
    }
  }

  .p-careerchangemodel__icon-search {

    img {
      height: 79.95px;
      width: auto;

      @include utility.sp {
        width: .7495rem;
        height: .7495rem;
      }
    }
  }

  .p-careerchangemodel__icon-mail {

    img {
      height: 100px;
      width: auto;

      @include utility.sp {
        width: .8012rem;
        height: .75rem;
      }
    }
  }

  .p-careerchangemodel__icon-sparkling {

    img {
      height: 100px;
      width: auto;

      @include utility.sp {
        width: .7357rem;
        height: .75rem;
      }
    }
  }

  h3 {
    @include mix.h3(var.$bold, 36px);
    margin: 20px auto 18px;
    line-height: 32px;

    @include utility.sp {
      font-size: .20rem;
    }

    br {
      @include utility.sp {
        @include mix.br;
      }
    }
  }

  li:nth-child(3) h3 {
    margin: 20px auto 38px;

    @include utility.sp {
      margin: .1rem auto .1rem;
    }
  }

  li:nth-child(4) h3 {
    margin: 20px auto 38px;

    @include utility.sp {
      margin: .22rem auto .1rem;
    }
  }

  .p-careerchangemodel__text {
    line-height: 20.27px;
    width: fit-content;
    font-size: 14px;
    margin: 0 auto;
    text-align: left;
  }
}