@use '../../object/utility/utility.scss';

.p-career {
  margin: 10.5rem auto;
  display: flex;
  flex-direction: column;
  @include utility.sp {
    margin: 0.6rem auto;
  }
  &__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: utility.$bold;
    margin-bottom: 5rem;
    @include utility.sp {
      font-size: 0.25rem;
      margin-bottom: 0.3rem;
    }
  }
  &__contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 8rem;
    @include utility.sp {
      flex-direction: column;
      gap: 0.17rem;
      margin: 0 auto 0.6rem;
    }
  }
  &__item {
    position: relative;
    width: 38rem;
    height: 24rem;
    @include utility.sp {
      width: 3.7rem;
      height: 2.34rem;
    }
    &-img {
      position: absolute;
      border-radius: 2rem;
      filter: brightness(50%);
      @include utility.sp {
        border-radius: 0.1rem;
      }
    }
    &-text-contents {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      color: utility.$white;
    }
    &-title {
      font-size: 2.4rem;
      margin-bottom: 4.4rem;
      @include utility.sp {
        font-size: 0.21rem;
        margin-bottom: 0.53rem;
      }
    }
    &-desc {
      font-size: 1.6rem;
      line-height: 1.5;
      @include utility.sp {
        font-size: 0.14rem;
      }
    }
  }
  &__button {
    padding: 2.1rem 9.3rem;
    width: 42rem;
    margin: 0 auto;
    text-align: center;
    @include utility.sp {
      font-size: 0.14rem;
      padding: 0.21rem 0.68rem;
      width: 3.7rem;
    }
  }
}