@use '../../object/utility/utility.scss';

.p-center {
  display: block;
  width: 100%;
  height: 300px;
  &-pic {
    display: block;
    width: 100%;
    height: 300px;
    z-index: 100px;
  }
  &__box {
    display: block;
    position: relative;
    &__bg {
      display: block;
      width: 100%;
      height: 300px;
      background-color: #000000;
      z-index: 200px;
      position: absolute;
      top: 0;
      opacity: 0.5;
    }
    &__text {
      display: inline-block;
      color: #ffffff;
      font-family: 'Noto Sans JP';
      font-size: 25px;
      font-weight: 700;
      line-height: 36px;
      text-align: center;
      position: absolute;
      top: 104px;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      z-index: 300px;
      &-main {
        margin-bottom: 21px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .p-center {
    height: 75px;
    &-pic {
      height: 75px;
    }
    &__box {
      &__bg {
        height: 75px;
      }
      &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20.27px;
        top: 16.18px;
        &-main {
          margin-bottom: 2.36px;
        }
      }
    }
  }
}