@use '../../object/utility/utility.scss';

.p-center__title {
  font-size: 25px;
  font-weight: 700;
  background-image: url("../img/picture/center-title-officework.png");
  margin: 0 auto;

  & > .p-center__back__color {
    background-color: #000000;
    opacity: 0.7;

    & > .p-total__center__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 300px;

      & > .p-center__text {
        font-size: 20px;
        color: #FFFFFF;
      }

      & li:nth-child(2) {
        margin-top: 20px;
      }
    }
  }
}