@use '../../object/utility/utility.scss';

.p-center__title {
  font-size: 25px;
  font-weight: 700;
  background-image: url("../img/picture/center-title-officework.png");
  margin: 0 auto;
  margin-top: 30px;
  @include utility.sp {
    width: 100%;
    font-size: 0.14rem;
    font-weight: 400;
    background-image: url("../img/picture/center-title-officework.png");
    background-size: 100%;
    object-fit: contain;
  }

  & > .p-center__back__color {
    background-color: #000000;
    opacity: 0.7;

    & > .p-total__center__text {
      @include utility.pc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 5% 0 5% 0;
      }
      @include utility.tab {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5% 0 5% 0;
      }
      @include utility.sp {
        text-align: center;
        padding: 5% 0 5% 0;
      }

      & > .p-center__text {
        font-size: 20px;
        color: #FFFFFF;
        @include utility.sp {
          font-size: 0.14rem;
        }
      }

      & li:nth-child(2) {
        @include utility.pc {
          margin-top: 20px;
        }
        @include utility.tab {
          margin-top: 0.12rem;
        }
        @include utility.sp {
          margin-top: 0.12rem;
        }
      }
    }
  }
}