@use "../../object/utility/utility.scss";

.p-characteristic {
  padding: 105px 0;
  text-align: center;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 53px;
    & li {
      width: 570px;
      height: 180px;
      background: utility.$light-pink;
      border-radius: 10px;
      margin-top: 40px;
      &:nth-of-type(-n + 2) {
        margin-top: 0;
      }
    }
    & li p {
      font-size: 14px;
      &:first-child {
        font-size: 24px;
        color: utility.$magenta;
        margin-top: 40px;
      }
      &:last-child {
        margin-top: 36px;
        line-height: 20px;
      }
    }
  }
}
