@use '../../object/utility/utility.scss' as util;


.p-columns {
  margin-top: 105px;

  @include util.tab {
    margin-top: 1.05rem;
  }

  @include util.sp {
    margin-top: 0.6rem;
  }

  &__title {
    @include util.title;
  }

  &__contents {
    margin-top: 50px;
    display: flex;

    @include util.tab {
      margin-top: 0.5rem;
    }

    @include util.sp {
      margin-top: 0.305rem;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin-left: 20px;
      width: 100%;

      @include util.tab {
        margin-left: 0.2rem;
      }

      @include util.sp {
        margin-top: 0.175rem;
        margin-left: 0;
      }

      &:first-child {
        margin-left: 0;

        @include util.sp {
          margin-top: 0;
        }
      }
    }
  }

  &__link {
    margin: 80px auto 0;
    text-align: center;

    @include util.tab {
      margin: 0.8rem auto 0;
    }

    @include util.sp {
      margin: 0.35rem auto 0;
    }
  }
}