@use '../../object/utility/utility.scss';
@use '../../object/component/button.scss';

.l-main__column {
  height: 455px;
  width: 1180px;
  margin:105px auto;

  @include utility.sp {
    height: 889px;
    width: 400px;
    margin-top: 60px;
  }
  
  &-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .c-main__column-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-top: 40px;
    height: 240px;

    @include utility.sp {
      height: auto;
      grid-template-columns: 1fr;
      margin-top: 30.55px;
      gap: 17.5px;
    }

    .c-main__column-part {
      height: 240px;
      width: 380px;
      align-items: center;
      justify-items: center;
      border-radius: 10px;
      margin: 0 auto;

      @include utility.sp {
        height: auto;
        width: 370px;
        padding-bottom: 60px;
      }

      &-title {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        margin-top: 71px;
      }

      &-text {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin-top: 45px;
        line-height: 130%;
        color: #fff;
      }

      @include utility.sp {
        &-title {
          font-size: 21px;
          margin-top: 60px;
        }

        &-text {
          font-size: 14px;
          margin-top: 53px;

        }
      }


    }
    .is_manual-1 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/picture/column_1.jpg");
      background-size:cover;
    }
    .is_tips {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("../img/picture/column_2.jpg");
        background-size:cover;
    }
    .is_manual-2 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/picture/column_1.jpg");
      background-size:cover;
    }

  }

  .l-main__column-button {
    @include button.c-btn();
    width: 420px;
    margin: 80px auto;

    @include utility.sp {
      width: 370px;
      margin: 34.86px auto;
    }
  }

}