@use '../../object/utility/utility.scss';
@import '../../foundation/variables.scss';
@import '../../foundation/_mixins.scss';
// content

.p-content__contents {
  width: 380px;
  height: 240px;
  position: relative;
  margin-left: 20px;
  transition: $transition;

  &:hover {
    opacity: $opacity;
  }

  & img {
    position: absolute;
  }

  &:first-child {
    margin-left: 0px;
  }

  &__text {
    position: absolute;
    top: 71px;
    left: 50%;
    transform: translateX(-50%);

    & p {
      text-align: center;
    }

    & p:first-child {
      color: $white;
      font-size: 24px;
      font-family: Noto Sans JP;
      font-style: normal;
      font-weight: $bold;
      line-height: 24px;
      white-space: nowrap;
    }

    & p:nth-child(2) {
      color: $white;
      text-align: center;
      font-size: 16px;
      font-family: Noto Sans JP;
      font-style: normal;
      font-weight: $regular;
      line-height: 20px;
      width: 300px;
      margin-top: 44px;
    }
  }
}

//tab
@include tab {
  .p-content__contents {
    width: 3.8rem;
    height: 2.4rem;
    margin-left: 0.2rem;

    &__text {
      top: 0.7rem;

      & p:first-child {
        font-size: 0.23rem;
        line-height: 0.24rem;
      }

      & p:nth-child(2) {
        font-size: 0.16rem;
        width: 3rem;
        height: 0.4rem;
        margin-top: 0.2rem;
      }
    }
  }
}

//sp
@include sp {
  .p-content__contents {
    width: 3.7rem;
    height: 2.3rem;
    margin-left: auto;
    margin-top: 0.17rem;

    &__text {
      top: 0.6rem;

      & p:first-child {
        font-size: 0.21rem;
        line-height: 0.21rem;
      }

      & p:nth-child(2) {
        font-size: 0.14rem;
        height: 0.34rem;
        margin-top: 0.6rem;
      }
    }
  }
}