@use '../../object/utility/utility.scss';
@import '../../foundation/variables.scss';
@import '../../foundation/_mixins.scss';

// grid
.p-content__grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


  &__parts {
    background-color: $pale-pink;
    width: 570px;
    height: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 45px;


    &:nth-child(2n) {
      margin-left: 40px;
    }

    &:nth-child(-n + 2) {
      margin-top: 53px;
    }


    &__title {
      color: $pink;
      font-size: 24px;
      font-family: Noto Sans JP;
      font-style: normal;
      font-weight: $bold;
      line-height: 24px;
    }

    &__text {
      color: $black;
      text-align: center;
      font-size: 14px;
      font-family: Noto Sans JP;
      font-style: normal;
      font-weight: $regular;
      line-height: 14px;
      margin-top: 26px;
      height: 60px;
    }
  }
}

@include tab {
  .p-content__grid {
    &__parts {
      width: 5.7rem;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      margin-top: 0.4rem;

      &:nth-child(2n) {
        margin-left: 0.4rem;
      }


      &:nth-child(-n + 2) {
        margin-top: 0.53rem;
      }

      &__title {
        font-size: 0.24rem;
        line-height: 0.24rem;
      }

      &__text {
        font-size: 0.14rem;
        line-height: 0.16rem;
      }
    }
  }
}

@include sp {
  .p-content__grid {
    &__parts {
      width: 3.7rem;
      height: auto;
      padding: 0.4rem 0px 0px 0px;
      margin-top: 0.2rem;
      margin-left: 0px;

      &:nth-child(2n) {
        margin-left: 0px;
      }

      &:nth-child(1) {
        margin-top: 0.38rem;
      }

      &:nth-child(2) {
        margin-top: 0.2rem;
      }

      &:nth-child(3) {
        padding-bottom: 0.3rem;
      }

      &:nth-child(4) {
        padding-bottom: 0.3rem;
      }

      &__title {
        font-size: 0.2rem;
        line-height: 0.2rem;
      }

      &__text {
        font-size: 0.12rem;
        margin-top: 0.3rem;
        line-height: 0.17rem;
      }
    }
  }
}