@use '../../object/utility/utility.scss';

.p-content {

  &__wrapper {
    text-align: center;
    padding-top: 105px;
    @include utility.tab{
      padding-top: 1.05rem;
    }
    @include utility.sp{
      padding-top: 0.6rem;
    }

      & h2 {
        font-size: 25px;
        font-weight: utility.$bold;
        @include utility.tab{
          font-size: 0.25rem;
        }
        @include utility.sp{
          font-size: 0.25rem;
        }
      }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    @include utility.tab{
      gap: 0.2rem;
      margin-top: 0.5rem;
    }
    @include utility.sp{
     flex-flow: column;
     gap: 0.17rem;
     margin-top: 0.3rem;
    }
  }

  &__item {
    background-image: url(../img/picture/pen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @include utility.tab{

    }
    @include utility.sp{

    }

      & a {
        display: block;
        height: 100%;
        @include utility.tab{
        }
        @include utility.sp{

        }
      }
  }

  &__item_c {
    background-image: url(../img/picture/pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @include utility.tab{
    }
    @include utility.sp{
    }

    & a {
      display: block;
      height: 100%;
      @include utility.tab{
      }
      @include utility.sp{
      }
    }
  }

  &__inner {
    background: rgba(0,0,0,0.5);
    height: 100%;
    border-radius: utility.$circle;
    color: utility.$white;

      & h3 {
        font-size: 24px;
        font-weight: utility.$bold;
        padding-top: 70px;
        @include utility.tab{
          font-size: 0.24rem;
          padding-top: 0.7rem;
        }
        @include utility.sp{
          font-size: 0.21rem;
          padding-top: 0.6rem;
        }
      }

      & p {
        white-space: nowrap;
        font-size: 16px;
        font-weight: utility.$regular;
        line-height: 20px;
        @include utility.tab{
          font-size: 0.16rem;
          line-height: 0.23rem;
        }
        @include utility.sp{
          font-size: 0.14rem;
          line-height: 0.2rem;
        }
      }

      &__wrapper {
        margin-top: 44px;
        padding: 0 64px 55px 60px;
        @include utility.tab{
          margin-top: 0.44rem;
          padding: 0 0.64rem 0.55rem 0.6rem;
        }
        @include utility.sp{
          margin-top: 0.53rem;
        }
      }

      &__center {
        margin-top: 44px;
        padding: 0 50px 54px 42px;
        @include utility.tab{
          margin-top: 0.44rem;
          padding: 0 0.5rem 0.54rem 0.42rem;
        }
        @include utility.sp{
         margin-top: 0.53rem;
        }
      }

  }

  &__button {
    margin-top: 80px;
    @include utility.tab{
      margin-top: 0.8rem;
    }
    @include utility.sp{
      margin-top: 0.35rem;
    }
  }
}