@use '../../object/utility/utility.scss';
@use '../../foundation/mixins' as mixin;

.p-contents {
  margin-top: 106.1px;
  text-align: center;
  @include mixin.tab {
    margin-top: 1rem;
  }
  @include mixin.sp {
    margin-top: 0.61rem;
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    @include mixin.tab {
      font-size: 0.25rem;
    }
    @include mixin.sp {
      font-size: 0.25rem;
    }
  }

  &__contents {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    line-height: 23px;
    @include mixin.tab {
      gap: 0.2rem;
      margin-top: 0.5rem;
      line-height: 0.23rem;
    }
    @include mixin.sp {
      flex-direction: column;
      gap: 0.17rem;
      margin-top: 0.3rem;
    }
  }

  &__content-manual {
    width: 380px;
    padding: 71px 0 55px 0;
    border-radius: 10px;
    background-image:
      url(../img/picture/contents-filter.png),
      url(../img/picture/contents-image1.jpg);
    color: utility.$white;
    @include mixin.tab {
      width: 3.8rem;
      padding: 0.73rem 0 0.6rem 0;
      border-radius: 0.1rem;
    }
    @include mixin.sp {
      width: 100%;
      padding: 0.6rem 0 0.6rem 0;
      background-size: cover;
      border-radius: 0.1rem;
    }
  }

  &__content-knowledge {
    width: 380px;
    padding: 71px 0 55px 0;
    border-radius: 10px;
    background-image:
      url(../img/picture/contents-filter.png),
      url(../img/picture/contents-image2.jpg);
    color: utility.$white;
    @include mixin.tab {
      width: 3.8rem;
      padding: 0.73rem 0 0.6rem 0;
      border-radius: 0.1rem;
    }
    @include mixin.sp {
      width: 100%;
      padding: 0.6rem 0 0.6rem 0;
      background-size: cover;
      border-radius: 0.1rem;
    }
  }

  &__content-title {
    font-size: 24px;
    font-weight: 700;
    @include mixin.tab {
      font-size: 0.24rem;
    }
    @include mixin.sp {
      font-size: 0.21rem;
    }
  }

  &__content-text {
    margin-top: 45px;
    font-size: 16px;
    @include mixin.tab {
      margin-top: 0.45rem;
      font-size: 0.16rem;
    }
    @include mixin.sp {
      margin-top: 0.53rem;
      font-size: 0.14rem;
      line-height: 0.2rem;
    }
  }

  &__button {
    width: 420px;
    margin-top: 80px;
    @include mixin.tab {
      width: 4.2rem;
      margin-top: 0.8rem;
    }
    @include mixin.sp {
      width: 100%;
      height: 0.6rem;
      margin-top: 0.34rem;
      line-height: 0.6rem;
    }
  }
}