@use '../../object/utility/utility.scss' as drawer;

.p-drawer {
  display: none;
}

@include drawer.sp {

  .p-drawer {
      z-index: 90;
      padding-top: 0.57rem;
      position: absolute;
      top: 0.7rem;
      right: -120%;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100vh;
      transition: transform .3s;

      &.open {
        display: block;
        opacity: 1;
        right: 0;
        transition: transform .3s;
      }

      &__list {
        position: absolute;
        top: 0.57rem;
        left: 0.6rem;
      }

      &__item {
        margin-top: 38px;

        &:first-of-type {
          margin-bottom: 0;
        }
      }

      &__link {
        color: drawer.$white;
        font-size: 0.22rem;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }

