@use '../../object/utility/utility.scss' as utility;

.p-features {
  padding-top: 106px;
  @include utility.tab  {
    padding: 55px .1rem 0;
  }
  @include utility.sp  {
    padding: 55px .1rem 0;
  }
  &__title {
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 25px;
    font-weight: 700;
  }
  &-main {
    display: flex;
    padding-top: 53px;
    flex-wrap: wrap;
    &__box {
      height: 180px;
      width: 570px;
      border-radius: 10px;
      background-color: utility.$pale-pink;
      @include utility.tab {
        width: 100%;
      }
      @include utility.sp {
        width: 100%;
      }
      &--title {
        color: utility.$pink;
        text-align: center;
        padding-top: 40px;
        font-family: Noto Sans JP;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        @include utility.tab {
          padding-top: 30px;
        }
        @include utility.sp {
          padding-top: 30px;
        }
      }
      &--text {
        text-align: center;
        padding: 4px 45px 0;
        font-family: Noto Sans JP;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        display: grid;
        place-items: center;
        height:94px;
        @include utility.tab {
          padding: 30px .1rem 0;
          font-size: 12px;
        }
        @include utility.sp {
          padding: 30px .1rem 0;
          font-size: 12px;
        }
      }
    }
    &__box:nth-child(2n) {
      margin-left: 40px;
      @include utility.tab {
        margin: 21px 0 0;
      }
      @include utility.sp {
        margin: 21px 0 0;
      }
    }
    &__box:nth-child(n+3) {
      margin-top: 40px;
      @include utility.tab {
        margin: 21px 0 0;
      }
      @include utility.sp {
        margin: 21px 0 0;
      }
    }
  }
}