@use '../../object/utility/utility.scss';

.p-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10.5rem auto;
  &__title {
    font-size: 2.5rem;
    font-weight: utility.$bold;
    margin-bottom: 5.3rem;
  }
  &__contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  &__item {
    padding: 4rem 4.7rem;
    background-color: utility.$pink4;
    border-radius: 1rem;
    width: 57rem;
    height: 18rem;
    &-title {
      font-size: 2.4rem;
      font-weight: utility.$bold;
      color: utility.$pink;
      margin-bottom: 2.6rem;
    }
    &-desc {
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
}