@use '../../object/utility/utility.scss';
@use '../../foundation/mixins' as mixin;

.p-flow {
  margin-top: 105px;
  @include mixin.tab {
    margin-top: 1.05rem;
  }
    &__title {
      text-align: center;
      font-size: 25px;
      font-weight: 700;
      @include mixin.tab{
        font-size: 0.25rem;
      }
    }
    &__steps {
    margin-top: 51.1px;
    display: flex;
    gap: 20px;
    position: relative;
    @include mixin.tab {
      margin-top: 0.51rem;
      gap: 0.2rem
    }
  }
  &__step1 {
    padding: 58.5px 0 40.8px 0;
    position: relative;
    width: calc((100% - 60px) / 4);
    border: 3px solid utility.$deepPink;
    border-radius: 10px;
    &::after{
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 277px;
      border-top: 20px solid transparent;
      border-left: 20px solid utility.$deepPink;
      border-right: 20px solid transparent;
      border-bottom: 20px solid transparent
    }
    @include mixin.tab {
      padding: 0.58rem 0 0.40rem 0;
      width: calc((100% - 0.6rem) / 4);
      border: 0.03rem solid utility.$deepPink;
      border-radius: 0.1rem;
      &::after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2.77rem;
        border-top: 0.2rem solid transparent;
        border-left: 0.2rem solid utility.$deepPink;
        border-right: 0.2rem solid transparent;
        border-bottom: 0.2rem solid transparent
      }
    }
  }
  &__step2 {
    padding: 68.8px 0 40.8px 0;
    position: relative;
    width: calc((100% - 60px) / 4);
    border: 3px solid utility.$deepPink;
    border-radius: 10px;
    &::after{
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 277px;
      border-top: 20px solid transparent;
      border-left: 20px solid utility.$deepPink;
      border-right: 20px solid transparent;
      border-bottom: 20px solid transparent
    }
    @include mixin.tab {
      padding: 0.68rem 0 0.40rem 0;
      width: calc((100% - 0.6rem) / 4);
      border: 0.03rem solid utility.$deepPink;
      border-radius: 0.1rem;
      &::after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2.77rem;
        border-top: 0.2rem solid transparent;
        border-left: 0.2rem solid utility.$deepPink;
        border-right: 0.2rem solid transparent;
        border-bottom: 0.2rem solid transparent
      }
    }
  }
  &__step3 {
    padding: 58.8px 0 40.8px 0;
    position: relative;
    width: calc((100% - 60px) / 4);
    border: 3px solid utility.$deepPink;
    border-radius: 10px;
    &::after{
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 277px;
      border-top: 20px solid transparent;
      border-left: 20px solid utility.$deepPink;
      border-right: 20px solid transparent;
      border-bottom: 20px solid transparent
    }
    @include mixin.tab {
      padding: 0.58rem 0 0.40rem 0;
      width: calc((100% - 0.6rem) / 4);
      border: 0.03rem solid utility.$deepPink;
      border-radius: 0.1rem;
      &::after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2.77rem;
        border-top: 0.2rem solid transparent;
        border-left: 0.2rem solid utility.$deepPink;
        border-right: 0.2rem solid transparent;
        border-bottom: 0.2rem solid transparent
      }
    }
  }
  &__step4 {
    padding: 53.7px 0 40.8px 0;
    position: relative;
    width: calc((100% - 60px) / 4);
    border: 3px solid utility.$deepPink;
    border-radius: 10px;
    @include mixin.tab {
      padding: 0.53rem 0 0.40rem 0;
      width: calc((100% - 0.6rem) / 4);
      border: 0.03rem solid utility.$deepPink;
      border-radius: 0.1rem;
    }
  }

  &__step-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8.8px;
    left: 8.8px;
    width: 60px;
    height: 60px;
    background-color: utility.$deepPink;
    border-radius: 50%;
    @include mixin.tab {
      top: 0.08rem;
      left: 0.08rem;
      width: 0.6rem;
      height: 0.6rem;
    }
  }
  &__step-icon {
    width: 42px;
    height: 38px;
    @include mixin.tab {
      width: 0.42rem;
      height: 0.38rem;
    }
  }
  &__step1-image {
    margin: 0 78.8px 0 96.5px;
    @include mixin.tab {
      margin: 0 0.78rem 0 0.96rem;
    }
  }
  &__step2-image {
    margin: 0 103.8px 0 93.8px;
    @include mixin.tab {
      margin: 0 1.03rem 0 0.93rem;
    }
  }
  &__step3-image {
    margin: 0 82.2px 0 88.7px;
    @include mixin.tab {
      margin: 0 0.82rem 0 0.88rem;
    }
  }
  &__step4-image {
    margin: 0 91.3px 0 78.4px;
    @include mixin.tab {
      margin: 0 0.91rem 0 0.78rem;
    }
  }
  &__step1-title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    @include mixin.tab {
      margin-top: 0.2rem;
      font-size: 0.24rem;
      line-height: 0.3rem;
    }
  }
  &__step2-title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    @include mixin.tab {
      margin-top: 0.3rem;
      font-size: 0.24rem;
      line-height: 0.3rem;
    }
  }
  &__step3-title {
    margin-top: 33px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    @include mixin.tab {
      margin-top: 0.33rem;
      font-size: 0.24rem;
      line-height: 0.3rem;
    }
  }
  &__step4-title {
    margin-top: 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    @include mixin.tab {
      margin-top: 0.28rem;
      font-size: 0.24rem;
      line-height: 0.3rem;
    }
  }
  &__step1-text {
    margin-top: 18px;
    margin-left: 20.8px;
    width: 237px;
    font-size: 14px;
    line-height: 20px;
    @include mixin.tab {
      margin-top: 0.18rem;
      margin-left: 0.2rem;
      width: 2.37rem;
      font-size: 0.14rem;
      line-height: 0.2rem;
    }
  }
  &__step2-text {
    margin-top: 18px;
    margin-left: 18.8px;
    width: 237px;
    font-size: 14px;
    line-height: 20px;
    @include mixin.tab {
      margin-top: 0.18rem;
      margin-left: 0.18rem;
      width: 2.37rem;
      font-size: 0.14rem;
      line-height: 0.2rem;
    }
  }
  &__step3-text {
    margin-top: 30px;
    margin-left: 18.8px;
    width: 237px;
    font-size: 14px;
    line-height: 20px;
    @include mixin.tab {
      margin-top: 0.30rem;
      margin-left: 0.18rem;
      width: 2.37rem;
      font-size: 0.14rem;
      line-height: 0.2rem;
    }

  }
  &__step4-text {
    margin-top: 30px;
    margin-left: 20px;
    width: 237px;
    font-size: 14px;
    line-height: 20px;
    @include mixin.tab {
      margin-top: 0.3rem;
      margin-left: 0.2rem;
      width: 2.37rem;
      font-size: 0.14rem;
      line-height: 0.2rem;
    }
  }
}