@use "../../object/utility/utility.scss";

.p-free {
  position: relative;
  width: 100%;
  height: 300px;
  @include utility.sp {
    height: auto;
  }

  &__inner {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__inner::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  &__desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: utility.$white;
    z-index: 10;
    text-align: center;
    span {
      font-family: Noto Sans JP;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    @include utility.sp {
      span {
        font-size: 0.08rem;
        font-weight: 400;
      }
    }
  }

  &__mt {
    display: block;
    margin-top: 20px;
    @include utility.sp {
      margin-top: 0px !important;
    }
  }
}
