@use '../../object/utility/utility.scss';
@use '../../object/utility/utility' as base;

.p-gizjob {
  width: 1600px;
  height: 300px;
  flex-shrink: 0;
  position: relative;
  @include base.sp {
    width: 4rem;
    height: 0.75rem;
  };
  &  img {
    width: 1600px;
    height: 300px;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    @include base.sp {
      width: 4rem;
      height: 0.75rem;
    };
  };
  &_text {
    position: absolute;
    color: utility.$white;
    font-family: Noto Sans JP;
    font-size: 25px;
    font-style: normal;
    font-weight: utility.$bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 400;
    @include base.sp {
      font-size: 0.14rem;
      width: 3.49rem;
      font-family: Noto Sans JP;
      
      line-height: 0.20rem;
    };
    & p:last-child {
      margin-top: 21px;
      @include base.sp {
        margin-top: 0.02rem;
      };
    };
  };
};