@use '../../object/utility/utility.scss' as uty;
// group4のスタイルを記述するファイル

.p-group4 {
  padding: 106.13px 0 89px 0;

  &__group4 {
    text-align: center;

    &__title {
      font-size: 25px;
      font-weight: uty.$bold;
      line-height: 25px;
    }
    &__contents {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      color: uty.$white;

      & > li {
        margin-left: 20px;

          &:first-child {
            margin-left: 0;
          }
      }
      &__content-1 {
        border-radius: 10px;
        background-image: url('../img/picture/img-group4__source1.jpg');
        @include uty.backgroundimg();
        @include uty.contentText();
        
        &::before {
          @include uty.shadow();
          border-radius: 10px;
        }
      }
      &__content-2 {
        border-radius: 10px;
        background-image: url('../img/picture/img-group4__source2.jpg');
        @include uty.backgroundimg();
        @include uty.contentText();

        &::before {
          @include uty.shadow();
          border-radius: 10px;
        }
      }
    }
    &__button{
      margin: 80px auto 0 auto;
      padding: 21px 93px;
    }
  }
}