@use '../../object/utility/utility.scss' as uty;
// guidanceのスタイルを記述するファイル

.p-guidance {
  padding: 106.13px 0 89px 0;
  
  @include uty.tab {
    width: 1199px;
  }
  @include uty.sp {
    padding: .6113rem 0 .35rem 0;
    width: 100%;
  }
  &__guidance {
    text-align: center;

    &__title {
      font-size: 25px;
      font-weight: uty.$bold;
      line-height: 25px;

      @include uty.sp {
        font-size: .25rem;
        line-height: .25rem;
      }
    }
    &__contents {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      @include uty.sp {
        display: block;
        margin-top: .355rem;
      }
      & > li {
        margin-left: 20px;

        @include uty.sp {
          margin-left: 0;
        }
        &:first-child {
          margin-left: 0;
        }
      }
      &__content-1 {
        border-radius: 10px;
        background-image: url('../img/picture/img-group4__source1.jpg');
        background-repeat: no-repeat;
        @include uty.backgroundimg();
        @include uty.contentText();
        
        @include uty.sp {
          width: 3.7rem;
          height: 2.34rem;
          background-size: cover;

          &__title {
            font-size: .21rem;
            line-height: .21rem;
            top: .6045rem;
          }
          &__tip {
            font-size: .14rem;
            line-height: .2027rem;
            top: 1.1345rem;
          }
        }
        &::before {
          @include uty.shadow();
          border-radius: 10px;
        }
      }
      &__content-2 {
        border-radius: 10px;
        background-image: url('../img/picture/img-group4__source2.jpg');
        background-repeat: no-repeat;
        @include uty.backgroundimg();
        @include uty.contentText();

        @include uty.sp {
          width: 3.7rem;
          height: 2.34rem;
          margin: .1755rem 0 .1755rem 0;
          background-size: cover;
        }
        &::before {
          @include uty.shadow();
          border-radius: 10px;
        }
      }
    }
    &__button{
      margin: 80px auto 0 auto;
      padding: 21px 0;
      width: 420px;

      @include uty.sp {
        margin-top: .3486rem;
        padding: .21rem 0;
        width: 3.7rem;
      }
    }
  }
}