@use '../../object/utility/utility.scss';
@use '../../foundation/mixins' as mixin;

.p-hamburgermenu {
  display: none;
  @include mixin.sp {
    display: block;
    position: fixed;
    width: 100%;
    height: 5.54rem;
    padding:0.57rem 0 0 0.6rem;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__icon {
    display: none;
    cursor: pointer;
    @include mixin.sp {
      display: block;
      border: none;
      background-color: transparent;
      float: right;
      margin: 0.15rem 0.15rem 0.15rem 0;
      width: 0.5rem;
      height: 0.38rem;
      position: relative;
    }
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 0.06rem;
    background-color: utility.$black;
    border-radius: 10rem;
    &:nth-child(2) {
      position: absolute;
      top: 0.16rem;
      left: 0;
      width: 0.5rem;
      height: 0.06rem;
      background-color: utility.$black;
      border-radius: 10rem;
    }
    &:nth-child(3) {
      position: absolute;
      top: 0.32rem;
      left: 0;
      width: 0.5rem;
      height: 0.06rem;
      background-color: utility.$black;
      border-radius: 10rem;
    }
  }
  
  &__lists {
    display: flex;
    flex-direction: column;
  }
  
  &__list {
    margin-top: 0.38rem;
  }
  
  &__link {
    color: utility.$white;
    font-size: 0.22rem;
    font-weight: 700;
  }
}