@use '../../object/utility/utility.scss';
@use '../../foundation/mixins' as mixin;

.p-hamburgermenu {
  display: none;
  @include mixin.sp {
    padding:0.57rem 0 0 0.6rem;
    display: block;
    width: 100%;
    height: 5.54rem;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__icon {
    display: none;
    @include mixin.sp {
      display: block;
      background-image: url(../img/icon/menu.png);
      background-repeat: no-repeat;
      background-size: contain;
      float: right;
      margin: 0.15rem 0.15rem 0.15rem 0;
      width: 0.5rem;
      height: 0.38rem;
    }
  }
  
  &__lists {
    display: flex;
    flex-direction: column;
  }
  
  &__list {
    margin-top: 0.38rem;
  }
  
  &__link {
    color: utility.$white;
    font-size: 0.22rem;
    font-weight: 700;
  }
}