@use '../../object/utility/utility.scss';
@use '../../foundation/mixins' as mixin;

.p-hamburgermenu {
  visibility: hidden;
  display: none;
  @include mixin.sp {
    margin-top: 0.7rem;
    display: block;
    position: fixed;
    width: 100%;
    height: 5.54rem;
    transform: translateX(100%);
    z-index: 100;
    padding: 0.38rem 0 0 0.6rem;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__icon {
    display: none;
    cursor: pointer;
    @include mixin.sp {
      display: block;
      position: relative;
      float: right;
      border: none;
      width: 0.5rem;
      height: 0.38rem;
      margin: 0.15rem 0.15rem 0.15rem 0;
      background-color: transparent;
    }
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 0.06rem;
    background-color: utility.$black;
    border-radius: 10rem;
    transition: 0.5s ease-in;
    &:nth-child(2) {
      position: absolute;
      top: 0.16rem;
      left: 0;
      width: 0.5rem;
      height: 0.06rem;
      background-color: utility.$black;
      border-radius: 10rem;
    }
    &:nth-child(3) {
      position: absolute;
      top: 0.32rem;
      left: 0;
      width: 0.5rem;
      height: 0.06rem;
      background-color: utility.$black;
      border-radius: 10rem;
    }
  }

  &__link {
    display: none;
    @include mixin.sp {
      display: block;
      line-height: 0.6rem;
      width: 3rem;
      height: 0.6rem;
      color: utility.$white;
      font-size: 0.22rem;
      font-weight: 700;
    }
  }
}