@use '../../object/utility/utility.scss';
@import'../../foundation/_variables.scss';
@import'../../foundation/_mixins.scss';


// headerのスタイルを記述するファイル
.p-header {



  &__nav {
    padding-bottom: 0.25rem;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    margin-top: 40px;
    margin-left: 3.9rem;
    white-space: nowrap;


  }

  &__item {
    list-style: none;
    font-size: 16px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: $regular;
    line-height: normal;
    text-decoration: none;
    margin-left: 15px;

    &:first-child {
      margin-left: 25px;
    }

    & span {
      margin-left: 15px;
    }

    a {
      transition: $transition;
    }

    & a:hover {
      opacity: $opacity;
      cursor: pointer;
    }

    & img {
      margin-top: 5.5px;
      width: 18px;
      height: 18px;
    }

    & a {
      color: $black;
    }
  }

  &__hamburger {
    display: none;
  }
}

// TAB
@include tab {
  .p-header {
    &__nav {
      padding-right: 0.2rem;
      padding-bottom: 0.25rem;
    }


    &__list {
      height: auto;
      margin-top: 0.4rem;
    }

    &__item {
      display: inline;
      font-size: 0.16rem;

      &:first-child {
        margin-left: 0.25rem;
      }

      & img {
        width: 0.18rem;
        height: auto;
      }

      & span {
        margin-left: 0.15rem;
      }
    }
  }
}

@include sp {
  .p-header {
    &__nav {
      padding-right: 0.15rem;
      position: relative;
    }

    &__list {
      display: none;
    }

    &__hamburger {
      position: absolute;
      margin-top: 0.1rem;
      display: inline-block;
      cursor: pointer;
      background-color: transparent;
      border: none;
      appearance: none;
      padding: 0px;
      text-align: center;
      width: 0.5rem;

      &__bar {
        display: inline-block;
        width: 100%;
        height: 0.06rem;
        margin-top: 0.07rem;
        background: $black;
        border-radius: 0.05rem;
      }
    }

    &__nav-btn__item {
      display: none;
    }
  }
}

.header__nav {
  display: block;
  position: fixed;
  right: -100%;
  top: 0.7rem;
  width: 100%;
  height: 5rem;
  background-color: rgba(0, 0, 0, .7);
  transition: ease .4s;
}

.header__nav.active {
  right: 0;
}

.nav__items {
  position: absolute;
  top: 0.3rem;
  left: 0.6rem;
  text-align: left;

  &__item a {
    color: $white;
    font-family: Noto Sans JP;
    font-size: 0.2rem;
    font-style: normal;
    font-weight: $bold;
    line-height: 0.2rem;
    margin-top: 0.38rem;
  }

  &__item:first-child {
    margin-top: 0px;
  }
}


.hamburger.active span:nth-child(1) {


  transform: translateY(0.19rem) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {

  transform: translateY(-0.13rem) rotate(-45deg);
}