@use '../../object/utility/utility.scss';

.p-helpful {
  &__area {
    margin-top: 105px;
  }
  &__title {
    @include utility.title;
  }
  &__flex {
    margin-top: 50px;
    display: flex;
    text-align: center;
  }
  &__contents {
    width: 380px;
    height: 240px;
    margin-right: 20px;
    border-radius: 10px;
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(1) {
      background: url(../img/picture/helpful_photo1.jpg) no-repeat;
      @include utility.overlay;
    }
    &:nth-child(2) {
      background: url(../img/picture/helpful_photo2.jpg) no-repeat;
      @include utility.overlay;
    }
    &:nth-child(3) {
      background: url(../img/picture/helpful_photo3.jpg) no-repeat;
      @include utility.overlay;
    }
    &__title {
      font-size: 24px;
      color: utility.$white;
      font-weight: utility.$bold;
    }
    &__content {
      font-size: 16px;
      color: utility.$white;
      margin-top: 45px;
      line-height: 23.17px;
    }
  }
  &__btn {
    margin-top: 80px;
  }
}

@media screen and (width <=1199px) {
  .p-helpful {
    &__area {
      margin-top: 1.05rem;
    }
    &__title {
      @include utility.title;
    }
    &__flex {
      margin-top: 0.5rem;
      display: flex;
      text-align: center;
    }
    &__contents {
      width: 3.8rem;
      height: 2.4rem;
      margin-right: 0.2rem;
      border-radius: 0.1rem;
      &:last-child {
        margin-right: 0;
      }
      &:nth-child(1) {
        background: url(../img/picture/helpful_photo1.jpg) no-repeat;
        @include utility.overlay;
      }
      &:nth-child(2) {
        background: url(../img/picture/helpful_photo2.jpg) no-repeat;
        @include utility.overlay;
      }
      &:nth-child(3) {
        background: url(../img/picture/helpful_photo3.jpg) no-repeat;
        @include utility.overlay;
      }
      &__title {
        font-size: 0.24rem;
        color: utility.$white;
        font-weight: utility.$bold;
      }
      &__content {
        font-size: 0.16rem;
        color: utility.$white;
        margin-top: 0.45rem;
        line-height: 0.2317rem;
      }
    }
    &__btn {
      margin-top: 0.8rem;
    }
  }
}

@media screen and (width <=767px) {
  .p-helpful {
    &__area {
      margin-top: 0.6rem;
    }
    &__flex {
      flex-direction: column;
      margin-top: 0.3055rem;
    }
    &__contents {
      width: auto;
      height: 2.349rem;
      margin-top: 0.1755rem;
      margin-right: 0;
      &:first-child {
        margin-top: 0;
      }
    }
    &__title {
      font-size: 0.21rem;
      line-height: 0.21rem;
    }
    &__content {
      font-size: 0.14rem;
      margin-top: 0.53rem;
      line-height: 0.2027rem;
    }
    &__btn {
      margin-top: 0.3486rem;
    }
  }
}