@use '../../object/utility/utility.scss';
@use '../../foundation/variables';

.p-helpfulContents {
  margin-top: 105px;
  text-align: center;

  &>h2 {
    font-weight: variables.$bold;
    font-size: 25px;
    line-height: 25px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;

    &__each {
      width: 380px;
      height: 240px;
      margin-top: 50px;
      margin-left: 20px;
      position: relative;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;


      &::after {
        content: "";
        position: absolute;
        z-index: 100;
        inset: 0;
        width: 380px;
        height: 240px;
        border-radius: 10px;
        ;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
      }

      &>h3 {
        font-weight: variables.$bold;
        font-size: 24px;
        line-height: 24px;
        color: variables.$white;
        z-index: 300;
      }

      &>p {
        font-weight: variables.$regular;
        font-size: 16px;
        line-height: 1.3;
        color: variables.$white;
        z-index: 300;
        margin-top: 44px;
      }
    }

    &__each:first-child {
      margin-left: 0;
    }

    &__each:first-child,
    &__each:nth-child(3) {
      background-image: url(../img/picture/p-helpfulContents-paper.jpg);
      background-repeat: no-repeat;
    }

    &__each:nth-child(2) {
      background-image: url(../img/picture/p-helpfulContents-pc.jpg);
      background-repeat: no-repeat;
    }
  }
}