@use "../../object/utility/utility.scss";

.p-home {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-color: utility.$homeColor;
  position: relative;

  &__pic {
    width: 1264px;
    height: 500px;
    margin: 0 auto;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &__keyvisual {
    position: absolute;
    top: 70px;
    right: 450px;
  }

  &__job-search {
    position: absolute;
    bottom: 180px;
    right: 230px;
  }

  &__job-offer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 80px;
    right: 450px;
    color: utility.$homeGreen;
    font-family: Noto Sans JP;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 388px;
    height: 66px;
    background-color: utility.$white;
    border: 1px solid utility.$homeGreen;
    border-radius: 6px;
    padding-bottom: 5px;
    span {
      font-size: 40px;
      font-weight: 700;
    }
  }
}
