@use '../../object/utility/utility.scss';
@use '../../foundation/mixins.scss';
.p-ideal {
  &__img {
    height: 300px;
    background-image: url(../img/picture/ideal-icon.jpg);
    text-align: center;
    background-position:50%;
    background-size:cover;
    position: relative;
    @include mixins.tab {
      height: 3rem;
    }
    @include mixins.sp {
      width: 100%;
      height: 0.75rem;
    }
    &::before {
      content: "";
      position: absolute;
      background: utility.$black;
      opacity: 0.5;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 300px;
      @include mixins.tab {
        height: 3rem;
      }
      @include mixins.sp {
        height: 0.75rem;
      }
    }
  }
  &__jobs {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 25px;
    line-height: 56px;
    font-weight: 700;
    color: utility.$white;
    padding-top: 104px;
    @include mixins.tab {
      font-size: 0.25rem;
      line-height: 0.56rem;
      padding-top: 1.04rem;
    }
    @include mixins.sp {
      font-weight: 400;
      font-size: 0.14rem;
      line-height: 0.23rem;
      padding-top: 0.16rem;
    }
  }
}