@use '../../object/utility/utility.scss';
@use '../../foundation/mixins' as mixin;

.p-information {
  &__area {
    margin-top: 59px;
    padding: 64px 0 67px 0;
    background-color: utility.$paleBlue;
    font-size: 16px;
    @include mixin.tab {
      margin-top: 0.59rem;
      padding: 0.64rem 0 0.67rem 0;
      font-size: 0.16rem;
    }
    @include mixin.sp {
      margin-top: 0.25rem;
      padding: 0.3rem 0 0.6rem 0;
      font-size: 0.16rem;
    }
  }
  &__title {
    font-size: 25px;
    @include mixin.tab {
      font-size: 0.25rem;
    }
    @include mixin.sp {
      font-size: 0.25rem;
      font-weight: 700;
      text-align: center;
    }
  }
  &__list {
    width: 280px;
    position: relative;
    @include mixin.tab {
      width: 2.8rem;
    }
    @include mixin.sp {
      width: 3.7rem;
      transform: translateX(0);
    }
  }

  &__list-inner {
    margin-left: 20px;
    @include mixin.tab {
      margin-left: 0.2rem;
    }
    @include mixin.sp {
      margin-left: 0.01rem;
    }
  }

  &__lists {
    display: flex;
    position: relative;
    margin-top: 25px;
    left: -10px;
    justify-content: center;
    @include mixin.tab {
      justify-content: center;
      margin-top: 0.25rem;
      left: -0.1rem;
    }
    @include mixin.sp {
      flex-wrap: wrap;
      margin-top: 0.35rem;
      left: 0;
    }
  }
  &__image {
    width: 100%;
    border-radius: 10px;
    @include mixin.tab {
      width: 100%;
      border-radius: 0.1rem;
    }
    @include mixin.sp {
      width: 100%;
      height: auto;
      border-radius: 0.15rem;
    }
  }
  &__article-title {
    margin-top: 8px;
    line-height: 22px;
    color: utility.$black;
    @include mixin.tab {
      margin-top: 0.08rem;
      line-height: 0.22rem;
    }
    @include mixin.sp {
      margin-top: 0.1rem;
      line-height: 0.22rem;
      font-size: 0.16rem;
      font-weight: 700;
    }
  }
  &__table {
    margin-top: 1.9px;
    border-collapse: separate;
    border-spacing: 0 5px;
    border-top: none;
    color: utility.$black;
    line-height: 21px;
    font-size: 14px;
    @include mixin.tab {
      margin-top: 0.019rem;
      border-spacing: 0 0.05rem;
      line-height: 0.21rem;
      font-size: 0.14rem;
    }
    @include mixin.sp {
      margin-top: 0.11rem;
      border-spacing: 0 0.05rem;
      line-height: 0.21rem;
      font-size: 0.14rem;
    }
  }
  &__table-heading {
    width: 60px;
    text-align: center;
    background-color: utility.$pastelPink;
    @include mixin.tab {
      width: 0.6rem;
    }
    @include mixin.sp {
      width: 0.6rem;
    }
  }
  &__table-content {
    padding-left: 10px;
    @include mixin.tab {
      padding-left: 0.1rem;
    }
    @include mixin.sp {
      padding-left: 0.21rem;
    }
  }
  &__button {
    display: block;
    width: 360px;
    margin: 61px auto 0px;
    text-align: center;
    @include mixin.tab {
      margin: 0.61rem auto 0;
      width: 3.6rem;
    }
    @include mixin.sp {
      width: 3.7rem;
      height: 0.6rem;
      margin: 0.44rem auto 0;
      font-size: 0.18rem;
      line-height: 0.6rem;
    }
  }
}

.slick-prev {
  z-index: 90;
  top: 100px;
  left: 2px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  @include mixin.tab {
    top: 1rem;
    left: 0.22rem;
    width: 0.6rem;
    height: 0.6rem;
  }
  @include mixin.sp {
    top: 2.2rem;
    left: 0;
    width: 0.4rem;
    height: 0.4rem;
  }
  &::before {
    content: "";
    display: block;
    opacity: 0.75;
    width: 60px;
    height: 60px;
    background-image: url(../img/icon/slider-circle.png);
    background-size: contain;
    border-radius: 50;
    line-height: 1;
    @include mixin.tab {
      width: 0.6rem;
      height: 0.6rem;
    }
    @include mixin.sp {
      width: 0.4rem;
      height: 0.4rem;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 25px;
    width: 20px;
    height: 20px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    transform: rotate(-45deg);
    @include mixin.tab {
      top: 0.2rem;
      left: 0.23rem;
      width: 0.2rem;
      height: 0.2rem;
      border-top: 0.01rem solid utility.$black;
      border-left: 0.01rem solid utility.$black;
    }
    @include mixin.sp {
      top: 0.13rem;
      left: 0.16rem;
      width: 0.14rem;
      height: 0.14rem;
      border-top: 0.01rem solid utility.$black;
      border-left: 0.01rem solid utility.$black;
    }
  }
}

.slick-next {
  z-index: 90;
  top: 100px;
  right: 26px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  @include mixin.tab {
    width: 0.6rem;
    height: 0.6rem;
    top: 1rem;
    right: 0;
  }
  @include mixin.sp {
    width: 0.4rem;
    height: 0.4rem;
    top: 2.2rem;
    left: 3.3rem;
  }
  &::before {
    content: "";
    display: block;
    opacity: 0.75;
    width: 60px;
    height: 60px;
    background-image: url(../img/icon/slider-circle.png);
    background-size: contain;
    border-radius: 50;
    line-height: 1;
    @include mixin.tab {
      width: 0.6rem;
      height: 0.6rem;
    }
    @include mixin.sp {
      width: 0.4rem;
      height: 0.4rem;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 15px;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    border-top: 1px solid utility.$black;
    border-right: 1px solid utility.$black;
    @include mixin.tab {
      top: 0.2rem;
      left: 0.15rem;
      width: 0.2rem;
      height: 0.2rem;
      border-top: 0.01rem solid utility.$black;
      border-right: 0.01rem solid utility.$black;
    }
    @include mixin.sp {
      top: 0.13rem;
      left: 0.1rem;
      width: 0.14rem;
      height: 0.14rem;
      border-top: 0.01rem solid utility.$black;
      border-right: 0.01rem solid utility.$black;
    }
  }
}