@use "../../object/utility/utility.scss";

.p-infomation {
  margin-top: 105px;

  @include utility.tab {
    margin-top: 1.05rem;
  }
  @include utility.sp {
    margin-top: 0.6rem;
  }

  &__content {
    display: flex;
    gap: 20px;

    @include utility.tab {
      gap: 0.2rem;
    }
    @include utility.sp {
      flex-direction: column;
    }
  }

  &__item {
    width: 33%;
    padding: 70px 0 55px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    @include utility.tab {
      padding: 0.7rem 0 0.55rem;
    }
    @include utility.sp {
      width: 100%;
      padding: 0.6rem 0;
    }

    &:nth-child(odd) {
      background-image: url(../img/picture/resume.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &:nth-child(even) {
      background-image: url(../img/picture/PC.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 1);
      opacity: 0.5;
    }

    &-title {
      position: relative;
      font-size: 24px;
      font-weight: utility.$bold;
      color: utility.$white;

      @include utility.tab {
        font-size: 0.24rem;
      }
      @include utility.sp {
        font-size: 0.21rem;
      }
    }
    &-text {
      position: relative;
      margin-top: 44px;
      font-size: 16px;
      line-height: 23.17px;
      color: utility.$white;

      @include utility.tab {
        margin-top: 0.44rem;
        font-size: 0.16rem;
        line-height: 0.23rem;
      }
      @include utility.sp {
        margin-top: 0.53rem;
        font-size: 0.14rem;
        line-height: 0.2rem;
      }
    }
  }

  &__button {
    display: block;
    width: 420px;
    padding: 21px 93px;
    margin: 80px auto 0;

    @include utility.tab {
      width: 4.2rem;
      padding: 0.21rem 0.93rem;
      margin: .8rem auto 0;
    }
    @include utility.sp {
      width: 3.7rem;
      padding: .21rem .68rem;
      margin: .34rem auto 0;
    }
  }
}
