@use '../../object/utility/utility.scss';

.p-introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: utility.$black;

  &__picture {
    height: 300px;
    opacity: 50%;
    @include utility.sp {
      height: .75rem;
    }
  }

  &__text {
    & > span {
      font-weight: utility.$regular;
    }
    &:last-child {
      margin-top: .02rem;
    }
  }

  &__message {
    position: absolute;
    color: utility.$white;
    font-weight: utility.$bold;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    @include utility.sp {
      font-weight: utility.$regular;
      font-size: .14rem;
      line-height: .2027rem;
    }
  }
}
