@use '../../object/utility/utility.scss';

.p-job-list {
  margin-top: 60px;
  width: 100vw;
  background-color: utility.$bgLightBlue;
  height: 636px;
  padding-top: 64px;

  @include utility.tab {
    margin-top: .6rem;
    height: 6.36rem;
    padding-top: .64rem;
  }
  @include utility.sp {
    margin-top: .25rem;
    height: 6rem;
    padding-top: .3rem;
  }

  &__inner {
    margin: 0 auto;
  }

  &__title {
    font-size: 25px;

    @include utility.tab {
      font-size: .25rem;
    }
    @include utility.sp {
      font-size: .22rem;
      font-weight: utility.$bold;
      text-align: center;
    }
  }

  &__content {
    &__container {
      position: relative;
    }
  }
  &__items {
    margin-top: 25px;
    display: flex;
    justify-content: center;

    @include utility.tab {
      margin-top: .25rem;
    }
    @include utility.sp {
      width: 100%;
      margin-top: .35rem;
      overflow-x: auto;
    }

    &__container {
      position: relative;
    }
  }

  &__card {
    position: relative;
    width: 280px;

    @include utility.tab {
      width: 2.8rem;
    }
    @include utility.sp {
      width: 100%
    };

    &__image {
      width: 100%;
      border-radius: 10px;
    }
    &__title {
      margin-top: 8px;
      font-size: 16px;
      line-height: 22px;

      @include utility.tab {
        margin-top: .08rem;
        font-size: .16rem;
        line-height: .22rem;
      }
      @include utility.sp {
        margin-top: .1rem;
        font-size: .16rem;
        font-weight: utility.$bold;
        line-height: .22rem;
      }
    }
  }

  &__card-info {
    margin-top: 7px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;

    @include utility.tab {
      margin-top: .07rem;
      gap: .04rem;
      font-size: .14rem;
    }
    @include utility.sp {
      margin-top: .1rem;
      gap: .06rem;
      font-size: .14rem;
    }

    &__title {
      background-color: utility.$bgPink;
      text-align: center;
      width: 60px;
      height: 20px;
      line-height: 20px;

      @include utility.tab {
        width: .6rem;
        height: .2rem;
        line-height: .2rem;
      }
      @include utility.sp {
        width: .6rem;
        height: .21rem;
        line-height: .2rem;
      }
    }
  }

  &__button {
    display: block;
    width: 360px;
    height: 60px;
    padding: 17px 0;
    margin: 0 auto;

    @include utility.tab {
      width: 3.6rem;
      height: .6rem;
      padding: .17rem 0;
    }
    @include utility.sp {
      width: 100%;
      height: .6rem;
      padding: .21rem 0;
    }

    &-container {
      margin-top: 60px;

      @include utility.tab {
        margin-top: .6rem;
      }
      @include utility.sp {
        margin-top: .44rem;
      }
    }
  }

  &__back-button {
    width: 60px;
    height: 60px;
    background-color: utility.$bgTranparentWhite;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 10;

    @include utility.tab {
      width: 0.6rem;
      height: 0.6rem;
      top: 0.7rem;
    }
    @include utility.sp {
      width: 0.42rem;
      height: 0.42rem;
      top: 1.57rem;
    }

    &__icon {
      width: 15px;
      height: 30px;

      @include utility.tab {
        width: 0.15rem;
        height: 0.3rem;
      }
      @include utility.sp {
        width: 0.07rem;
        height: 0.14rem;
      }
    }
  }

  &__forward-button {
      width: 60px;
      height: 60px;
      background-color: utility.$bgTranparentWhite;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 70px;
      right: 0;
      z-index: 10;

      @include utility.tab {
        width: 0.6rem;
        height: 0.6rem;
        top: 0.7rem;
      }
      @include utility.sp {
        width: 0.42rem;
        height: 0.42rem;
        top: 1.57rem;
      }

      &__icon {
        width: 15px;
        height: 30px;

        @include utility.tab {
          width: 0.15rem;
          height: 0.3rem; 
        }
        @include utility.sp {
          width: 0.07rem;
          height: 0.14rem;
        }
      }
  }

  &-sp {
    &__card {
      @include utility.sp {
        width: 100%
      };

      &__image {
        width: 100%;
        border-radius: 10px;
      }
      &__title {
        margin-top: 8px;
        font-size: 16px;
        line-height: 22px;

        @include utility.tab {
          margin-top: .08rem;
          font-size: .16rem;
          line-height: .22rem;
        }
        @include utility.sp {
          margin-top: .1rem;
          font-size: .16rem;
          font-weight: utility.$bold;
          line-height: .22rem;
        }
      }
    }

    &__card-info {
      @include utility.sp {
        display: flex;
        margin-top: .05rem;
        gap: .2106rem;
        font-size: .14rem;
      }
      &:first-child {
        @include utility.sp {
          margin-top: .12rem;
        }
      }

      &__title {
        background-color: utility.$bgPink;
        text-align: center;
        width: 60px;
        height: 20px;
        line-height: 20px;

        @include utility.sp {
          width: .6rem;
          height: .21rem;
          line-height: .2rem;
        }
      }
    }
  }
}
