@use '../../object/utility/utility.scss';

.p-features {
  height: 582px;
  background-color: #FFFFFF;
  margin-top: 98px;
  text-align: center;
  @include utility.sp {
    width: 2.5rem;
    height: 10rem;
  }

  &__flex-box {
    display: grid;
    gap: 35px;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    @include utility.sp {
      display: flex;
      flex-flow: column;
    }
  }

  &__title {
    font-size: 24px;
    color: #DE5579;
    text-align: center;
    font-weight: bold;
  }

  &__fome-box {
  width: 573px;
  padding: 40px 0;
  border-radius:10px;
  background-color: #F7D2DB;
  @include utility.tab {
    width: 5.5rem;
  }
  @include utility.sp {
    width: 3.9rem;
  }
 }

  &__features-text {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    margin-top: 36px;
    @include utility.sp {
      width: 3.6rem;
      font-size: 0.11rem;
    }
  }

  &__features-texts {
    font-size: 14px;
    text-align: center;
    line-height: 1.4;
    margin-top: 31px;
  }
}

