@use '../../object/utility/utility.scss';

.p-jobcontents {
  height: 462px;
  text-align: center;
  @include utility.sp {
    height: 9rem;
    width: 1rem;
  }

 &__main-contents {
  margin: 49px 0 81px 0;
  position: relative;
  display: flex;
  gap: 15px;
  @include utility.sp {
    display: flex;
    flex-flow: column;
  }
 }

 &__manual {
   font-size: 24px;
   color: #FFFFFF;
   font-weight: bold;
   text-align: center;
   margin-bottom: 40px;
 }

 &__contents-image {
  background-image: url("../img/picture/contense-banner01.png");
  width: 380px;
  height: 240px;
  filter: brightness(50%);
  @include utility.tab {
    width: 4rem;
   }
   @include utility.sp {
    width: 3.2rem;
  }
 }

 &__contents-title {
  font-size: 16px;
  color: #FFFFFF;
  position: absolute;
  top:53%;
  left:16%;
  transform: translate(-50%,-50%);
  text-align: center;
  line-height: 1.5;
  @include utility.tab {
    width: 3rem;
    font-size: 0.18rem;
   }
   @include utility.sp {
    top: 1.2rem;
    left: 1.7rem;
    width: 3rem;
  }
 }

 &__medical-image {
  background-image: url("../img/picture/contense-banner02.png");
  width: 380px;
  height: 240px;
  filter: brightness(50%);
  @include utility.tab {
    width: 5rem;
   }
   @include utility.sp {
    width: 3.2rem;
  }
 }

 &__medical-text {
  font-size: 16px;
  color: #FFFFFF;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  @include utility.sp {
    width: 3.6rem;
  }
 }

 &__contents-medical {
  top:53%;
  left: 49%;
  transform: translate(-50%,-50%);
  text-align: center;
  line-height: 1.5;
  color: #FFFFFF;
  font-size: 16px;
  position: absolute;
  @include utility.tab {
    font-size: 0.22rem;
   }
   @include utility.sp {
    top: 3.5rem;
    left: 1.5rem;
  }
 }


 &__contents-jobchenge {
  top:53%;
  left: 77%;
  transform: translate(-22%,-54%);
  text-align: center;
  line-height: 1.5;
  color: #FFFFFF;
  font-size: 16px;
  position: absolute;
  @include utility.tab {
    font-size: 0.2rem;
    width: 4rem;
   }
   @include utility.sp {
    top: 6.3rem;
    left: 0.8rem;
    width: 3rem;
  }
 }

 &__chenge-manual {
  font-size: 16px;
  color: #FFFFFF;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
 }

}



