@use '../../object/utility/utility.scss';

.p-jobcontents {
  height: 450px;
 

 &__main-contents {
  margin-top: 47px;
  position: relative;
  display: flex;
  gap: 15px;
  margin-bottom: 70px;
 }

 &__manual {
   font-size: 24px;
   color: #FFFFFF;
   font-weight: bold;
   text-align: center;
   margin-bottom: 40px;
 }

 &__contents-image {
  background-image: url("../img/picture/contense-banner01.png");
  width: 380px;
  height: 240px;
  filter: brightness(50%);
 }

 &__contents-title {
  font-size: 16px;
  color: #FFFFFF;
  position: absolute;
  top:53%;
  left:16%;
  transform: translate(-50%,-50%);
  text-align: center;
  line-height: 1.5;
 }

 &__medical-image {
  background-image: url("../img/picture/contense-banner02.png");
  width: 380px;
  height: 240px;
  filter: brightness(50%);
 }

 &__medical-text {
  font-size: 16px;
  color: #FFFFFF;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
 }

 &__contents-medical {
  top:53%;
  left: 49%;
  transform: translate(-50%,-50%);
  text-align: center;
  line-height: 1.5;
  color: #FFFFFF;
  font-size: 16px;
  position: absolute;
 }


 &__contents-jobchenge {
  top:53%;
  left: 77%;
  transform: translate(-22%,-54%);
  text-align: center;
  line-height: 1.5;
  color: #FFFFFF;
  font-size: 16px;
  position: absolute;
 }

 &__chenge-manual {
  font-size: 16px;
  color: #FFFFFF;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
 }

}



