@use '../../object/utility/utility.scss';

.p-job {
  background-color: utility.$bgLightBlue;
  padding: 6.4rem 0 6.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include utility.sp {
    padding: 0.3rem 0 0.6rem;
  }
  &__title {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    @include utility.sp {
      text-align: center;
      font-size: 0.25rem;
      margin-bottom: 0.35rem;
    }
  }
  &__new-job {
    position: relative;
    display: flex;
    gap: 2rem;
    margin-bottom: 6rem;
    @include utility.sp {
      margin-bottom: 0.44rem;
    }
  }
  &__item {
    width: 28rem;
    @include utility.sp {
      width: 3.7rem;
      display: none;
      &.is-visible {
        display: block;
      }
    }
  }
  &__img {
    border-radius: 1rem;
    width: 28rem;
    height: 20rem;
    margin-bottom: 0.8rem;
    @include utility.sp {
      border-radius: 0.1rem;
      width: 3.7rem;
      height: 2.08rem;
      margin-bottom: 0.1rem;
    }
  }
  &__desc {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 0.9rem;
    @include utility.sp {
      font-size: 0.16rem;
      margin-bottom: 0.1rem;
    }
  }
  &__info {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
    @include utility.sp {
      font-size: 0.14rem; 
      margin-bottom: 0.04rem;
    }
  }
  &__label {
    width: 6rem;
    background-color: utility.$pink3;
    margin-right: 1rem;
    @include utility.sp {
      width: 0.6rem;
      margin-right: 0.2rem;
    }
    &.salary {
      padding: 0.5rem 1.6rem;
      @include utility.sp {
        padding: 0.02rem 0.16rem;
    }
    }
    &.address {
      padding: 0.5rem 0.9rem;
      @include utility.sp {
        padding: 0.02rem 0.09rem;
    }
    }
  }
  &__arrow {
    position: absolute;
    width: 6rem;
    height: 6rem;
    border: none;
    border-radius: 50%;
    background-color: utility.$white;
    opacity: 0.8;
    z-index: 100;
    @include utility.sp {
      width: 0.42rem;
      height: 0.42rem;
    }
    &-icon {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border-right: 1px solid utility.$black;
      border-bottom: 1px solid utility.$black;
      @include utility.sp {
      width: 0.1rem;
      height: 0.1rem;
    }
    }
    &.right {
      right: 0;
      top: 1.5rem;
      transform: rotate(-45deg);
    }
    &.left {
      left: 0;
      top: 1.5rem;
      transform: rotate(135deg);
    }
  }
  &__button {
    width: 36rem;
    padding: 1.7rem 7.2rem;
    margin: 0 auto;
    text-align: center;
    @include utility.sp {
      width: 3.7rem;
      padding: 0.21rem 0.77rem;
      font-size: 0.18rem;
    }
  }
}