@use '../../object/utility/utility.scss';

//転職までの流れの調整
.p-jobchange {
  &__headline {
    margin-top: 105px;
    color: utility.$black;
    font-family: Noto Sans JP;
    font-size: 25px;
    font-style: normal;
    font-weight: utility.$bold;
    line-height: 25px;
    text-align: center;
  }

  &__container {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    text-align: center;

    &__entrycard {
      width: 277px;
      height: 357px;
      border: 2px solid utility.$gizPink;
      border-radius: 10px;
      position: relative;

      &__step {
        display: table;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: utility.$gizPink;
        text-align: center;
        z-index: 10;

        &__1 {
          display: table-cell;
          color: utility.$white;
          text-align: center;
          vertical-align: middle;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: utility.$bold;
          line-height: normal;

        }
      }

      &__box {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 20;
        width: 100%;

        img {
          width: 102px;
          margin-top: 59px;
        }

        &__head {
          margin: 20px auto 0 auto;
          width: 216px;
          color: utility.$black;
          font-family: Noto Sans JP;
          font-size: 24px;
          font-style: normal;
          font-weight: utility.$bold;
          line-height: 30px;

        }

        &__text {
          width: 237px;
          margin: 18px auto 0 auto;
          color: utility.$black;
          font-family: Noto Sans JP;
          font-size: 14px;
          font-style: normal;
          font-weight: utility.$regular;
          line-height: normal;
          text-align: left;

          span {
            display: none;
          }
        }


      }

      &::after {
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(0%, -50%);
        content: "";
        width: 20px;
        height: 40px;
        background-image: url(../img/icon/icon-sr.png);
        background-size: contain;
      }
    }

    &__favoritecard {
      width: 277px;
      border: 2px solid utility.$gizPink;
      border-radius: 10px;
      position: relative;

      &__step {
        display: table;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: utility.$gizPink;
        text-align: center;

        &__2 {
          display: table-cell;
          color: utility.$white;
          text-align: center;
          vertical-align: middle;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: utility.$bold;
          line-height: normal;

        }
      }

      &__box {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 20;
        width: 100%;

        img {
          width: 79px;
          margin-top: 69px;
        }

        &__head {
          margin: 30px auto 0 auto;
          width: 168px;
          color: utility.$black;
          font-family: Noto Sans JP;
          font-size: 24px;
          font-style: normal;
          font-weight: utility.$bold;
          line-height: 30px;

        }

        &__text {
          width: 237px;
          margin: 18px auto 0 auto;
          color: utility.$black;
          font-family: Noto Sans JP;
          font-size: 14px;
          font-style: normal;
          font-weight: utility.$regular;
          line-height: normal;
          text-align: left;

          span {
            display: none;
          }
        }
      }

      &::after {
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(0%, -50%);
        content: "";
        width: 20px;
        /* 画像の幅に合わせて設定 */
        height: 40px;
        /* 画像の高さに合わせて設定 */
        background-image: url(../img/icon/icon-sr.png);
        background-size: contain;
      }
    }

    &__morecard {
      width: 277px;
      border: 2px solid utility.$gizPink;
      border-radius: 10px;
      position: relative;

      &__step {
        display: table;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: utility.$gizPink;
        text-align: center;

        &__3 {
          display: table-cell;
          color: utility.$white;
          text-align: center;
          vertical-align: middle;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: utility.$bold;
          line-height: normal;

        }
      }

      &__box {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 20;
        width: 100%;

        img {
          width: 106px;
          height: 100px;
          margin-top: 58px;
        }

        &__head {
          margin: 33px auto 0 auto;
          width: 168px;
          ;
          color: utility.$black;
          font-family: Noto Sans JP;
          font-size: 24px;
          font-style: normal;
          font-weight: utility.$bold;
          line-height: 35px;

        }

        &__text {
          width: 237px;
          margin: 30px auto 0 auto;
          color: utility.$black;
          font-family: Noto Sans JP;
          font-size: 14px;
          font-style: normal;
          font-weight: utility.$regular;
          line-height: normal;
          text-align: left;

          span {
            display: none;
          }
        }
      }

      &::after {
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(0%, -50%);
        content: "";
        width: 20px;
        /* 画像の幅に合わせて設定 */
        height: 40px;
        /* 画像の高さに合わせて設定 */
        background-image: url(../img/icon/icon-sr.png);
        background-size: contain;
      }
    }

    &__changecard {
      width: 277px;
      border: 2px solid utility.$gizPink;
      border-radius: 10px;
      position: relative;

      &__step {
        display: table;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: utility.$gizPink;
        text-align: center;

        &__4 {
          display: table-cell;
          color: utility.$white;
          text-align: center;
          vertical-align: middle;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: utility.$bold;
          line-height: normal;

        }
      }

      &__box {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 20;
        width: 100%;

        img {
          margin-top: 53px;
          width: 107px;
        }

        &__head {
          margin: 28px auto 0 auto;
          width: 144px;
          color: utility.$black;
          font-family: Noto Sans JP;
          font-size: 24px;
          font-style: normal;
          font-weight: utility.$bold;
          line-height: 35px;

        }

        &__text {
          width: 237px;
          margin: 30px auto 0 auto;
          color: utility.$black;
          font-family: Noto Sans JP;
          font-size: 14px;
          font-style: normal;
          font-weight: utility.$regular;
          line-height: normal;
          text-align: left;

          span {
            display: none;
          }
        }
      }
    }
  }
}

@include utility.sp {
  .p-jobchange {
    &__headline {
      margin-top: 0.6rem;
      font-size: 0.25rem;
    }

    &__container {
      flex-direction: column;
      align-items: center;

      &__entrycard {
        width: 2.8rem;
        height: 2.93rem;

        &__step {
          width: 0.45rem;
          height: 0.45rem;
          border-radius: 0.225rem;

          &__1 {
            font-size: 0.1rem;
          }
        }

        &__box {
          img {
            width: 0.76rem;
            margin-top: 0.54rem;
          }

          &__head {
            width: 100%;
            line-height: normal;
            margin-top: 0.2rem;
            font-size: 0.2rem;
          }

          &__text {
            width: 2.4rem;
            margin-top: 0.1rem;
            font-size: 0.14rem;

            span {
              display: block;
              line-height: 0;

              &:last-child {
                display: inline-block;
              }
            }
          }
        }

        &::after {
          width: 0.2rem;
          height: 0.4rem;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0%) rotate(90deg);
        }
      }

      &__favoritecard {
        width: 2.8rem;
        height: 2.93rem;
        margin-top: 0.4rem;

        &__step {
          width: 0.45rem;
          height: 0.45rem;
          border-radius: 0.225rem;

          &__2 {
            font-size: 0.1rem;
          }
        }

        &__box {
          img {
            width: 0.75rem;
            height: 0.75rem;
            margin-top: 0.54rem;
          }

          &__head {
            width: 100%;
            font-size: 0.2rem;
            line-height: normal;
            margin-top: 0.22rem;
          }

          &__text {
            width: 2.4rem;
            margin-top: 0.1rem;
            font-size: 0.14rem;

            span {
              display: block;
              line-height: 0;
            }
          }
        }

        &::after {
          width: 0.2rem;
          height: 0.4rem;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0%) rotate(90deg);
        }
      }

      &__morecard {
        width: 2.8rem;
        height: 2.93rem;
        margin-top: 0.4rem;

        &__step {
          width: 0.45rem;
          height: 0.45rem;
          border-radius: 0.225rem;

          &__3 {
            font-size: 0.1rem;
          }
        }

        &__box {
          img {
            width: 0.8rem;
            height: 0.75rem;
            margin-top: 0.54rem;
          }

          &__head {
            width: 100%;
            margin-top: 0.22rem;
            font-size: 0.2rem;
            line-height: normal;
          }

          &__text {
            width: 2.4rem;
            margin-top: 0.1rem;
            font-size: 0.14rem;

            span {
              display: block;
              line-height: 0;
            }
          }
        }


        &::after {
          width: 0.2rem;
          height: 0.4rem;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0%) rotate(90deg);
        }
      }

      &__changecard {
        width: 2.8rem;
        height: 2.93rem;
        margin-top: 0.4rem;

        &__step {
          width: 0.45rem;
          height: 0.45rem;
          border-radius: 0.225rem;

          &__4 {
            font-size: 0.1rem;
          }
        }

        &__box {
          img {
            width: 0.73rem;
            height: 0.75rem;
            margin-top: 0.54rem;
          }

          &__head {
            width: 100%;
            margin-top: 0.22rem;
            font-size: 0.2rem;
            line-height: normal;
          }

          &__text {
            width: 2.4rem;
            margin-top: 0.1rem;
            font-size: 0.14rem;

            span {
              display: block;
              line-height: 0;
            }
          }
        }
      }
    }
  }
}