@use '../../object/utility/utility.scss';

//転職までの流れの調整
.p-jobchange {
  &__headline {
    margin-top: 105px;
    color: utility.$black;
    font-family: Noto Sans JP;
    font-size: 25px;
    font-style: normal;
    font-weight: utility.$bold;
    line-height: 25px;
    text-align: center;
  }

  &__container {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    text-align: center;

    &__card1 {
      width: 277px;
      height: 357px;
      border: 2px solid utility.$gizPink;
      border-radius: 10px;
      position: relative;

      &__step {
        display: table;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: utility.$gizPink;
        text-align: center;

        &__1 {
          display: table-cell;
          color: utility.$white;
          text-align: center;
          vertical-align: middle;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: utility.$bold;
          line-height: normal;

        }
      }

      img {
        position: absolute;
        top: 58px;
        left: 96px;
        width: 102px;
      }

      &__head {
        margin: 178px auto 0 auto;
        width: 216px;
        color: utility.$black;
        font-family: Noto Sans JP;
        font-size: 24px;
        font-style: normal;
        font-weight: utility.$bold;
        line-height: 30px;

      }

      &__text {
        width: 237px;
        margin: 18px auto 0 auto;
        color: utility.$black;
        font-family: Noto Sans JP;
        font-size: 14px;
        font-style: normal;
        font-weight: utility.$regular;
        line-height: normal;
        text-align: left;

        span {
          display: none;
        }
      }

      &::after {
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(0%, -50%);
        content: "";
        width: 20px;
        height: 40px;
        background-image: url(../img/icon/icon-sr.png);
        background-size: contain;
      }
    }

    &__card2 {
      width: 277px;
      border: 2px solid utility.$gizPink;
      border-radius: 10px;
      position: relative;

      &__step {
        display: table;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: utility.$gizPink;
        text-align: center;

        &__2 {
          display: table-cell;
          color: utility.$white;
          text-align: center;
          vertical-align: middle;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: utility.$bold;
          line-height: normal;

        }
      }

      img {
        position: absolute;
        top: 68px;
        left: 93px;
        width: 79px;
      }

      &__head {
        margin: 178px auto 0 auto;
        width: 168px;
        color: utility.$black;
        font-family: Noto Sans JP;
        font-size: 24px;
        font-style: normal;
        font-weight: utility.$bold;
        line-height: 30px;

      }

      &__text {
        width: 237px;
        margin: 18px auto 0 auto;
        color: utility.$black;
        font-family: Noto Sans JP;
        font-size: 14px;
        font-style: normal;
        font-weight: utility.$regular;
        line-height: normal;
        text-align: left;

        span {
          display: none;
        }
      }

      &::after {
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(0%, -50%);
        content: "";
        width: 20px;
        /* 画像の幅に合わせて設定 */
        height: 40px;
        /* 画像の高さに合わせて設定 */
        background-image: url(../img/icon/icon-sr.png);
        background-size: contain;
      }
    }

    &__card3 {
      width: 277px;
      border: 2px solid utility.$gizPink;
      border-radius: 10px;
      position: relative;

      &__step {
        display: table;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: utility.$gizPink;
        text-align: center;

        &__3 {
          display: table-cell;
          color: utility.$white;
          text-align: center;
          vertical-align: middle;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: utility.$bold;
          line-height: normal;

        }
      }

      img {
        position: absolute;
        top: 58px;
        left: 88px;
        width: 106px;
        height: 100px
      }

      &__head {
        margin: 191px auto 0 auto;
        width: 168px;
        ;
        color: utility.$black;
        font-family: Noto Sans JP;
        font-size: 24px;
        font-style: normal;
        font-weight: utility.$bold;
        line-height: 35px;

      }

      &__text {
        width: 237px;
        margin: 30px auto 0 auto;
        color: utility.$black;
        font-family: Noto Sans JP;
        font-size: 14px;
        font-style: normal;
        font-weight: utility.$regular;
        line-height: normal;
        text-align: left;

        span {
          display: none;
        }
      }

      &::after {
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(0%, -50%);
        content: "";
        width: 20px;
        /* 画像の幅に合わせて設定 */
        height: 40px;
        /* 画像の高さに合わせて設定 */
        background-image: url(../img/icon/icon-sr.png);
        background-size: contain;
      }
    }

    &__card4 {
      width: 277px;
      border: 2px solid utility.$gizPink;
      border-radius: 10px;
      position: relative;

      &__step {
        display: table;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: utility.$gizPink;
        text-align: center;

        &__4 {
          display: table-cell;
          color: utility.$white;
          text-align: center;
          vertical-align: middle;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: utility.$bold;
          line-height: normal;

        }
      }

      img {
        position: absolute;
        top: 53px;
        left: 78px;
        width: 107px;
      }

      &__head {
        margin: 191px auto 0 auto;
        width: 144px;
        color: utility.$black;
        font-family: Noto Sans JP;
        font-size: 24px;
        font-style: normal;
        font-weight: utility.$bold;
        line-height: 35px;

      }

      &__text {
        width: 237px;
        margin: 30px auto 0 auto;
        color: utility.$black;
        font-family: Noto Sans JP;
        font-size: 14px;
        font-style: normal;
        font-weight: utility.$regular;
        line-height: normal;
        text-align: left;

        span {
          display: none;
        }
      }
    }
  }
}

@include utility.sp {
  .p-jobchange {
    &__headline {
      margin-top: 0.6rem;
      font-size: 0.25rem;
    }

    &__container {
      flex-direction: column;
      align-items: center;

      &__card1 {
        width: 2.8rem;
        height: 2.93rem;

        &__step {
          width: 0.45rem;
          height: 0.45rem;
          border-radius: 0.225rem;

          &__1 {
            font-size: 0.1rem;
          }
        }

        img {
          width: 0.76rem;
          top: 0.53rem;
          left: 1rem;
        }

        &__head {
          width: 100%;
          line-height: normal;
          margin-top: 1.5rem;
          font-size: 0.2rem;
        }

        &__text {
          width: 2.4rem;
          margin-top: 0.1rem;
          font-size: 0.14rem;

          span {
            display: block;
            line-height: 0;

            &:last-child {
              display: inline-block;
            }
          }
        }

        &::after {
          width: 0.2rem;
          height: 0.4rem;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0%) rotate(90deg);
        }
      }

      &__card2 {
        width: 2.8rem;
        height: 2.93rem;
        margin-top: 0.4rem;

        &__step {
          width: 0.45rem;
          height: 0.45rem;
          border-radius: 0.225rem;

          &__2 {
            font-size: 0.1rem;
          }
        }

        img {
          width: 0.75rem;
          height: 0.75rem;
          top: 0.54rem;
          left: 1.02rem;
        }

        &__head {
          width: 100%;
          font-size: 0.2rem;
          line-height: normal;
          margin-top: 1.5rem;
        }

        &__text {
          width: 2.4rem;
          margin-top: 0.1rem;
          font-size: 0.14rem;

          span {
            display: block;
            line-height: 0;
          }
        }

        &::after {
          width: 0.2rem;
          height: 0.4rem;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0%) rotate(90deg);
        }
      }

      &__card3 {
        width: 2.8rem;
        height: 2.93rem;
        margin-top: 0.4rem;

        &__step {
          width: 0.45rem;
          height: 0.45rem;
          border-radius: 0.225rem;

          &__3 {
            font-size: 0.1rem;
          }
        }

        img {
          width: 0.8rem;
          height: 0.75rem;
          top: 0.54rem;
          left: 0.99rem;
        }

        &__head {
          width: 100%;
          margin-top: 1.5rem;
          font-size: 0.2rem;
          line-height: normal;
        }

        &__text {
          width: 2.4rem;
          margin-top: 0.1rem;
          font-size: 0.14rem;

          span {
            display: block;
            line-height: 0;
          }
        }

        &::after {
          width: 0.2rem;
          height: 0.4rem;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0%) rotate(90deg);
        }
      }

      &__card4 {
        width: 2.8rem;
        height: 2.93rem;
        margin-top: 0.4rem;

        &__step {
          width: 0.45rem;
          height: 0.45rem;
          border-radius: 0.225rem;

          &__4 {
            font-size: 0.1rem;
          }
        }

        img {
          width: 0.73rem;
          height: 0.75rem;
          top: 0.54rem;
          left: 1.02rem;
        }

        &__head {
          width: 100%;
          margin-top: 1.5rem;
          font-size: 0.2rem;
          line-height: normal;
        }

        &__text {
          width: 2.4rem;
          margin-top: 0.1rem;
          font-size: 0.14rem;

          span {
            display: block;
            line-height: 0;
          }
        }
      }
    }
  }
}