@use '../../object/utility/utility.scss';

.p-jobChangeFlow{
  height: 435px;
  text-align: center;
  margin-top: 105px;
  @include utility.tab {
    height: 4.35rem;
    margin-top: 1.05rem;
  }
  @include utility.sp {
    height: 13.7rem;
    margin-top: .6rem;
  }
  &_title{
    font-weight: utility.$bold;
    font-size: 25px;
    @include utility.tab {
      font-size: .25rem;
    }
  }
  &_lists{
    margin-top: 50px;
    @include utility.tab {
      margin-top: .5rem;
    }
    @include utility.sp {
      width: 2.8rem;
      height: 12.9rem;
      margin-left: .45rem;
    }

    &_list{
      width: 280px;
      height: 360px;
      border: 2.27px solid #DE1E79;
      border-radius: 10px;
      float: left;
      @include utility.tab {
        width: 2.8rem;
        height: 3.6rem;
        border: .0227rem solid #DE1E79;
        border-radius: .1rem;
      }
      @include utility.sp {
        width: 2.8rem;
        height: 2.93rem;
      }
      &:nth-child(2n) {
        border: none;
        width: 20px;
        height: 40px;
        border-radius: 0;
        margin-top: 160px;
        @include utility.tab {
          width: .2rem;
          height: .4rem;
          margin-top: 1.6rem;
        }
        @include utility.sp {
          transform: rotate(90deg);
          margin: 0 1.3rem;
        }
      }
      &_step{
        width: 60px;
        height: 60px;
        font-size: 16px;
        font-weight: utility.$bold;
        color: utility.$white;
        background-color: utility.$bgPink;
        padding: 11px 9px;
        border-radius: 30px;
        margin-top: 10px;
        margin-left: 10px;
        line-height: 19.36px;
        @include utility.tab {
          width: .6rem;
          height: .6rem;
          font-size: .16rem;
          padding: .11rem .09rem;
          border-radius: .3rem;
          margin-top: .1rem;
          margin-left: .1rem;
          line-height: .1936rem;
        }
        @include utility.sp {
          width: .45rem;
          height: .45rem;
          font-size: .1rem;
          line-height: .121rem;
        }
      }
      &_img{
        height: 121px;
        position: relative;
        @include utility.tab {
          height: 1.21rem;
        }
        @include utility.sp {
          height: .97rem;
        }
        &_area{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          @include utility.tab {
            height: 1rem;
          }
          @include utility.sp {
            height: .75rem;
          }
        }
      }
      &_title{
        font-weight: utility.$bold;
        font-size: 24px;
        height: 60px;
        line-height: 30px;
        width: 100%;
        display: table;
        @include utility.tab {
          font-size: .24rem;
          height: .6rem;
          line-height: .3rem;
        }
        @include utility.sp {
          font-size: .2rem;
          height: .35rem;
        }
        &_area{
          display: table-cell;
          vertical-align: middle;
        }
      }
      &_text{
        margin-top: 18px;
        font-size: 14px;
        line-height: 20px;
        padding: 0 18px;
        text-align: left;
        @include utility.tab {
          margin-top: .18rem;
          font-size: .14rem;
          line-height: .2rem;
          padding: 0 .18rem;
        }
        @include utility.sp {
          margin-top: .1rem;
        }
      }
    }
  }
}