@use '../../object/utility/utility.scss';

.p-openings {
  background-color: utility.$bgLightBlue;
  position: relative;
  padding-top: 64px;
  padding-bottom: 67px;

  &__text {
    font-size: 25px;
    font-weight: utility.$regular;
    width: 100px;
    margin-left: 120px;
  }


  &__wrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__container {
    width: 280px;
    margin-top: 25px;
    margin-left: 20px;

    &:first-child {
      margin-left: 0px;
    }

    & img {
      border-radius: 10px;
      margin-bottom: 8.08px;
    }

    & h3 {
      font-size: 16px;
      font-weight: utility.$regular;
      line-height: 22px;
    }

    & li {
      font-size: 14px;
      font-weight: utility.$regular;
      margin-top: 8px;
    }

    & span {
      width: 60px;
      line-height: 21px;
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      background-color: utility.$bgLightPink;
      margin-right: 10px;
    }
  }

  &__white__button {
    width: 60px;
    height: 60px;
    background-color: utility.$white;
    opacity: 70%;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 70px;
    top: 50%;
    transform: translateY(50%);

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      display: block;
      bottom: 70px;
      border-top: 0.71px solid utility.$black;
      border-right: 0.71px solid utility.$black;
      transform: translate(50%);
    }

    &__back {
      left: 80px;

      &::before {
        transform: rotate(-135deg);
      }
    }

    &__next {
      right: 60px;

      &::before {
        transform: rotate(45deg);
      }
    }
  }
}

//スマホ
@media screen and (max-width: 767px) {
  .p-openings {
    width: 4rem;
    padding-top: 0.3rem;
    padding-bottom: 0.6rem;

    &__text {
      font-weight: utility.$bold;
      font-size: 0.25rem;
      text-align: center;
      width: 100%;
      margin: auto;
    }

    &__container {
      margin: 0;
      margin-top: 0.35rem;
      width: auto;

      &:nth-child(n+3) {
        display: none;
      }
    }

    &__img {
      width: 3.7rem;
      height: 2.08rem;
      display: block;
    }

    &__white__button {
      width: 0.42rem;
      height: 0.42rem;
      transform: translateY(320%);

      &::before {
        width: 0.14rem;
        height: 0.14rem;
      }

      &__back {
        left: 0.35rem;
      }

      &__next {
        right: 0.35rem;
      }
    }
  }
}