@use "../../object/utility/utility.scss";
// お仕事検索フォームに関するスタイル指定
.p-jobsearch {
  text-align: center;
  margin-top: 60px;
  padding: 40px;
  border-radius: 10px;
  background: #deeef9;
  width: 1180px;
  align-items: center;
  & h2 {
    font-size: 2.5rem; //1rem=10px from base.scss
    font-weight: 700;
  }
  &__text {
    margin-top: 20px;
    font-size: 2rem;
  }
  &__formbox {
    display: flex;
    margin-top: 26px;
    align-items: center;
    &__wrapp {
      display: flex;
    }
    &__select {
      margin-left: 15px;
      position: relative;
      &:first-child {
        margin-left: 0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 60%;
        left: 88%;
        transform: translate(-50%, -50%) rotate(90deg);
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent utility.$magenta;
      }
    }
    &__serch-btn {
      margin-left: 15px;
    }
  }
}
@include utility.tab {
  .p-jobsearch {
    width: 11.80rem;
    text-align: center;
    margin-top: 0.6rem;
    padding: 0.4rem;
    border-radius: 0.1rem;
    
    & h2 {
      font-size: 0.25rem;
    }
    &__text {
      margin-top: 0.2rem;
      font-size: 0.2rem;
    }
    &__formbox {
      &__wrapp {
        display: flex;
      }
      &__select {
        margin-left: 0.16rem;
        &::after {
          border-width: 0.1rem;
        }
      }
      &__serch-btn {
        margin-left: 0.15rem;
        & img {
          width: 25%;
        }
      }
    }
  }
}
@include utility.sp {
  .p-jobsearch {
    text-align: center;
    margin-top: 0 6%;
    padding: 0.15rem 0.25rem 0.2rem;
    border-radius: 0.1rem;
    width: 3.7rem;
    & h2 {
      font-size: 0.189rem;
    }
    &__text {
      margin-top: 0.16rem;
      font-size: 0.12rem;
    }
    &__formbox {
      flex-wrap: wrap;
      margin-top: 0.13rem;
      &__wrapp {
        display: flex;
      }
      &__select {
        margin-left: 0.1rem;
        &::after {
          border-width: 0.06rem;
        }
      }
      &__serch-btn {
        // margin-left: 0.15rem;
        margin: 0 auto;
        position: relative;
        & img {
          width: 11%;
          margin-left: 0;
          position: absolute;
          top: 24.5%;
          left: 8.5%;
        }
      }
    }
  }
}
