@use '../../object/utility/utility.scss';

@use '../../foundation/variables' as var;
@use '../../foundation/mixins' as mix;

.p-jobslist__oll-list {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background: var.$bgLightBlue;

  @include utility.sp {
    margin: 0;
  }

  .p-jobslist__ul {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .p-jobslist__li {
    width: fit-content !important;
    margin: 0 10px;

    @include utility.sp {
      margin: 0 .15rem;
    }
  }

  .p-jobslist__grid {
    display: grid;
    margin: 0 auto;
    width: 100%;
    padding: 30px 50px 67px;
    background: var.$bgLightBlue;

    @include utility.sp {
      max-width: 4rem;
      margin: 0 auto;
      padding: .3rem 0 .67rem;
    }
  }

  h2 {
    @include mix.h2(var.$bold, 25px);
    text-align: left;

    @include utility.sp {
      text-align: center;
    }

  }

  .p-jobslist__content {
    position: relative;
    max-width: 1180px;
    width: fit-content;
    margin: 0px auto;

    @include utility.sp {
      max-width: 3.70rem;
      margin: 0 auto;
    }

    .p-jobslist__position-img {
      position: relative;
      width: fit-content;

      img {
        height: 200px;
        width: auto;
        object-fit: cover;

        @include utility.sp {
          height: 2.08rem;
          width: 3.7rem;
        }
      }
    }

    .p-jobslist__text {
      margin-top: 8.08px;
      width: 278px;

      p:nth-child(4) {
        margin-bottom: 0;
      }
    }

    h4 {
      @include mix.h4;
      margin-bottom: 6.92px;
    }

    p {
      margin-bottom: 4px;
      display: flex;
      font-size: 14px;
      line-height: 20px;
      text-align: left;

      span {
        margin-right: 10px;
        text-align: center;
        display: block;
        width: 60px;
        background-color: var.$label;
      }
    }
  }


  .test {
    position: relative;

    .p-jobslist__arrow-left {
      content: "";
      position: absolute;
      top: 70px;
      background-color: var.$white;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      transform: translate(0%, 0%);
      opacity: 0.7;
      z-index: 100;

      @include utility.sp {
        top: 1.57rem;
        height: .42rem;
        width: .42rem;
      }
    }

    .p-jobslist__arrow-left::before {
      content: "";
      width: 20px;
      height: 20px;
      border: 0;
      border-top: solid 0.71px var.$black;
      border-left: solid 0.71px var.$black;
      transform: translate(50%, 50%) rotate(-45deg);
      position: absolute;
      top: 10px;
      left: 15px;
      bottom: 0;


      @include utility.sp {
        width: .15rem;
        height: .15rem;
        transform: translate(0%, 10%) rotate(-45deg);
      }
    }


    .p-jobslist__arrow-right {
      content: "";
      position: absolute;
      top: 70px;
      right: 0;
      background-color: var.$white;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      transform: translate(0%, 0%);
      opacity: 0.7;
      z-index: 100;

      @include utility.sp {
        top: 1.57rem;
        height: .42rem;
        width: .42rem;
      }
    }

    .p-jobslist__arrow-right::after {
      content: "";
      width: 20px;
      height: 20px;
      border: 0;
      border-top: solid 0.71px var.$black;
      border-left: solid 0.71px var.$black;
      transform: translate(50%, 50%) rotate(135deg);
      position: absolute;
      top: 10px;
      left: 5px;
      bottom: 0;

      @include utility.sp {
        width: .15rem;
        height: .15rem;
        transform: translate(0%, 10%) rotate(135deg);
      }
    }
  }

  .p-jobslist__button-link {
    @include mix.button(var.$buttonBackGround, var.$white);
    display: grid;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: var.$bold;
    margin: 60px auto 0;
    height: 60px;
    width: 360px;
  }
}