@use "../../object/utility/utility.scss";
@use "../../foundation/_variables.scss" as var;

.p-jobs {
  background-color: var.$lightblue;
  width: 1600px;
  height: 636px;
  margin: 60px auto 0;

  &__title {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 25px;
  }

  &__items {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 15px;

    &__item {
      width: 280px;
      height: 200px;
      background-size: contain;

      &__text {
        font-size: 16px;
        background-color: var.$black;
      }
    }
  }

  a {
    text-align: center;
    width: 360px;
    height: 60px;
    margin-top: 60px;
    background: var.$lightPink;
    border-radius: 50px;
  }

  p {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    color: var.$white;
    font-weight: var.$bold;
  }
}
