@use "../../object/utility/utility.scss";
@use "../../foundation/_variables.scss" as var;

.p-jobs {
  background-color: var.$lightblue;
  width: 1600px;
  height: 636px;
  margin: 60px auto 0;

  &__title {
    padding-top: 40px;
    margin-left: 210px;
    font-size: 25px;
  }

  &__lists {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 15px;
    &__image1 {
      background-image: url("../img/picture/jobs-image1.png");
      width: 280px;
      height: 200px;
      background-size: contain;
    }
    &__image2 {
      background-image: url("../img/picture/jobs-image2.png");
      width: 280px;
      height: 200px;
      background-size: contain;
    }
    &__image3 {
      background-image: url("../img/picture/jobs-image3.png");
      width: 280px;
      height: 200px;
      background-size: contain;
    }
    &__image4 {
      background-image: url("../img/picture/jobs-image4.png");
      width: 280px;
      height: 200px;
      background-size: contain;
    }
  }

  a {
    width: 360px;
    height: 60px;
    margin-top: 60px;
    background: var.$lightPink;
    border-radius: 50px;
  }

  p {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    color: var.$white;
    font-weight: var.$bold;
  }
}
