@use '../../object/utility/utility.scss' as u;
// お仕事検索に関するスタイル
.p-jobsearch {
  background-color: u.$white;
  padding: 60px 210px;

  &__form {
    width: 1180px;
    height: 240px;
    background-color: u.$formBlue;
    border-radius: 10px;
    text-align: center;

    &__title {
      font-family: u.$regularFont;
      font-size: 25px;
      font-weight: u.$bold;
      line-height: 25px;
      padding-top: 40px;
    }

    &__text {
      font-family: u.$regularFont;
      font-size: 20px;
      font-weight: u.$regular;
      line-height: 28.96px;
      margin-top: 20px;
    }

    &__ul {
      display: flex;
      gap: 15px;
      margin-top: 25px;
      margin-left: 40px;

      &__li {
        position: relative;

        &__select-box {
          width: 200px;
          @include u.input(u.$white, u.$selectBoxPink);
        }
        &::after {
          content: "";
          display: inline-block;
  
          background-color: u.$selectBoxPink;
          height: calc(20px / 2);
          width: 20px;
          clip-path: polygon(0 0, 100% 0, 50% 100%);
          position: absolute;
          top: 25px;
          right: 15px;
        }
      }
    }


    &__input-text {
      width: 300px;
      @include u.input(u.$white, u.$selectBoxPink);
    }

    &__button {
      width: 142px;

      &:first-child {
        margin-left: 0;
      }
      a {
        padding: 20px 20px 20px 50px;
        color: u.$white;
        background-position: center left 20px;
        background-repeat: no-repeat;
        background-size: 30px;
      }
      &.is-search {
        a {
          background-image: url("../img/icon/icon-search-white.png");
        }
      }
    }
  }
}