@use '../../object/utility/utility.scss';
// ページ上部のキービジュアルに関するスタイル
.p-keyvisual {
  background-color: #98B1BE;
  background-image: url("../img/picture/keyvisual-banner.png");
  background-repeat: no-repeat;
  height: 483px;
  padding: 59px 0px 0px 179px;
  margin-top: 22px;
  flex-direction: column;
  margin-bottom: 75px;
  background-position: 177px;
  width: 100%;

  &__keyvisual-text {
    height: 168.51px;
    margin-left: 652px;
  }

  &__keyvisual-title {
    width: 800px;
    height: 65px;
    margin-top: 40px;
    margin-left: 430px;
  }

  &__box {
    width:384px;
    height: 65px;
    border-radius: 10px 10px 10px 10px;
    border: solid 3px #2EB6AA;
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
    margin-top: 54px;
    margin-left: 634px;
    font-size: 20px;
    color: #2EB6AA;
  }

  &__number {
    font-size: 39px;
    color: #2EB6AA;
    font-weight: bold;
  }

}




