@use "../../object/utility/utility.scss";
// ページ上部のキービジュアルに関するスタイル
.p-keyvisual {
  padding-top: 100px;
  text-align: center;
  background-color: #98b1be;
  &__inner {
    width: 1260px;
    margin: 0 auto;
    position: relative;
    &__img {
      float: left;
      position: absolute;
      &:nth-child(2) {
        top: 21%;
        left: 55%;
      }
      &:nth-child(3) {
        top: 15%;
        left: 50%;
      }
      &:nth-child(4) {
        top: 15%;
        left: 75%;
      }
      &:nth-child(5) {
        top: 18%;
        left: 72%;
      }
      &:nth-child(6) {
        top: 19%;
        left: 55%;
      }
      &:nth-child(7) {
        top: 55%;
        left: 31%;
      }
      &:nth-child(8) {
        top: 43%;
        left: 64%;
      }
      &:nth-child(9) {
        padding: 10px 45px 15px;
        top: 76%;
        left: 48%;
        border: 2px solid utility.$light-green;
        border-radius: 10px;
        font-size: 20px;
        color: utility.$light-green;
        background-color: white;
        & span {
          font-size: 40px;
          font-weight: bold;
        }
      }
    }
  }
}
