@use '../../object/utility/utility.scss';

// ページ上部のキービジュアルに関するスタイル
.p-keyvisual {
  background-color: utility.$bgKeyVisual;

  &__container {
    width: 1262px;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    &__img {
      display: block;
    }

    &__spimg {
      display: none;
    }

    &__contentsbox {
      position: absolute;
      z-index: 16;
      top: 56px;
      left: 397px;
      text-align: center;

      &__no1 {
        width: 342px;
      }

      &__headline {
        margin-top: 40px;
        width: 800px;
      }

      &__text {
        color: utility.$keyGreen;
        font-family: Noto Sans JP;
        font-size: 20px;
        font-style: normal;
        font-weight: utility.$regular;
        line-height: normal;
        background-color: utility.$white;
        width: 391px;
        margin: 55px auto 0 auto;
        border-radius: 10px;
        border: 2px solid utility.$keyGreen;

        span {
          font-size: 40px;
          font-weight: utility.$bold;
        }
      }
    }
  }
}

@include utility.sp {
  .p-keyvisual {
    width: 4rem;
    height: 2.7rem;
    overflow: hidden;

    &__container {
      width: 4rem;
      height: 2.7rem;

      &__img {
        display: none;
      }

      &__spimg {
        display: block;
      }

      &__contentsbox {
        top: 0.7rem;
        left: 1.2rem;

        &__no1 {
          width: 1.5rem;
        }

        &__headline {
          margin-top: 0.1rem;
          width: 2.7rem;
        }

        &__text {
          font-size: 0.08rem;
          width: 1.7rem;
          margin: 0.2rem auto 0 auto;
          border-radius: 0.1rem;
          border: 0.01rem solid utility.$keyGreen;

          span {
            font-size: 0.16rem;
          }
        }
      }
    }
  }
}