@use '../../object/utility/utility.scss';
// 「新着求人」セクションのスタイルを記述

.p-latest {
  margin-top: 59px;
  background-color: utility.$skyblue;
  padding: 64px 0 67px 0;

  @include utility.tab {
    margin-top: 0.59rem;
    padding: 0.64rem 0 0.67rem 0;
  }
  @include utility.sp {
    margin-top: 0.25rem;
    padding: 0.3rem 0.15rem 0.6rem 0.15rem;
  }

  &__title {
    text-align: left;
    font-size: 25px;

    @include utility.tab {
      font-size: 0.25rem;
    }
    @include utility.sp {
      text-align: center;
      font-weight: bold;
      font-size: 0.25rem;
    }
  }

  &__inner__item {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    text-align: center;

    @include utility.tab {
      margin-top: 0.25rem;
    }
    @include utility.sp {
      display: block;
    }
  }

  &__item {
    width: 280px;

    @include utility.tab {
      width: 2.8rem;
    }
    @include utility.sp {
      width: 3.7rem;
    }

    &::before{
      position: absolute;
      content: '';
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;

      @include utility.tab {
        right: 0.1rem;
        border-left: 0.08rem solid transparent;
        border-right: 0.08rem solid transparent;
      }
      @include utility.sp {
        right: 0.1rem;
        border-left: 0.08rem solid transparent;
        border-right: 0.08rem solid transparent;
      }
    }
  }

  &__img {
    border-radius: 15px;
    width: 280px;

    @include utility.tab {
      border-radius: 0.1rem;
      width: 2.8rem;
    }
    @include utility.sp {
      width: 3.7rem;
    }
  }

  &__text {
    margin-top: 8px;
    line-height: 22px;
    width: 280px;
    text-align: left;

    @include utility.tab {
      margin-top: 0.08rem;
      line-height: 0.22rem;
      width: 2.8rem;
    }
    @include utility.sp {
      width: 3.58rem;
    }

    &__heading {
      @include utility.sp {
        font-size: 0.16rem;
        font-weight: bold;
        line-height: 0.22rem;
      }
    }

    &__detail {
      margin-top: 7px;

      @include utility.tab {
        margin-top: 0.07rem;
      }
      @include utility.sp {
        margin-top: 0.12rem;
      }
    }

    dl {
      width: 280px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @include utility.tab {
        width: 2.8rem;
      }
      @include utility.sp {
        width: 3.58rem;
      }
    }
    dl dt {
      width: 60px;
      height: 21px;
      background-color: utility.$baby-pink;
      margin-top: 4px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include utility.tab {
        width: 0.6rem;
        height: 0.21rem;
        margin-top: 0.04rem;
      }
      @include utility.sp {
        width: 0.6rem;
        height: 0.21rem;
        margin-top: 0.04rem;
        font-size: 0.14rem;
      }

      &:first-child {
        margin-top: 0;
      }
    }
    dl dd {
      width: 210px;
      margin-left: 10px;

      @include utility.tab {
        width: 2.1rem;
        margin-left: 0.1rem;
      }
      @include utility.sp {
        width: 2.77rem;
        margin-left: 0.21rem;
        font-size: 0.14rem;
      }
    }
  }

  &__btn {
    padding: 17px 0;
    width: 360px;
    margin: 60px auto 0;
    text-align: center;
    display: block;

    @include utility.tab {
      padding: 0.17rem 0;
      width: 3.6rem;
      margin: 0.6rem auto 0;
    }
    @include utility.sp {
      width: 3.7rem;
      padding: 0.21rem 0;
    }
  }
}

// スリックカルーセルの矢印のためのスタイル
.slide-arrow {
  position: absolute;
  top: 25%;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: utility.$white;
  opacity: 0.7;
  border-color: transparent;

  @include utility.tab {
    width: 0.6rem;
    height: 0.6rem;
  }
  @include utility.sp {
    top: 50%;
    width: 0.42rem;
    height: 0.42rem;
  }
}

.prev-arrow {
  left: 0;
  z-index: 10;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    color: utility.$black;
    line-height: 1;
    width: 15px;
    height: 15px;
    border: 0.70px solid utility.$black;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateX(25%) rotate(-135deg);

    @include utility.tab {
      width: 0.15rem;
      height: 0.15rem;
    }
    @include utility.sp {
      width: 0.07rem;
      height: 0.07rem;
    }
  }
}

.next-arrow {
  right: 0;
  // margin-right: 15px;

  @include utility.tab {
    margin-right: 0.15rem;
  }
  @include utility.sp {
    margin-right: 0;
  }

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    color: utility.$black;
    line-height: 1;
    line-height: 1;
    width: 15px;
    height: 15px;
    border: 0.70px solid utility.$black;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateX(-25%) rotate(45deg);

    @include utility.tab {
      width: 0.15rem;
      height: 0.15rem;
    }
    @include utility.sp {
      width: 0.07rem;
      height: 0.07rem;
    }
  }
}

