@use '../../object/utility/utility.scss';

.p-manual {
  margin-top: 105px;
  @include utility.tab {
    margin-top: 1.05rem;     
  }
  @include utility.sp {
    width: 4rem;
    padding-left: .15rem;
    margin-top: 0.45rem;
  }

  &__title {
    font-size: 25px;
    font-weight: utility.$bold;
    text-align: center;
    @include utility.tab {
      font-size: .25rem;   
    }
    @include utility.sp {
      font-size: .25rem;
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    @include utility.tab {
      gap: .2rem;
      margin-top: .5rem;   
    }
    @include utility.sp {
      flex-wrap: wrap;
      gap: .17rem;
      margin-top: .3rem;
    }

    &__item {
      text-align: center;

      .p-manual__img__paper {
        background-image: url(../img/picture/sample06.jpg);
        background-color: rgba(utility.$black, 0.5);
        background-blend-mode: overlay;
        background-size: cover;
        width: 380px;
        height: 240px;
        border-radius: 10px;
        padding-top: 71px;
        padding-bottom: 55px;
        @include utility.tab {
          width: 3.8rem;
          height: 2.4rem;
          border-radius: .1rem;
          padding-top: .71rem;
          padding-bottom: .55rem;
        }
        @include utility.sp {
          width: 3.7rem;
          height: 2.35rem;
          border-radius: .1rem;
          padding: .6rem 0;
        }
      }

      .p-manual__img__pc {
        background-image: url(../img/picture/sample07.jpg);
        background-color: rgba(utility.$black, 0.5);
        background-blend-mode: overlay;
        background-size: cover;
        width: 380px;
        height: 240px;
        border-radius: 10px;
        padding-top: 71px;
        padding-bottom: 55px;
        @include utility.tab {
          width: 3.8rem;
          height: 2.4rem;
          border-radius: .1rem;
          padding-top: .71rem;
          padding-bottom: .55rem;
        }
        @include utility.sp {
          width: 3.7rem;
          height: 2.35rem;
          border-radius: .1rem;
          padding: .6rem 0;
        }
      }

      .p-manual__list__title {
        color: utility.$white;
        font-size: 24px;
        font-weight: utility.$bold;
        @include utility.tab {
          font-size: .24rem;
        }
        @include utility.sp {
          font-size: .24rem;
        }
      }

      .p-manual__text {
        color: utility.$white;
        font-size: 16px;
        font-weight: utility.$regular;
        margin-top: 45px;
        line-height: 24px;
        @include utility.tab {
          font-size: .16rem;
          margin-top: .45rem;
          line-height: .24rem;
        }
        @include utility.sp {
          font-size: .16rem;
          margin-top: .53rem;
          line-height: .2rem;
        }
      }
    }
  }

  &__button {
    margin: 80px auto 0;
    display: inline-block;
    width: 420px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: utility.$white;
    background-color: utility.$manualPink;
    font-size: 18px;
    font-weight: utility.$bold;
    border-radius: 30px;
    @include utility.tab {
      margin: .8rem auto 0;
      width: 4.2rem;
      height: .6rem;
      font-size: .18rem;
      border-radius: .3rem;  
    }
    @include utility.sp {
      margin-top: .35rem;
      width: 3.7rem;
      height: .6rem;
      font-size: .18rem;
      border-radius: .3rem;
      margin-left: 0;
    }
  }
}