@use '../../object/utility/utility.scss';
@use '../../foundation/mixins' as mixin;

.p-message {
  padding: 104px 0 106px 0;
  background-image:
    url(../img/picture/copy-filter.png),
    url(../img/picture/copy-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: utility.$white;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  @include mixin.tab {
    padding: 1.04rem 0 1.06rem 0;
    font-size: 0.25rem;
    line-height: 0.36rem;
  }
  @include mixin.sp {
    padding: 0.16rem 0 0.16rem 0;
    background-size: cover;
    font-size: 0.14rem;
    font-weight: 400;
    line-height: 0.2rem;
  }

  &__text {
    margin-top: 21px;
    @include mixin.tab {
      margin-top: 0.21rem;
    }
    @include mixin.sp {
      margin-top: 0.02rem;
    }
  }
}