@use '../../object/utility/utility.scss';

.p-message {
  padding: 104px 0 106px 0;
  background-image: 
  url(../img/picture/copy-filter.png), 
  url(../img/picture/copy-image.jpg);
  background-size: cover;
  text-align: center;
  color: utility.$white;
  font-size: 25px;
  line-height: 36px;
  font-weight: 700;
  &__text {
    margin-top: 21px;
  }
}
