@use '../../object/utility/utility.scss' as util;
//中間画像部分のスタイル

.p-middle {
  width: 100%;
  height: 300px;
  @include util.tab {
    height: 2.5rem;
  }
  @include util.sp {
    height: 1rem;
  }

  &__img {
    height: 100%;
    width: 100%;

  }
  
  &__content {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: util.$shade;
    margin-top: -300px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include util.tab {
      height: 2.5rem;
      margin-top: -2.5rem;
    }
    @include util.sp {
      height: 1rem;
      margin-top: -1rem;
    }
  }

  &__text {
    font-size: 25px;
    font-weight: util.$bold;
    line-height: 55px;
    color: util.$white;
    text-align: center;
    @include util.sp {
      font-size: 0.15rem;
      line-height: 0.3rem;
      font-weight: util.$regular;
    }
  }

}