@use '../../object/utility/utility.scss' as util;

.p-midVision {
  width: 100%;
  background-color: util.$black;
  position: relative;
  
  &__background {
    width: 100%;
    opacity: .5;
  }

  &__content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &__title {
      font-size: 25px;
      line-height: 36px;
      font-weight: util.$bold;
      color: util.$white;
      margin-top: 20px;

      @include util.tab {
        font-size: 0.2rem;
        line-height: 0.3rem;
        margin-top: 0.2rem;
      }

      @include util.sp {
        font-size: 0.14rem;
        font-weight: util.$regular;
        line-height: 0.20rem;
        margin-top: 0;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}