@use '../../object/utility/utility.scss';

.p-new-jobs {
  padding-top: 64px;
  padding-bottom: 67px;
  background-color: utility.$bgLightBlue;
  @include utility.sp {
    padding-top: .3rem;
  }

  &__h2 {
    font-size: 25px;
    @include utility.tab {
      font-size: .25rem;
    }
    @include utility.sp {
      font-size: .25rem;
      text-align: center;
      font-weight: utility.$bold;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 25px;
    @include utility.tab {
      margin-top: .25rem;
      gap: .25rem;
    }
    @include utility.sp {
      flex-wrap: wrap;
      margin-top: .35rem;
    }

    &__job {
      width: 280px;
      @include utility.sp {
        width: 100%;
        text-align: center;
      }

      &__img {
        border-radius: 10px;
      }

      &__p {
        font-size: 16px;
        line-height: 22px;
        margin-top: 8px;
        @include utility.tab {
          font-size: .16rem;
          line-height: .22rem;
          margin-top: .08rem;
        }
        @include utility.sp {
          font-size: .16rem;
          font-weight: utility.$bold;
          text-align: left;
          line-height: .22rem;
        }
      }

      &__detail {
        font-size: 14px;
        line-height: 20px;
        margin-top: 7px;
        @include utility.tab {
          font-size: .14rem;
          line-height: .2rem;
          margin-top: .07rem;
        }
        @include utility.sp {
          margin-top: .12rem;
          text-align: left;
          font-size: .14rem;
          line-height: .2rem;
        }

        &>li {
          margin-top: 4px;

          &:first-of-type{
            margin-top: 0px;
          }

          &>span {
            display: inline-block;
            width: 60px;
            height: 20px;
            background-color: utility.$lightPinkTh;
            text-align: center;
            margin-right: 10px;
            @include utility.tab {
              width: .6rem;
              height: .2rem;
              margin-right: .1rem;
            }
            @include utility.sp {
              width: .6rem;
              height: .2rem;
              margin-right: .1rem;
            }
          }
        }
      }
    }
  }

  &__button-wrapper {
    margin-top: 60px;
    @include utility.tab {
      margin-top: .6rem;
    }
    @include utility.sp {
      margin-top: .44rem;
    }
  }

}