@use "../../object/utility/utility.scss";

.p-new-job {
  margin-top: 60px;
  background-color: utility.$bgLightBlue;

  @include utility.tab {
    margin-top: 0.6rem;
  }
  @include utility.sp {
    margin-top: 0.25rem;
  }

  &__content {
    padding: 64px 0;

    @include utility.tab {
      padding: 0.64rem 0;
    }
    @include utility.sp {
      padding: 0.3rem 0 0.6rem;
    }
  }

  &__title {
    @include utility.sp {
      text-align: center;
    }
  }

  &__lists {
    margin-top: 25px;
    display: flex;
    gap: 20px;

    @include utility.tab {
      margin-top: 0.25rem;
      gap: 0.2rem;
    }
    @include utility.sp {
      margin-top: 0.35rem;
      // ↓ スライダー機能実装が完了したら記述削除
      overflow-x: scroll;
    }
  }

  &__button {
    display: block;
    width: 360px;
    padding: 17px 72px;
    margin: 60px auto 0 auto;

    @include utility.tab {
      width: 3.6rem;
      padding: 0.17rem 0.72rem;
      margin: 0.6rem auto 0;
    }
    @include utility.sp {
      width: 3.7rem;
      padding: 0.21rem 0.77rem;
      margin: 0.44rem auto 0;
    }
  }
}
