@use "../../object/utility/utility.scss";

.p-new-job__card {
  &-img {
    & > img {
      width: 280px;
      border-radius: 10px;
      overflow: hidden;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: top;
      object-position: top;

      @include utility.tab {
        width: 2.8rem;
        border-radius: 0.1rem;
      }
      @include utility.sp {
        width: 3.7rem;
        height: 2.08rem;
        border-radius: 0.1rem;
      }
    }
  }

  &-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: utility.$regular;
    line-height: 22px;

    @include utility.tab {
      margin-top: 0.1rem;
      font-size: 0.16rem;
      line-height: 0.22rem;
    }
    @include utility.sp {
      margin-top: 0.1rem;
      font-size: 0.16rem;
      line-height: 0.22rem;
      font-weight: utility.$bold;
    }
  }

  &-data {
    margin-top: 7px;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 4px 10px;

    @include utility.tab {
      grid-template-columns: 0.6rem 1fr;
      margin-top: 0.07rem;
      gap: 0.04rem 0.1rem;
    }
    @include utility.sp {
      grid-template-columns: 0.6rem 1fr;
      margin-top: 0.11rem;
      gap: 0.04rem 0.21rem;
    }

    dt {
      text-align: center;
      background-color: utility.$bgLightPink;
      font-size: 14px;
      font-weight: utility.$regular;
      line-height: 20.27px;

      @include utility.tab {
        font-size: 0.14rem;
        line-height: 0.2rem;
      }
      @include utility.sp {
        font-size: 0.14rem;
        line-height: 0.2rem;
      }
    }

    dd {
      font-size: 14px;
      font-weight: utility.$regular;
      line-height: 20.27px;

      @include utility.tab {
        font-size: 0.14rem;
        line-height: 0.2rem;
      }
      @include utility.sp {
        font-size: 0.14rem;
        line-height: 0.2rem;
      }
    }
  }
}
