@use "../../object/utility/utility.scss";

.p-new {
  padding: 100px 0;
  background-color: utility.$newColor;
  @include utility.tab {
    padding: 1rem 0;
  }
  @include utility.sp {
    padding: 0.5rem 0 0.2rem;
  }

  &__inner {
    max-width: 1180px;
    margin: 0 auto;
    @include utility.tab {
      width: 11.8rem;
    }
    @include utility.sp {
      width: 4rem;
      padding: 0 0.1rem;
    }
  }

  &__title {
    color: utility.$black;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    @include utility.tab {
      font-size: 0.25rem;
    }
    @include utility.sp {
      font-size: 0.25rem;
      font-weight: 700;
      text-align: center;
    }
  }

  &__card-area {
    position: relative;
    overflow: hidden;
    @include utility.sp {
      margin-top: 0.5rem;
    }
  }

  &__cards {
    margin-top: 25px;

    & > li {
      text-align: left;
      border-radius: 20px;
    }

    & > li:first-child {
      margin-left: 0;
    }

    img {
      border-radius: 10px;
    }

    p {
      color: utility.$black;
      font-family: Noto Sans JP;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin-top: 10px;
    }
    @include utility.tab {
      margin-top: 0.25rem;
      gap: 0.1rem;

      p {
        font-size: 0.16rem;
        line-height: 0.22rem;
        margin-top: 0.1rem;
      }
    }
    @include utility.sp {
      margin: 0 auto;
    }
  }

  &__desc {
    display: flex;
    align-items: center;
    height: 28px;

    p {
      width: 60px;
      height: 21px;
      text-align: center;
      background-color: utility.$newPink;
      margin-right: 10px;
    }

    span {
      color: utility.$black;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      padding-top: 10px;
    }
    @include utility.tab {
      height: 0.28rem;
      p {
        width: 0.6rem;
        height: 0.21rem;
        margin-right: 0.1rem;
      }
      span {
        font-size: 0.14rem;
        padding-top: 0.1rem;
      }
    }
  }

  &__see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 60px;
    background-color: utility.$buttonPink;
    color: utility.$white;
    border: none;
    border-radius: 40px;
    font-family: Noto Sans JP;
    font-size: 18px;
    font-weight: 700;
    margin: 80px auto;
    @include utility.tab {
      width: 3.6rem;
      height: 0.6rem;
      font-size: 0.18rem;
      margin: 0.8rem auto;
    }
    @include utility.sp {
      width: auto;
      height: auto;
      padding: 0.2rem;
      border-radius: 0.4rem;
      margin: 0.5rem auto 0.4rem;
    }
  }

  &__prev-area,
  &__next-area {
    position: absolute;
    top: 100px;
    @include utility.tab {
      top: 1rem;
    }
    @include utility.sp {
      top: 1.4rem;
    }
  }

  &__prev-area {
    left: 0;
  }

  &__next-area {
    right: 0;
  }

  &__prev,
  &__next {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: utility.$white;
    border-radius: 50%;
    opacity: 0.7;
    border: none;
    cursor: pointer;
    @include utility.tab {
      width: 0.6rem;
      height: 0.6rem;
    }
    @include utility.sp {
      width: 0.55rem;
      height: 0.55rem;
    }
  }
  &__prev {
    top: 130px;
    left: 2px;
    z-index: 1;
    @include utility.tab {
      top: 1.3rem;
      left: 0.025rem;
    }
    @include utility.sp {
      top: 1.4rem;
      left: 0;
    }
  }
  &__next {
    top: 130px;
    right: 5px;
    @include utility.tab {
      top: 1.3rem;
      right: 0.05rem;
    }
    @include utility.sp {
      top: 1.4rem;
      right: 0;
    }
  }

  &__prev::after,
  &__next::after {
    content: "";
    position: absolute;
    top: 19px;
    display: flex;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid utility.$black;
    border-right: 1px solid utility.$black;
    @include utility.tab {
      top: 0.19rem;
      width: 0.2rem;
      height: 0.2rem;
    }
    @include utility.sp {
      top: 0.2rem;
      width: 0.15rem;
      height: 0.15rem;
    }
  }

  &__prev::after {
    left: 25px;
    transform: rotate(135deg);
    @include utility.tab {
      left: 0.25rem;
    }
    @include utility.sp {
      left: 0.24rem;
    }
  }

  &__next::after {
    right: 25px;
    transform: rotate(-45deg);
    @include utility.tab {
      right: 0.25rem;
    }
    @include utility.sp {
      right: 0.24rem;
    }
  }
}

.slick-track {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  @include utility.sp {
    gap: 0;
  }
}
@include utility.sp {
  .slick-slide {
    width: auto !important;
    margin: 0 auto;
  }
  .slick-list {
    width: 100% !important;
    overflow: hidden;
  }
}
