@use "../../object/utility/utility.scss";

.p-new {
  padding: 100px 0;
  background-color: utility.$newColor;

  &__inner {
    max-width: 1180px;
    margin: 0 auto;
    @include utility.sp {
      padding: 0 10px;
    }
    @include utility.tab {
      padding: 0 10px;
    }
  }

  &__title {
    color: utility.$black;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
  }

  &__card-area {
    position: relative;
    text-align: center;
  }

  &__cards {
    position: relative;
    display: flex;
    margin-top: 25px;
    gap: 10px;
    @include utility.sp {
      justify-content: center;
      & > li:nth-child(2),
      & > li:nth-child(3),
      & > li:nth-child(4) {
        display: none;
      }
    }

    & > li {
      text-align: left;
      border-radius: 20px;
    }

    & > li:first-child {
      margin-left: 0;
    }

    img {
      border-radius: 10px;
    }

    p {
      color: utility.$black;
      font-family: Noto Sans JP;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin-top: 10px;
    }
  }

  &__desc {
    display: flex;
    align-items: center;
    height: 28px;

    p {
      width: 60px;
      height: 21px;
      text-align: center;
      background-color: utility.$newPink;
      margin-right: 10px;
    }

    span {
      color: utility.$black;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      padding-top: 10px;
    }
  }

  &__see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 60px;
    background-color: utility.$buttonPink;
    color: utility.$white;
    border: none;
    border-radius: 40px;
    font-family: Noto Sans JP;
    font-size: 18px;
    font-weight: 700;
    margin: 80px auto 0;
    @include utility.sp {
      width: 300px;
    }
  }

  &__prev-area {
    position: absolute;
    top: 100px;
    left: 0;
  }

  &__next-area {
    position: absolute;
    top: 100px;
    right: 0;
  }

  &__prev {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: utility.$white;
    border-radius: 50%;
    opacity: 0.7;
    cursor: pointer;
  }

  &__prev::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 25px;
    display: flex;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid utility.$black;
    border-right: 1px solid utility.$black;
    transform: rotate(135deg);
  }

  &__next {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: utility.$white;
    border-radius: 50%;
    opacity: 0.7;
    cursor: pointer;
  }

  &__next::after {
    content: "";
    position: absolute;
    top: 19px;
    right: 25px;
    display: flex;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid utility.$black;
    border-right: 1px solid utility.$black;
    transform: rotate(-45deg);
  }
}
