@use '../../object/utility/utility.scss';

.p-newinfo {
  padding: 60px 0;
  background-color: utility.$bgLightBlue;
  position: relative;
  color: utility.$black;

  &__title {
    font-size: 25px;
    font-weight: utility.$regular;
    @include utility.tab {
      margin-right: 15rem;
    }
  }

  &__list {
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
    justify-content: center;
  }

  &__detail {
    display: grid;
    width: 280px;
    text-align: left;
    position:relative;
    @include utility.tab {
      width: 4rem;
    }
  }

  &__description {
    padding: 10px 0 8px;
    font-size: 16px;
    line-height: 22px;
    font-weight: utility.$regular;
  }

  &__item {
    margin-top: 5px;
    display: flex;
    align-items: center;

    & > span {
      font-size: 14px;
      font-weight: utility.$regular;
      background-color: utility.$bgPink;
      color: utility.$black;
      width: 60px;
      padding: 3px 0;
      display: flex;
      justify-content: center;
    }

    & > img {
      margin-left: 10px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__back-button {
    position: absolute;
    border-radius: 30px;
    border: none;
    width: 60px;
    height: 60px;
    top: 70px;
    background-color: utility.$white;
    opacity: 0.7;

    &::before {
      content: "";
      margin: auto;
      position: absolute;
      top: 20px;
      right: 15px;
      width: 20px;
      height: 20px;
      border-top: 1px solid utility.$black;
      border-right: 1px solid utility.$black;
      transform: rotate(225deg);
    }
  }

  &__next-button {
    position: absolute;
    border-radius: 30px;
    border: none;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 70px;
    background-color: utility.$white;
    opacity: 0.7;

    &::before {
      content: "";
      margin: auto;
      position: absolute;
      top: 20px;
      right: 24px;
      width: 20px;
      height: 20px;
      border-top: 1px solid utility.$black;
      border-right: 1px solid utility.$black;
      transform: rotate(45deg);
    }
  }

  &__more-wrapper {
    justify-content: center;
    display: flex;
  }

  &__more-button {
    font-size: 18px;
    font-weight: utility.$bold;
    background-color: utility.$pink;
    width: 360px;
    height: 60px;
    border-radius: 30px;
    color: utility.$white;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
