@use '../../object/utility/utility.scss';

.p-newjob {
  background-color: #EFF6FC;
  
  &__inner {
    padding-top: 64px;
    padding-bottom: 67px;
    @include utility.tab {
     padding-top: .64rem;
     padding-bottom: .67rem;   
    }
    @include utility.sp {
      width: 4rem;
      padding: .3rem .15rem .6rem .15rem;
     }

    .p-newjob__title {
      font-size: 25px;
      font-weight: utility.$regular;
      @include utility.tab {
       font-size: .25rem; 
      }
      @include utility.sp {
        font-size: .25rem;
        font-weight: utility.$bold;
        text-align: center;
       }
    }
  }

  &__contents {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    @include utility.tab {
     margin-top: .25rem;
     gap: .2rem;   
    }
    @include utility.sp {
      margin-top: .35rem;
      gap: 0;
     }

    .is-sp-none {
      @include utility.sp {
        display: none;
      }
    }
    .is-sp-block {
      display: none;
      @include utility.sp {
        display: block;
      }

      .sample01 {
        @include utility.sp {
          width: 100%;
        }
      }
    }

    &__text {
      font-size: 16px;
      font-weight: utility.$regular;
      line-height: 22px;
      margin-top: 12px;
      @include utility.tab {
       font-size: .16rem;
       line-height: .22rem;
       margin-top: .12rem; 
      }
      @include utility.sp {
        font-size: .16rem;
        font-weight: utility.$bold;
        line-height: .22rem;
        margin-top: .12rem;
       }
    }

    .p-newjob__table {
      font-size: 14px;
      margin-top: 8px;
      @include utility.tab {
       font-size: .14rem;
       margin-top: .08rem; 
      }
      @include utility.sp {
        font-size: .14rem;
        margin-top: .12rem; 
       }

      tr {
        font-weight: utility.$regular;
        display: inline-block;
        padding-bottom: 4px;
        display: flex;
        @include utility.tab {
          padding-bottom: .04rem;
        }
        @include utility.sp {
          padding-bottom: .04rem;
        }

        th {
          background-color: utility.$tableHeader;
          width: 60px;
          height: 21px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include utility.tab {
            width: .6rem;
            height: .21rem;
          }
          @include utility.sp {
            width: .6rem; 
            height: .21rem;
          }
        }

        td {
          padding: 2px 0 2px 10px;
          display: inline-block;
          @include utility.tab {
            padding: .02rem 0 .02rem .1rem;
          }
          @include utility.sp {
            padding: .02rem 0 .02rem .2rem;
          }
        }
      }
    }

    .is-none {
      @include utility.sp {
        display: none;
      }
    }
  }

  &__button {
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-top: 54px;
    font-weight: utility.$bold;
    font-size: 18px;
    @include utility.tab {
      margin-top: .54rem;
      font-size: .18rem;   
    }
    @include utility.sp {
      margin-top: .4rem;
      font-size: .18rem;   
    }

    &__link {
      color: utility.$white;
      background-color: utility.$formButtonPink;
      padding: 22px 72px;
      border-radius: 30px;
      @include utility.tab {
        padding: .22rem .72rem;
        border-radius: .3rem; 
      }
      @include utility.sp {
        padding: .21rem .77rem;
        border-radius: .3rem; 
      }
    }
  }

  .is-relative {
    position: relative;

    .left {
      content: '';
      position: absolute;
      background-color: utility.$white;
      opacity: 70%;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      top: -120px;
      bottom: 0;
      margin: auto;
      border: none;
      @include utility.tab {
        width: .6rem;
        height: .6rem;
        top: -1.2rem; 
      }
      @include utility.sp {
        width: .4rem;
        height: .4rem;
        top: 0.1rem;
      }

      &::after {
        content: '';
        position: absolute;
        top: 35%;
        left: 43%;
        transform: rotate(-135deg);
        width: 20px;
        height: 20px;
        border-style: solid;
        border-color: utility.$black utility.$black transparent transparent;
        @include utility.tab {
          width: .2rem;
          height: .2rem;
        }
        @include utility.sp {
          width: .1rem;
          height: .1rem;
        }
      }
    }

    .right {
      content: '';
      position: absolute;
      background-color: utility.$white;
      opacity: 70%;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      top: -120px;
      right: 0;
      bottom: 0;
      margin: auto;
      border: none;
      @include utility.tab {
        width: .6rem;
        height: .6rem;
        top: -1.2rem;
      }
      @include utility.sp {
        width: .4rem;
        height: .4rem;
        top: 0.1rem;
      }

      &::after {
        content: '';
        position: absolute;
        top: 35%;
        left: 30%;
        transform: rotate(45deg);
        width: 20px;
        height: 20px;
        border-style: solid;
        border-color: utility.$black utility.$black transparent transparent;
        @include utility.tab {
          width: .2rem;
          height: .2rem;
        }
        @include utility.sp {
          width: .1rem;
          height: .1rem;
        }
      }
    }
  }

}