@use '../utility/utility.scss';
@use '../../foundation/variables';

.p-newJob__container {
  font-size: 16px;
  font-weight: variables.$regular;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  background-color: variables.$bgLightBlue;
  padding-top: 64px;
  padding-bottom: 67px;

  & > &__inner > h2 {
    font-weight: variables.$regular;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 100px;
    margin-bottom: 25px;
  }
}


.p-newJob__imgWrapper {
  display: flex;
  justify-content: space-between;

  & > button {
    padding: 0;
    position: relative;
    top: 64px;
    width: 120px;
    height: 60px;
    background-color: variables.$white;
    border: 1px solid variables.$white;
    border-radius: 50%;
    opacity: 0.5;
  }
  &__button1 {
    // left: 60px;

    & > span {
      position: absolute;
      top: 30px;
      right: 26px;
      width: 22px;
      height: 22px;
      border-right: 1px solid;
      border-bottom: 1px solid;
      transform: translate(50%, -50%) rotate(-225deg);
    }
  }

  &__button2 {
    // right: 60px;

    & > span {
      position: absolute;
      top: 30px;
      left: 26px;
      width: 22px;
      height: 22px;
      border-right: 1px solid;
      border-bottom: 1px solid;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__separatedImg {
    justify-content: space-between;
    border-radius: 10px;
    background-color: variables.$bgLightBlue;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 100;

    & > img {
      border-radius: 10px;
    }

    &:first-of-type {
      margin-left: -64px;
    }

    &:last-of-type {
      margin-right: -64px;
    }

    & > ul > li {
      display: flex;
      margin-top: 4px;

      &:first-child {
        margin-top: 8px;
      }
    }

    & > ul > li >  span {
      background-color: variables.$fontBgLightPink;
      width: 60px;
      font-size: 14px;
      text-align: center;
      padding: 16px, 1px;
      margin-right: 10px;
    }
  }
}
