@use '../utility/utility.scss';
@use '../../foundation/variables';

.p-newJob__container {
  font-size: 16px;
  font-weight: variables.$regular;
  line-height: 22px;
  letter-spacing: 0%;
  background-color: variables.$bgLightBlue;
  padding-top: 64px;
  padding-bottom: 67px;

  & > &__inner > h2 {
    font-weight: variables.$regular;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 100px;
  }
}


.p-newJob__imgWrapper {
  margin-top: 25px;
  display: flex;
  justify-content: center;


  &__separatedImg {
    justify-content: space-between;
    border-radius: 10px;
    background-color: variables.$bgLightBlue;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 100;
    position: relative;
    width: 280px;

    & > button {
      padding: 0;
      position: absolute;
      top: 70px;
      width: 60px;
      height: 60px;
      background-color: variables.$white;
      border: 1px solid variables.$white;
      border-radius: 50%;
      opacity: 0.5;
    }

    &__button1 > span {
      position: absolute;
      top: 30px;
      left: 30px;
      width: 22px;
      height: 22px;
      border-right: 1px solid;
      border-bottom: 1px solid;
      transform: translate(-50%, -50%) rotate(135deg);
    }

    &__button2 {
      right: 0;

      & > span {
        position: absolute;
        top: 30px;
        left: 26px;
        width: 22px;
        height: 22px;
        border-right: 1px solid;
        border-bottom: 1px solid;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }



    & > img {
      border-radius: 10px;
    }

    &:first-of-type {
      margin-left: -64px;
    }

    &:last-of-type {
      margin-right: -64px;
    }

    & > ul > li {
      display: flex;
      margin-top: 4px;
      align-items: center;

      &:first-child {
        margin-top: 8px;
      }
    }

    & > ul > li >  span {
      background-color: variables.$fontBgLightPink;
      width: 60px;
      font-size: 14px;
      text-align: center;
      padding: 16px, 1px;
      margin-right: 10px;
    }
  }
}


@include utility.tab {
  .p-newJob__container__inner > h2 {
    font-size: 0.25rem;
    margin-left: 0.8rem;
  }

  .p-newJob__imgWrapper {
    justify-content: space-between;
    margin: 25px auto 0 auto;
    width: 8rem;
    display: flex;

    &__separatedImg {
      font-size: 0.16rem;

      & > button {
        top: 0.6rem;
        width: 0.6rem;
        height: 0.6rem;
      }

      & > __buttonForSp {
        display: none;
      }

      &__button1 > span {
        top: 0.3rem;
        left: 0.3rem;
        width: 0.22rem;
        height: 0.22rem;
        transform: translate(-50%, -50%) rotate(135deg);
      }

      &__button2 > span {
        top: 0.3rem;
        left: 0.26rem;
        width: 0.22rem;
        height: 0.22rem;
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      & > ul > li {
        font-size: 0.14rem;

        & > span {
          font-size: 0.14rem;
        }
      }
    }
  }
}

@include utility.sp {
  .p-newJob__container {
    margin-top: 0.25rem;
    padding-top: 0.3rem;

    &__inner {
      margin: 0 auto;
      width: auto;
    }

    & > &__inner > h2 {
      font-size: 0.25rem;
      font-weight: variables.$bold;
      margin: 0 auto;
    }
  }
  
  .p-newJob__imgWrapper {
    margin: 0 auto;
    width: 3.7rem;
    margin-top: 0.35rem;

    &__separatedImg {
      display: none;


      &:first-of-type {
       display: block;
       margin: 0 auto;
       width: auto;

       & > p {
        font-size: 0.16rem;
        font-weight: variables.$bold;
       }
      }

      & > img {
        width: 3.7rem;
      }

      & > &__button1 {
        width: 0.46rem;
        height: 0.46rem;
        opacity: 0.7;
        top: 2rem;

        & > span {
          position: absolute;
          top: 0.24rem;
          left: 0.24rem;
          width: 0.14rem;
          height: 0.14rem;
        }
      }

      & > &__buttonForSp {
        display: block;
        width: 0.46rem;
        height: 0.46rem;
        opacity: 0.7;
        right: 0;
        top: 2rem; 

        & > span {
          position: absolute;
          top: 0.24rem;
          left: 0.2rem;
          width: 0.14rem;
          height: 0.14rem;
          border-right: 1px solid;
          border-bottom: 1px solid;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}