@use '../../object/utility/utility.scss';
@use '../../foundation/variables' as var;

.p-newOffers {
  margin-top: 60px;
  padding: 64px 0;
  background-color: var.$bgLightBlue;

  @include utility.tab {
    margin-top: .6rem;
    padding: .64rem 0;
  }

  @include utility.sp {
    margin-top: .25rem;
    padding: .3rem 0 .6rem;
  }

  &__inner {
    position: relative;
  }

  & h2 {
    @include utility.font(25px, "Inter", var.$regular, 30px);

    @include utility.tab {
      @include utility.font(.25rem, "Inter", var.$regular, .3rem);
    }

    @include utility.sp {
      text-align: center;
      @include utility.font(.25rem, "Noto Sans JP", var.$bold, .25rem);
    }
  }

  &__preButton {
    width: 60px;
    height: 60px;
    border: none;
    background-color: var.$white;
    border-radius: 30px;
    opacity: .7;
    position: absolute;
    top: 125px;
    transition: .3s;

    @include utility.tab {
      width: .6rem;
      height: .6rem;
      border-radius: .3rem;
      top: 1.25rem;
    }

    @include utility.sp {
      width: .42rem;
      height: .42rem;
      border-radius: .21rem;
      top: 2.18rem;
    }

    &::after {
      content: '';
      width: 21px;
      height: 21px;
      position: absolute;
      border-top: .7px solid var.$black;
      border-left: .7px solid var.$black;
      transform: rotate(-45deg);
      top: 20px;
      left: 25px;

      @include utility.tab {
        width: .21rem;
        height: .21rem;
        top: .2rem;
        left: .25rem;
      }

      @include utility.sp {
        width: .1rem;
        height: .1rem;
        top: .16rem;
        left: .2rem;
      }
    }

    &:hover {
      opacity: .9;
      cursor: pointer;
    }
  }

  &__postButton {
    width: 60px;
    height: 60px;
    border: none;
    background-color: var.$white;
    border-radius: 30px;
    opacity: .7;
    position: absolute;
    top: 125px;
    right: 0;
    transition: .3s;

    @include utility.tab {
      width: .6rem;
      height: .6rem;
      border-radius: .3rem;
      top: 1.25rem;
    }

    @include utility.sp {
      width: .42rem;
      height: .42rem;
      border-radius: .21rem;
      top: 2.18rem;
    }

    &::after {
      content: '';
      width: 21px;
      height: 21px;
      position: absolute;
      border-top: 1px solid var.$black;
      border-right: 1px solid var.$black;
      transform: rotate(45deg);
      top: 20px;
      left: 15px;

      @include utility.tab {
        width: .21rem;
        height: .21rem;
        top: .2rem;
        left: .15rem;
      }

      @include utility.sp {
        width: .1rem;
        height: .1rem;
        top: .16rem;
        left: .14rem;
      }
    }

    &:hover {
      opacity: .9;
      cursor: pointer;
    }
  }

  &__articles {
    display: flex;
    margin-top: 25px;
    gap: 20px;

    @include utility.tab {
      margin-top: .25rem;
      gap: .2rem;
    }

    @include utility.sp {
      width: 3.7rem;
      height: 3.46rem;
      margin-top: .35rem;
    }
  }

  &__article {
    width: 280px;

    @include utility.tab {
      width: 2.8rem;
    }

    @include utility.sp {
      width: 100%;
      height: 100%;
    }

    & img {
      border-radius: 10px;

      @include utility.tab {
        border-radius: .1rem;
      }

      @include utility.sp {
        border-radius: .1rem;
        width: 100%;
        height: 2.08rem;
        object-fit: cover;
        object-position: 0 0;
      }
    }

    & p {
      display: block;
      margin-top: 10px;
      @include utility.font(16px, "Noto Sans JP", var.$regular, 22px);

      @include utility.tab {
        margin-top: .1rem;
        @include utility.font(.16rem, "Noto Sans JP", var.$regular, .22rem);
      }

      @include utility.sp {
        margin-top: .1rem;
        @include utility.font(.16rem, "Noto Sans JP", var.$bold, .22rem);
      }
    }

    & table {
      margin-top: 4px;

      @include utility.tab {
        margin-top: .04rem;
      }

      @include utility.sp {
        margin-top: .08rem;
      }
    }

    & th {
    display: block;
    width: 60px;
    height: 21px;
    margin: 4px 10px 0 0;
    background-color: var.$lightPink;
    text-align: center;
    @include utility.font(14px, "Noto Sans JP", var.$regular, 20px);

    @include utility.tab {
      width: .6rem;
      height: .21rem;
      margin: .04rem .1rem 0 0;
      @include utility.font(.14rem, "Noto Sans JP", var.$regular, .20rem);
    }

    @include utility.sp {
      width: .6rem;
      height: .21rem;
      margin: .04rem .21rem 0 0;
      @include utility.font(.14rem, "Noto Sans JP", var.$regular, .20rem);
    }
    }

    & td {
    @include utility.font(14px, "Inter", var.$regular, 17px);

    @include utility.tab {
      @include utility.font(.14rem, "Noto Sans JP", var.$regular, .17rem);
    }

    @include utility.sp {
      @include utility.font(.14rem, "Noto Sans JP", var.$regular, .2rem);
    }
    }
  }

  &__spNotShow {
    @include utility.sp {
      display: none;
    }
  }

  &__button {
    display: block;
    margin: 59px auto 0;
    width: 360px;
    transition: .3s;
    text-align: center;

    @include utility.tab {
      margin: .59rem auto 0;
      width: 3.6rem;
    }

    @include utility.sp {
      margin: .44rem auto 0;
      width: 3.7rem;
      height: .6rem;
      border-radius: .3rem;
    }

    &:hover {
      opacity: .8;
      cursor: pointer;
    }

    & p {
      @include utility.font(18px, "Noto Sans JP", var.$bold, 60px);
      color: var.$white;

      @include utility.tab {
        @include utility.font(.18rem, "Noto Sans JP", var.$bold, .6rem);
      }
      @include utility.sp {
        @include utility.font(.18rem, "Noto Sans JP", var.$bold, .6rem);
      }
    }
  }
}