@use '../../object/utility/utility.scss';

// 新着求人に関するスタイル

.p-newRecruiment {
	padding: 64px 0 67px;
	background-color: utility.$bgLightBlue;

	@include utility.tab {
		padding: 0.64rem 0 0.67rem;
	}

	&__btn-parent {
		position: relative;
	}

	&__btn-child-left {
		position: absolute;
		top: 70px;
		left: 0px;

		@include utility.tab {
			top: 0.7rem;
		}
	}
	&__btn-child-right {
		position: absolute;
		top: 70px;
		right: 0px;

		@include utility.tab {
			top: 0.7rem;
		}
	}

	&__contents {
		max-width: 1180px;
		margin: 0 auto;

		@include utility.tab {
			max-width: 11.8rem;
		}
	}

	&__title {
		font-size: 25px;
		@include utility.tab {
			font-size: 0.25rem;
		}
	}
	&__list {
		display: flex;
		gap: 20px;
		margin-top: 25px;

		@include utility.tab {
			gap: 0.2rem;
			margin-top: 0.25rem;
		}

		&--item {
			max-width: 280px;
			@include utility.tab {
				max-width: 2.8rem;
			}

			&-img {
				border-radius: 10px;
			}

			&-desc {
				font-size: 16px;
				line-height: 22px;
				margin-top: 8.8px;
				@include utility.tab {
					font-size: 0.16rem;
					line-height: 0.22rem;
					margin-top: 0.088rem;
				}
			}
			&-detail {
				font-size: 14px;
				display: flex;
				align-items: center;
				gap: 10px;
				margin-top: 4px;

				@include utility.tab {
					font-size: 0.14rem;
					gap: 0.1rem;
					margin-top: 0.04rem;
				}

				&-frame {
					margin-top: 3px;
					@include utility.tab {
						margin-top: 0.03rem;
					}
				}

				&-about {
					background-color: utility.$brightPink;
					text-align: center;
					line-height: 21px;
					width: 60px;
					height: 21px;

					@include utility.tab {
						line-height: 0.21rem;
						width: 0.6rem;
						height: 0.21rem;
					}
				}
			}
		}
	}

	&__btn {
		padding: 17px 72px;
		display: block;
		margin: 59px auto 0;
		@include utility.tab {
			padding: 0.17rem 0.72rem;
			margin: 0.59rem auto 0;
		}
	}
}
