@use '../../object/utility/utility.scss';

.p-newRecruit {
  background-color: utility.$bgLightBlue;
  padding: 64px 0 67px 0;
  &__area {
  }
  &__title{
    font-size: 25px;
  }
  &__contents-area {
    display: flex;
    margin-top: 25px;
    justify-content: center;
  }
  &__contents {
    width: 280px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &>a>img {
      height: 200px;
      border-radius: 10px;
    }
    &>a>p {
      margin-top: 8.08px;
      font-size: 16px;
      line-height: 22px;
    }
    &__items {
      display: flex;
      align-items: center;
      font-size:  14px;
      margin-top: 6.92px;
      &__title {
        display: inline-block;
        width: 60px;
        height: 21px;
        line-height: 21px;
        text-align: center;
        vertical-align: middle;
        background-color: utility.$lightPink;
        margin-right: 10px;
      }
    }
  }
  &__btn {
    margin-top: 59px;
  }
}

@media screen and (width <=1199px) {
  .p-newRecruit {
    background-color: utility.$bgLightBlue;
    padding: 0.64rem 0 0.67rem 0;
    &__area {
    }
    &__title{
      font-size: 0.25rem;
    }
    &__contents-area {
      display: flex;
      margin-top: 0.25rem;
      justify-content: center;
    }
    &__contents {
      width: 2.8rem;
      margin-right: 0.2rem;
      &:last-child {
        margin-right: 0;
      }
      &>a>img {
        height: 2rem;
        border-radius: 0.1rem;
      }
      &>a>p {
        margin-top: 0.0808rem;
        font-size: 0.16rem;
        line-height: 0.22rem;
      }
      &__items {
        display: flex;
        align-items: center;
        font-size:  0.14rem;
        margin-top: 0.0692rem;
        &__title {
          display: inline-block;
          width: 0.6rem;
          height: 0.21rem;
          line-height: 0.21rem;
          text-align: center;
          vertical-align: middle;
          background-color: utility.$lightPink;
          margin-right: 0.1rem;
        }
      }
    }
    &__btn {
      margin-top: 0.59rem;
    }
  }
}

@media screen and (width <=767px) {
  .p-newRecruit {
    padding: 0.3rem 0 0.6rem 0;
    &__title {
      @include utility.title;
    }
    &__contents-area {
      flex-direction: column;
    }
    &__contents {
      width: 3.7rem;
      margin-right: 0;
      &:not(:first-child) {
        display: none;
      }
      &>a>img {
        width: 3.70rem;
        height: 2.08rem;
        border-radius: 0.15rem;
        object-fit: cover;
        object-position: 0 0;
      }
      &>a>p {
        font-weight: utility.$bold;
        margin-top: 0.108rem;
      }
      &__items {
        line-height: 0.2rem;
        margin-top: 0.04rem;
        &:first-child {
          margin-top: 0.1192rem;
        }
      }
    }
    &__btn {
      margin-top: 0.44rem;
    }
  }
}