@use '../../object/utility/utility.scss';

.p-news-images {
  margin-top: 60px;
  padding: 64px 0 67px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: utility.$scrollBackground;

  &__title {
    font-size: 25px;
  }

  &__group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    & > a {
      color: utility.$black;
      transition: .3s;
    }
  }

  &__image {
    margin-left: 20px;
    margin-top: 25px;
    &:first-child {
      margin-left: 0;
    }

    &__sp {
      display: none;
    }

    & > img {
      border-radius: 10px;
    }
    
    & > p {
      width: 278px;
      margin-top: 8.08px;
      font-size: 16px;
      line-height: 1.4;
    }
  }

  &__detail {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-top: 7px;

    & > dt {
      width: 60px;
      height: 21px;
      font-size: 14px;
      text-align: center;
      padding-top: 2px;
      background-color: utility.$scrollText;
    }

    & > dd {
      margin-left: 10px;
    }
  }

  &__button {
    width: 360px;
    display: block;
    padding: 17px 70px;
    margin: 60px auto 0 auto;
    font-weight: utility.$bold;
    transition: .3s;
  }
}

//レスポンシブTAB
@media (min-width: 768px) and (max-width: 1199px) {
  .p-news-images {
    margin-top: 0.6rem;
    padding: 0.64rem 0 0.67rem 0;

    &__title {
      font-size: 0.25rem;
    }

    &__image {
      width: 2.2rem;
      margin-top: 0.25rem;
      margin-left: 0.2rem;

      & > p {
        width: 2.2rem;
        font-size: 0.14rem;
        line-height: 1.4;
      }
    }

    &__detail {
      margin-top: 0.04rem;

      &:first-child {
        margin-top: 0.07rem;
      }
      
      & > dt {
        font-size: 0.14rem;
        width: 0.6rem;
        height: 0.21rem;
      }

      & > dd {
        font-size: 0.14rem;
      }
    }

    &__button {
      width: 3.6rem;
      padding: 0.17rem 0.7rem;
    }
  }
}

//レスポンシブSP
@media (max-width: 767px) {
  .p-news-images {
    text-align: center;
    padding: 0.3rem 0 0.6rem 0;

    &__title {
      font-size: 0.25rem;
      font-weight: utility.$bold;
    }

    &__group {
      display: block;

    }
    &__image{

      &:nth-child(n + 2) {
        display: none;
      }
      &__pc {
        display: none;
      }
      &__sp {
        display: block;
        margin: 0 auto;
      }

      & > p {
        width: 100%;
        font-size: 0.16rem;
        text-align: start;
        font-weight: utility.$bold;
      }
    }

    &__detail {
      line-height: 1.25;
      margin-top: 0.05rem;
      font-weight: utility.$regular;

      &:first-child {
        margin-top: 0.12rem;
      }

      & > dt {
        font-size: 0.14rem;
      }
      
      & > dd {
        font-size: 0.14rem;
        margin-left: 0.21rem;
      }
    }

    &__button {
      width: 3.6rem;
      padding: 0.21rem 0.77rem;
      margin-top: 0.44rem;
    }
  }
}