@use '../../object/utility/utility.scss';

.p-news-images {
  margin-top: 60px;
  padding: 64px 0 67px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: utility.$scrollBackground;

  &__title {
    font-size: 25px;
  }

  &__group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    & > a {
      transition: .3s;
    }
  }

  &__image {
    margin-left: 20px;
    margin-top: 25px;
    &:first-child {
      margin-left: 0;
    }

    &__sp {
      display: none;
    }

    & > img {
      border-radius: 10px;
    }
    
    & > p {
      width: 278px;
      margin-top: 8.08px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__detail {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-top: 7px;

    & > dt {
      width: 60px;
      height: 21px;
      font-size: 14px;
      text-align: center;
      padding-top: 2px;
      background-color: utility.$scrollText;
    }

    & > dd {
      margin-left: 10px;
    }
  }

  &__button {
    width: 360px;
    display: block;
    padding: 17px 70px;
    margin: 60px auto 0 auto;
    font-weight: utility.$bold;
    transition: .3s;
  }
}

//レスポンシブTAB
@media (min-width: 768px) and (max-width: 1200px) {
  .p-news-images {
    &__image {
      width: 220px;

      & > p {
        width: 220px;
        font-size: 14px * 0.8;
        line-height: 22px * 0.8;
      }
    }

    &__detail {
      font-size: 14px * 0.8;
      & > dt {
        font-size: 14px * 0.8;
        width: 48px;
        height: 21px * 0.8;
      }
    }

    &__button {
      width: 360px * 0.9;
    }
  }
}

//レスポンシブSP
@media (max-width: 767px) {
  .p-news-images {
    text-align: center;
    padding: 30px 0 60px 0;

    &__title {
      font-weight: utility.$bold;
    }

    &__group {
      display: block;

    }
    &__image{

      &:nth-child(n + 2) {
        display: none;
      }
      &__pc {
        display: none;
      }
      &__sp {
        display: block;
      }

      & > p {
        width: 100%;
        text-align: start;
        font-weight: utility.$bold;
      }
    }

    &__detail {
      margin-top: 12px;
      font-weight: utility.$regular;
      
      & > dd {
        margin-left: 21px;
        line-height: 20px;
      }
    }

    &__button {
      margin-top: 45px;
    }
  }
}