@use '../../object/utility/utility.scss';
// 新着求人に関するスタイル

.p-news {
  background-color: utility.$bgLightBlue;
  padding-block: 60px;
  height: 636px;

  &_title {
    font-size: 25px;
    height: 30px;
    display: flex;
    align-items: center;
  }

  &_slider {
    position: relative;

    &_button {
      position: absolute;
      top: 130px;
      transform: translateY(-50%);
      z-index: 10;

      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: none;
      font-size: 30px;
      background-color: utility.$clear;

      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
        &::before {
          content: '';
          display: block;
          width: 18px;
          height: 18px;
          border-top: 1px solid utility.$black;
          border-right: 1px solid utility.$black;
        }

      &._back {
        left: 0;
        &::before {
          transform: rotate(-135deg);
          margin-left: 4px;
        }
      }
      &._next {
        right: 0;
        &::before {
          transform: rotate(45deg);
          margin-right: 4px;
        }
      }
    }

  }

  &_button{
    font-size: 18px;
    display: block;
    margin-inline: auto;
    width: 360px;
  }
}
