@use '../../object/utility/utility.scss' as uty;
// newsのスタイルを記述するファイル

.p-news {
  background-color: uty.$ash;
  margin-top: 59px;

  @include uty.tab {
    width: 1199px;
  }
  @include uty.sp {
    width: 100%;
    margin-top: .25rem;
  }
  &__news {
    padding: 64px 0 67px 0;
    width: 100%;
    position: relative;

    @include uty.sp {
      padding: .3rem 0 .6rem 0;
    }
    &__title {
      text-align: center;
      padding: 0 1075px 25px 0;
      font-size: 25px;
      font-family: uty.$inter;
      font-weight: uty.$regular;
      line-height: 30px;

      @include uty.sp {
        padding: 0 0 .3rem 0;
        font-weight: uty.$bold;
        font-size: .25rem;
        line-height: .3rem;
        top: .3rem;
        left: 1.5rem;
      }
    }
    &__contents {
      @include uty.sp {
        text-align: center;
      }
      &__content {
        position: relative;

        &:first-child {
          bottom: 55px;
          margin-top: 50px;

          @include uty.sp {
            bottom: 0;
            margin: 0;
          }
        }
        &__img {
          width: 280px;
          height: 200px;
          border-radius: 10px;

          @include uty.sp {
            width: 0;
            height: 0;
            border-radius: 10px;
          }
        }
        &__sp-img {
          width: 0;

          @include uty.sp {
            width: 3.7rem;
            height: 2.08rem;
            border-radius: 10px;
          }
        }
        &__detail {
          font-size: 14px;
          font-weight: uty.$regular;
          line-height: 17px;
          margin-top: 8.08px;
          width: 280px;
          color: uty.$black;

          @include uty.sp {
            text-align: left;
            font-size: .14rem;
            line-height: .1694rem;
            width: 3.7rem;
          }
          &__comment {
            font-weight: uty.$regular;
            font-size: 16px;
            line-height: 22px;
            margin: 8.8px 0 6.92px 0;

            @include uty.sp {
              font-size: .16rem;
              line-height: .22rem;
              font-weight: uty.$bold;
            }
          }
          & span {
            text-align: center;
            display: inline-block;
            padding: 1px;
            line-height: 20.27px;
            background-color: uty.$cherry;
            margin: 4px 10px 0 0;
            width: 60px;

            @include uty.sp {
              font-size: .14rem;
              line-height: .2027rem;
              width: .6rem;
            }
          }
        }
      }
    }
    &__button {
      margin: 0 auto;
      width: 360px;
      padding: 17px 72px;

      @include uty.sp {
        width: 3.7rem;
        height: .6rem;
        padding: .21rem .72rem;
        margin: .4484rem auto 0 auto;
      }
    }
  }
}
.slick-slider {
  width: 1180px;
  margin: 0 auto;

  @include uty.sp {
    width: auto;
  }
}
.slick-prev {
  @include uty.slideButton();
  width: 60px;
  height: 60px;
  left: 0;
  top: 70px;

  &::before {
    @include uty.slideArrowPrev();
    border-top: 1px solid uty.$black;
    border-left: 1px solid uty.$black;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 20px;
  }
  @include uty.sp {
    @include uty.slideButton();
    height: .42rem;
    width: .42rem;
    left: .15rem;
    top: 1.57rem;

    &::before {
      @include uty.slideArrowPrev();
      border-top: .01rem solid uty.$black;
      border-left: .01rem solid uty.$black;
      width: .1rem;
      height: .1rem;
      left: .19rem;
      top: .16rem;
    }
  }
}

.slick-next {
  @include uty.slideButton();
  width: 60px;
  height: 60px;
  right: 15px;
  top: 70px;

  &::before {
    @include uty.slideArrowNext();
    border-top: 1px solid uty.$black;
    border-right: 1px solid uty.$black;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 20px;
  }
  @include uty.sp {
    @include uty.slideButton();
    height: .42rem;
    width: .42rem;
    left: 3.43rem;
    top: 1.57rem;

    &::before {
      @include uty.slideArrowNext();
      border-top: .01rem solid uty.$black;
      border-right: .01rem solid uty.$black;
      width: .1rem;
      height: .1rem;
      left: .14rem;
      top: .16rem;
    }
  }
  
}