@use '../../object/utility/utility.scss';

.p-nextwork {
  h2 {
    background-color: ;
    color: utility.$black;
    font-family: Noto Sans JP;
    font-size: 25px;
    font-style: normal;
    font-weight: utility.$regular;
    line-height: normal;
  }

  &__container {
    display: flex;
    justify-content: center;
  }
}