@use '../../object/utility/utility.scss' as base;

  // 新着求人

  .p-offer__newoffer {
    position: relative;
    padding: 60px 0;
    background-color: base.$whiteblue;
      &__title {
        font-size: 25px;
      };
      &__lists {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        .p-offer__newoffer__list {
          margin-right: 20px;
          width: 280px;
          transition: .3s;
          .p-offer__newoffer__img {
            width: 280px;
            border-radius: 10px;
          };
          .p-offer__newoffer__img__sp {
            display: none;
          };
          .p-offer__newoffer__content {
            margin-top: 8px;
            width: 280px;
            font-size: 16px;
            color: base.$black;
            line-height: 22px;
          };
          .p-offer__newoffer__explanation {
            margin-top: 4px;
            font-size: 14px;
            text-align: center;
            color: base.$black;
            line-height: 20px;
            width: 60px;
            background-color: base.$whitepink;
            display: inline-block;
          };
          .p-offer__newoffer__detail {
            margin-left: 10px;
            font-size: 14px;
            color: base.$black;
            display: inline-block;
          };
        };
        .p-offer__newoffer__list:hover {
          opacity: .8;
          transition: .3s;
        };
      };
  };




  @include base.tab {

    .p-offer__newoffer {
      padding: 0.6rem 0;
      background-color: base.$whiteblue;
        &__title {
          font-size: 0.25rem;
        };
        &__lists {
          margin-top: 0.25rem;
          .p-offer__newoffer__list {
            margin-right: 0.2rem;
            width: 2.8rem;
            .p-offer__newoffer__img {
              width: 2.8rem;
              border-radius: 0.1rem;
            };
            .p-offer__newoffer__content {
              margin-top: 0.08rem;
              width: 2.8rem;
              font-size: 0.16rem;
              line-height: 0.22rem;
            };
            .p-offer__newoffer__explanation {
              margin-top: 0.04rem;
              font-size: 0.14rem;
              line-height: 0.2rem;
              width: 0.6rem;
            };
            .p-offer__newoffer__detail {
              margin-left: 0.1rem;
              font-size: 0.14rem;
            };
          };
        };
    };
  }






  @include base.sp {
  
    .p-offer__newoffer {
      position: relative;
      padding: 0.6rem 0;
      background-color: base.$whiteblue;
        &__title {
          font-size: 0.25rem;
          text-align: center;
          font-weight: base.$bold;
        };
        &__lists {
          margin-top: 0.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          .p-offer__newoffer__list {
            margin-right: 0.1rem;
            margin-left: 0.1rem;
            width: 100%;
            transition: .3s;
            .p-offer__newoffer__img {
              width: 3.7rem;
              border-radius: 0.1rem;
            };
            .p-offer__newoffer__img__sp {
              display: none;
            };
            .p-offer__newoffer__content {
              margin-top: 0.08rem;
              width: 3.5rem;
              font-size: 0.16rem;
              color: base.$black;
              line-height: 0.22rem;
            };
            .p-offer__newoffer__explanation {
              margin-top: 0.04rem;
              font-size: 0.14rem;
              text-align: center;
              color: base.$black;
              line-height: 0.2rem;
              width: 0.6rem;
              background-color: base.$whitepink;
              display: inline-block;
            };
            .p-offer__newoffer__detail {
              margin-left: 0.1rem;
              font-size: 0.14rem;
              color: base.$black;
              display: inline-block;
            };
          };
          .p-offer__newoffer__list:hover {
            opacity: .8;
            transition: .3s;
          };
        };
    };
  };