@use '../utility/utility.scss';
@use '../../foundation/variables';

.p-pc-hands {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  &__imgWrapper {
    filter: brightness(50%);
    }

  &__pWrapper {
    position: absolute;
    font-family: Noto Sans JP;
    font-weight: variables.$bold;
    font-size: 25px;
    color: variables.$white;
    text-align: center;
    line-height: 2.5;
  }
}

@include utility.tab {
  .p-pc-hands__pWrapper {
    font-size: 0.25rem;
  }
}

@include utility.sp {
  .p-pc-hands__pWrapper {
    font-size: 0.14rem;
    font-weight: variables.$regular;
    line-height: 0.2rem;
    height: 0.75rem;
    align-content: center;
  }
}