@use '../../object/utility/utility.scss';
// pinkBoxの項目に関するスタイル

.p-pink-box {
  width: 570px;
  height: 180px;
  background: #F7D2DB;
  border-radius: 10px;
  text-align: center;
  margin-left: 40px;
  
  &:first-child {
    margin-left: 0;
  }

  &__title {
    padding-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #DE5579;
  }

  &__detail {
    margin: 26px auto 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    max-width: 475px;
  }
}


@media screen and (max-width:767px) {
  .p-pink-box {
    width: 370px;
    height: inherit;
    padding-bottom: 30px;
    
    &:first-child {
      
    }
  
    &__title {
      padding-top: 30px;
      font-size: 20px;
      line-height: 20px;
    }
  
    &__detail {
      margin: 30px auto 0;
      font-size: 12px;
      line-height: 17px;
      max-width: 350px;
    }
  }
}