@use '../../object/utility/utility.scss';
// ページ上部のキービジュアルに関するスタイル
.p-point {
  padding: 105px 0;
  text-align: center;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 53px;
    & li {
      width: 570px;
      height: 180px;
      background: utility.$pink;
      border-radius: 10px;
      margin-top: 40px;
      &:nth-child(-n+2) {
        margin-top: 0;
      }
    }
    & li p {
      font-size: 14px;
      &:nth-child(1) {
        margin-top: 40px;
        font-size: 24px;
        color: utility.$magenta;
      }
      &:nth-child(2) {
        margin-top: 36px;
        line-height: 1.3;
      }
    }
  }
}

@include utility.sp {
  .p-point {
    padding: 55px 0 60px;
    &__list {
      display: block;
      margin: 0;
      & li {
        width: 100%;
        height: 160px;
        &:first-child {
          margin-top: 38px;
        }
        &:nth-child(2) {
          margin-top: 20px;
        }
      }
      & li p {
        font-size: 0.12rem;
        &:first-child {
          padding-top: 30px;
          font-size: 0.2rem;
        }
        &:nth-child(2) {
          margin-top: 30px;
        }
      }
    }
  }
}