@use '../../object/utility/utility.scss';

.p-points {
  margin-top: 105px;
  &__inner {
    text-align: center;
    &__title {
      font-size: 25px;
      font-weight: utility.$bold;
    }
    &__lists {
      margin-top: 53px;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 570px;
        height: 180px;
        padding-top: 40px;
        background-color: utility.$pink;
        border-radius: 10px;
        margin: 40px 0px 0px 40px;
        &:nth-child(-n+2) {
          margin-top: 0px;
        }
        &:nth-child(2n+1) {
          margin-left: 0px;
        }
        &:last-child p {
          margin-top: 26px;
        }
      }
      h2 {
        font-size: 24px;
        font-weight: utility.$bold;
        color: utility.$magenta;
      }
      p {
        margin-top: 36px;
        font-size: 14px;
        height: 40px;
        line-height: 20px;
      }
    }
  }
}