@use '../../object/utility/utility.scss';
// ページ上部のキービジュアルに関するスタイル
.p-point {
  padding: 105px 0;
  text-align: center;
  @include utility.tab {
    padding: 1rem 0;
  }
  @include utility.sp {
    padding: .55rem 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 53px;
    @include utility.tab {
      margin-top: .53rem;
    }
    @include utility.sp {
      display: block;
      margin: 0;
    }
    & li {
      width: 570px;
      height: 180px;
      background: utility.$pink;
      border-radius: 10px;
      margin-top: 40px;
      @include utility.tab {
        width: 49%;
        height: auto;
        margin-top: .4rem;
        padding: .3rem 0;
      }
      @include utility.sp {
        width: 100%;
        height: auto;
        margin-top: .21rem;
        padding: .3rem .17rem;
      }
      &:nth-child(-n+2) {
        margin-top: 0;
      }
      &:first-child {
        @include utility.sp {
          margin-top: .38rem;
        }
      }
      &:nth-child(2) {
        @include utility.sp {
          margin-top: .21rem;
        }
      }
    }
    & li p {
      font-size: 14px;
      @include utility.tab {
        font-size: .14rem;
      }
      @include utility.sp {
        font-size: .12rem;
      }
      &:nth-child(1) {
        margin-top: 40px;
        font-size: 24px;
        color: utility.$magenta;
        @include utility.tab {
          margin-top: 0;
          font-size: .24rem;
        }
        @include utility.sp {
          margin-top: 0;
          padding-top: 0;
          font-size: .2rem;
        }
      }
      &:nth-child(2) {
        margin-top: 36px;
        line-height: 1.5;
        @include utility.tab {
          margin-top: .36rem;
        }
        @include utility.sp {
          margin-top: .3rem;
        }
      }
    }
  }
}
