@use '../../object/utility/utility.scss';
// processのスタイルを記述するファイル

.p-process {
  margin-top: 105px;

  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
  }

  &__step-wrapper {
    margin-top: 51.13px;
    display: flex;
    justify-content: center;
  }
}


@media screen and (max-width:767px) {
  .p-process {
    margin-top: 60px;
  
    &__title {
      
    }
  
    &__step-wrapper {
      margin: 34px auto 0;
      display: flex;
      flex-wrap: wrap;
      max-width: 280px;
    }
  }  
}