@use '../../object/utility/utility.scss';
@use '../../object/component/button.scss';

.p-main__recruit {
  width: 100%;
  background-color: utility.$bgRecruit;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  @include utility.sp {
    width: 4rem;
    padding-top: 0.3rem;
  }
  
  &__container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @include utility.tab {
      width: 95%;
    }
    @include utility.sp {
      width: 4rem;
    }
    
    & > h1 {
      font-size: 25px;
      font-weight: utility.$regular;
      @include utility.sp {
        width: 4rem;
        font-weight: utility.$bold;
        text-align: center;
      }
    }
    
    &__arowWrap {
      width: 100%;
      height: 250px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      @include utility.sp {
        width: 4rem;
        justify-content: center;
        gap: 2.8rem;
        top: 1.5rem;
      }

      &__arrowLeft{
        position: relative;

        &::before{
          content: "";
          width: 20px;
          height: 20px;
          border-top: 1px solid utility.$black;
          border-left: 1px solid utility.$black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-30%, -50%)rotate(-45deg);
          @include utility.sp {
            width: 0.12rem;
            height: 0.12rem;
          }
        }

        &__arrowBtn {
          width: 60px;
          height: 60px;
          background-color: rgba(utility.$white, 0.7);
          border-radius: 50%;
          transition: .2s;
          border: none;
          @include utility.sp {
            width: 0.42rem;
            height: 0.42rem;
          }
        }
      }

      &__arrowRight{
        position: relative;

        &::before {
          content: "";
          width: 20px;
          height: 20px;
          border-top: 1px solid utility.$black;
          border-left: 1px solid utility.$black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-70%, -50%)rotate(135deg);
          @include utility.sp {
            width: 0.12rem;
            height: 0.12rem;
          }
        }
        
        &__arrowBtn{
          width: 60px;
          height: 60px;
          background-color: rgba(utility.$white, 0.7);
          border-radius: 50%;
          transition: .2s;
          border: none;
          @include utility.sp {
            width: 0.42rem;
            height: 0.42rem;
          }
        }
      }
    }

    & > a {
      width: 360px;
      height: 60px;
      color: utility.$white;
      background-color: utility.$buttonPink;
      font-weight: utility.$bold;
      margin-top: 67px;
      margin-left: auto;
      margin-right: auto;
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding-top: 25px;
      @include utility.sp {
        gap: 0;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
      }
      
      &__inner{

        &__img > img {
          width: auto;
            @include utility.sp {
              width: 3.7rem;
            }
        }

        & > h2 {
          font-size: 16px;
          font-weight: utility.$regular;
          line-height: 22px;
          margin-top: 8px;
          @include utility.sp {
            font-weight: utility.$bold;
          }
        }
        
        &__about {
          margin-top: 3px;

          & > li{
            list-style: none;
            display: flex;
            margin-top: 4px;
            gap: 10px;
            
            & > h3 {
              display: flex;
              font-size: 14px;
              font-weight: utility.$regular;
              width: 60px;
              height: 21px;
              background-color: utility.$item;
              text-align: center;
              align-items: center;
              justify-content: center;
            }

            & > p {
              font-size: 14px;
              font-weight: utility.$regular;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}