@use '../../object/utility/utility.scss';
@use '../component/button.scss';

.p-recruit-contents {
  text-align: center;
  &__wrap {
    display: flex;
    justify-content: center;
  }
  &__title {
    font-family: 'Noto Sans JP';
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 105px;
    text-align: center;
  }
  &__box {
    margin-top: 50px;
    margin-left: 20px;
    position: relative;
    transition: all 0.3s;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__black {
    display: block;
    width: 380px;
    height: 240px;
    background-color: #000000;
    border-radius: 10px;
    opacity: 0.5;
    position: absolute;
    top: 0;
  }
  &__sub {
    font-family: 'Noto Sans JP';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    width: 380px;
    text-align: center;
    position: absolute;
    top: 71px;
  }
  &__describe {
    font-family: 'Noto Sans JP';
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #ffffff;
    width: 380px;
    white-space: pre-line;
    text-align: center;
    position: absolute;
    top: 139px;
  }
  &__search-box {
    display: block;
    text-align: center;
  }
  &-btn {
    @include button.btn-style();
    width: 420px;
    box-sizing: border-box;
    text-align: center;
    padding: 21px 0;
    margin-top: 80px;
    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
}