@use '../../object/utility/utility.scss';

.p-responsive__recruitment__story {
  @include utility.sp {
    width: 100%;
  }

  & > .p-recruitment__story {
    width: 1180px;
    height: 435px;
    margin: 0 auto;
    @include utility.sp {
      width: 70%;
      height: 31%;
      margin: 0 auto;
    }
  
    & > .p-story__title {
      font-size: 25px;
      font-weight: 700;
      color: #000000;
      text-align: center;
      margin-top: 100px;
      @include utility.sp {
        font-size: 0.25rem;
        margin-top: 20%;
      }
    }
  
    & > .p-recruitment__group {
      @include utility.pc {
        margin-top: 50px;
      }
      @include utility.tab {
        margin-top: 0.5rem;
      }
      @include utility.sp {
        margin-top: 0.3rem;
      }

      & > .p-setting__recruitment {
        @include utility.pc {
          display: table-cell;
        }
        @include utility.tab {
          display: table-cell;
        }
        @include utility.sp {
          margin: 0 auto;
        }
  
        & > .p-pink__arrow {
          @include utility.pc {
            width: 20px;
            height: 40px;
            float: right;
            margin-top: 160px;
          }
          @include utility.tab {
            margin-top: 2.0rem;
            float: right;
          }
          @include utility.sp {
            margin: 0 auto;
            margin-top: 2%;
            width: 5%;
            transform: rotate(90deg);
          }
        }
  
        & > .p-responsive__arrow {
          @include utility.sp {
            display: none;
          }
        }
  
        & > .p-responsive__pink__arrow {
          @include utility.pc {
            display: none;
          }
          @include utility.tab {
            display: none;
          }
          @include utility.sp {
            margin: 0 auto;
            margin-top: 2%;
            width: 5%;
            transform: rotate(90deg);
          }
        }
  
        & > .p-recruitment__group__one {
          display: table-cell;
          width: 280px;
          height: 360px;
          border-width: 2.27px;
          border-style: solid;
          border-color: #de5579;
          border-radius: 10px;
          padding: 10px;
          font-weight: 400;
          margin-top: 50px;
  
          @include utility.sp {
            width: 65%;
            height: 1.5rem;
            margin: 0 auto;
            border-width: 0.03rem;
            border-radius: 0.07rem;
            padding: 3%;
          }
  
          & > .p-picture {
            height: 100px;
  
            & > .p-paper__picture {
              display: block;
              margin: auto;
            }
          }
  
          & > .p-step__one {  
            font-size: 16px;
            width: 60px;
            height: 60px;
            background-color: #de5579;
            color: #FFFFFF;
            border-radius: 30px;
            text-align: center;
            word-break: auto-phrase;
            @include utility.sp {
              font-size: 0.1rem;
              width: 0.4rem;
              height: 0.4rem;
              border-radius: 0.2rem;
              word-break: auto-phrase;
            }
  
            & > .p-step__one__text {
              margin: 0 auto;
              line-break: anywhere;
              width: 42px;
              height: 38px;
              padding-top: 15px;
              @include utility.sp {
                margin: 0 auto;
                line-break: anywhere;
                width: 70%;
                padding-top: 30%;
              }
            }
          }
  
          & > .p-group__text {
            display: table;
            margin: 0 auto;
  
            & > .p-title__setting {
              word-break: auto-phrase;
            }
  
            & > .p-entry__title {
              font-size: 24px;
              font-weight: 700;
              margin-top: 20px;
              text-align: center;
              word-break: auto-phrase;
              @include utility.pc {
                height: 60px;
              }
              @include utility.sp {
                font-size: 0.2rem;
                margin-top: 5%;
                word-break: keep-all;
              }
            }
  
            & > .p-entry__sub__title {
              font-size: 14px;
              font-weight: 400;
              width: 237px;
              height: 60px;
              margin-top: 10px;
              line-height: 20.27px;
              @include utility.sp {
                font-size: 0.14rem; 
                margin: 0 auto;
                margin-top: 0.15rem;
                margin-bottom: 0.25rem;
              }
            }
          }
        }
  
      }
    }
  }
}

.slider {
  width: 10rem;
  height: 5rem;
  display: flex;

  & > img {
    width: 20px;
    object-fit: cover;
  }
}