@use '../../object/utility/utility.scss' as util;

.p-requirement {
  width: 100%;
  margin-top: 59px;
  padding: 64px 0 67px;
  background-color: util.$aliceBlue;

  &__title {
    font-size: 25px;

  }

  &__carousel {
    margin-top: 25px;
    display: flex;

    &__item {
      width: 280px;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      &__title {
        margin-top: 8.08px;
        font-size: 16px;
        line-height: 22px;
      }

      &__table {
        margin-top: 6.92px;

        & .c-table {
          margin-top: 4px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }

  &__link {
    margin: 60px auto 0;
    text-align: center;
  }
}