@use '../../object/utility/utility.scss' as util;

.p-requirement {
  width: 100%;
  overflow: hidden;
  margin-top: 59px;
  padding: 64px 0 67px;
  background-color: util.$aliceBlue;

  @include util.tab {
    margin-top: 0.59rem;
    padding: 0.64rem 0 0.67rem;
  }

  @include util.sp {
    margin-top: 0.25rem;
    padding: 0.3rem 0 0.6rem;
  }

  &__title {
    font-size: 25px;
    margin-top: 0.59rem;

    @include util.tab {
      font-size: 0.25rem;
    }

    @include util.sp {
      margin-top: 0;
      font-size: 0.25rem;
      font-weight: util.$bold;
      text-align: center;
    }
  }
  
  &__carousel {
    position: relative;
    width: 100%;
    margin: 25px auto 0;
    display: flex;
    justify-content: center;

    @include util.tab {
      margin: 0.25rem auto 0;
    }

    @include util.sp {
      margin: 0.35rem auto 0;
    }

    &__item {
      margin-left: 20px;
      width: 280px;

      @include util.tab {
        margin-left: 0.2rem;
        width: 2.78rem;
      }

      @include util.sp {
        margin-left: 0;
        width: 3.7rem;
      }

      &__img {
        display: block;
        border-radius: 10px;

        @include util.tab {
          border-radius: 0.1rem;
        }

        @include util.sp {
          width: 100%;
          border-radius: 0.1rem;
        }
      }

      &__title {
        margin-top: 8.08px;
        font-size: 16px;
        line-height: 22px;

        @include util.tab {
          margin-top: 0.00808rem;
          font-size: 0.16rem;
          line-height: 0.22rem;
        }

        @include util.sp {
          margin-top: 0.101rem;
          font-size: 0.16rem;
          line-height: 0.22rem;
          font-weight: util.$bold;
        }
      }

      &__table {
        margin-top: 6.92px;

        @include util.tab {
          margin-top: 0.0692rem;
        }

        @include util.sp {
          margin-top: 0.12rem;
        }
        
        & .c-table {
          margin-top: 4px;
          
          @include util.tab {
            margin-top: 0.04rem;
          }
          
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
    
    .slick-track {
      margin-left: -20px;

      @include util.tab {
        margin-left: -0.2rem;
      }

      @include util.sp {
        margin-left: 0;
      }
    }

    .slick-arrow {
      position: absolute;
      border-radius: 50%;
      z-index: 100;
      height: 60px;
      width: 60px;
      background: rgba($color: util.$white, $alpha: 0.7);
      
      @include util.tab {
        height: 0.6rem;
        width: 0.6rem;
      }
  
      @include util.sp {
        height: 0.42rem;
        width: 0.42rem;
      }
    }
  
    .slick-prev {
      top: 70px;
      left: 0%;
  
      @include util.tab {
        top: 0.7rem;
      }
  
      @include util.sp {
        top: 1.57rem;
      }
      
      &__arrow {
        height: 100%;
        width: 100%;
        position: relative;
        
        &::before{
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          height: 20px;
          width: 20px;
          border-left: 0.707px solid util.$black;
          border-bottom: 0.707px solid util.$black;
          transform: translate(-25%, -50%) rotate(45deg);

          @include util.tab {
            height: 0.2rem;
            width: 0.2rem;
            border-left: 0.007rem solid util.$black;
            border-bottom: 0.007rem solid util.$black;
          }

          @include util.sp {
            height: 0.1rem;
            width: 0.1rem;
            border-left: 0.007rem solid util.$black;
            border-bottom: 0.007rem solid util.$black;
          }
        }
      }
    }
  
    .slick-next {
      top: 70px;
      left: calc(100% - 60px);
      
      @include util.tab {
        top: 0.7rem;
        left: calc(100% - 0.6rem);
      }
  
      @include util.sp {
        top: 1.57rem;
        left: calc(100% - 0.42rem);
      }
  
      &__arrow {
        height: 100%;
        width: 100%;
        position: relative;
  
        &::before{
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          height: 20px;
          width: 20px;
          border-top: 0.707px solid util.$black;
          border-right: 0.707px solid util.$black;
          transform: translate(-75%, -50%) rotate(45deg);

          @include util.tab {
            height: 0.2rem;
            width: 0.2rem;
            border-top: 0.007rem solid util.$black;
            border-right: 0.007rem solid util.$black;
          }

          @include util.sp {
            height: 0.1rem;
            width: 0.1rem;
            border-top: 0.007rem solid util.$black;
            border-right: 0.007rem solid util.$black;
          }
        }
      }
    }
  
  }

  &__link {
    margin: 60px auto 0;
    text-align: center;

    @include util.tab {
      margin: 0.6rem auto 0;
    }
    @include util.sp {
      margin-top: 0.45rem;
    }
  }
}