@use '../../object/utility/utility.scss';

@use '../../foundation/variables' as var;
@use '../../foundation/mixins' as mix;

.p-searchbotton__job {
  text-align: center;
  margin: 60px auto;
  padding: 40px;
  width: fit-content;
  background-color: var.$jobBackGround;
  border-radius: 10px;

  @include utility.sp {
    padding: .15rem .25rem .2rem;
    margin: .25rem .15rem;
    width: auto;
  }

  h1 {
    @include mix.h1(var.$bold, 20px);

    @include utility.sp {
      font-size: .22rem;
    }
  }

  p {
    font-size: 20px;

    @include utility.sp {
      font-size: .14rem;
    }
  }

  ul {
    display: flex;
    align-items: center;
    margin-top: 25px;

    @include utility.sp {
      display: inline-block;
      margin-top: .13rem;
    }

    .p-searchbotton__block-select-sp {
      display: flex;
    }

    .p-searchbotton__block-form-sp {
      display: flex;

      @include utility.sp {
        display: block;
        margin-top: .155rem;
      }

      li:nth-child(1) {
        @include utility.sp {
          margin-right: 0;
        }
      }

      li:nth-child(2) {
        margin-top: .19rem;
        margin-right: 0;
      }
    }

    li {
      list-style: none;
      margin-right: 15px;

      @include utility.sp {
        margin-right: .105rem;
      }
    }

    li:nth-child(3) {
      @include utility.sp {
        margin-right: 0;
      }
    }

    input {
      height: 60px;
      width: 300px;
      border-radius: 10px;
      border: 1px solid;
      border-color: var.$formColor;

      @include utility.sp {
        height: .3rem;
        width: 3.2rem;
        border-radius: .05rem;
        padding-left: .07rem;
      }
    }

    button {
      @include mix.button(var.$buttonBackGround, var.$white);
      padding-left: 15px;
      font-size: 18px;
      height: 60px;
      width: 140px;

      @include utility.sp {
        padding-left: .1301rem;
        height: .4rem;
        width: 1.6rem;
      }

      a {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        color: var.$white;

        @include utility.sp {
          gap: .1402rem;
        }
      }

      .p-searchbotton__icon-position {
        display: flex;
        align-items: center;
        margin-right: 5px;

        img {
          height: 30px;
          width: 30px;
          object-fit: cover;
          filter: brightness(0) invert(1);

          @include utility.sp {
            height: .1797rem;
            width: .1798rem;
          }
        }
      }
    }
  }

  .p-searchbotton__select-arrow {
    position: relative;
  }

  .p-searchbotton__select-arrow::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 15px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid var.$formColor;
    border-bottom: 0;

    @include utility.sp {
      top: 12.5px;
      right: .065rem;
      border-right: .07rem solid transparent;
      border-left: .07rem solid transparent;
      border-top: .07rem solid var.$formColor;
    }
  }

  select {
    width: 200px;
    appearance: none;
    padding: 17px 15px 17px 15px;
    font-size: 18px;
    border-radius: 10px;
    border-color: var.$formColor;

    @include utility.sp {
      display: block;
      width: 1rem;
      padding: .06rem .08rem .07rem .08rem;
      font-size: .12rem;
      border-radius: .05rem;
    }

    option {
      font-size: 18px;
    }
  }
}