@use '../../object/utility/utility.scss';

@use '../../foundation/variables' as var;
@use '../../foundation/mixins' as mix;

.p-searchbotton__job {
  text-align: center;
  margin: 60px auto;
  padding: 40px;
  width: fit-content;
  background-color: var.$jobBackGround;
  border-radius: 10px;

  h2 {
    @include mix.h2(var.$bold,20px);
  }

  p {
    font-size: 20px;
  }

  .p-searchbotton__ul {
    display: flex;
    align-items: center;
    margin-top: 25px;

    .p-searchbotton__li {
      list-style: none;
      margin-right: 15px;
    }

    li:nth-child(5) {
      margin-right: 0;
    }

    input {
      font-size: 18px;
      height: 60px;
      width: 300px;
      padding-left: 10px;
      border-radius: 10px;
      border: 1px solid;
      border-color: var.$formColor;
    }

    .p-searchbotton__button {
      @include mix.button(var.$buttonBackGround, var.$white);
      padding-left: 15px;
      font-size: 18px;
      height: 60px;
      width: 140px;

      .p-searchbotton__icon-position {
        display: flex;
        align-items: center;
        gap: 4px;
        transform: translate(0%, 50%);

        img {
          height: 30px;
          width: 30px;
          object-fit: cover;
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  .p-searchbotton__select-arrow {
    position: relative;
  }

  .p-searchbotton__select-arrow::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 15px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid var.$formColor;
    border-bottom: 0;
    pointer-events: none;
  }

  select {
    width: 200px;
    appearance: none;
    padding: 17px 15px;
    font-size: 18px;
    border-radius: 10px;
    border-color: var.$formColor;

    option {
      font-size: 18px;
    }
  }
}