@use '../../object/utility/utility.scss';

.p-secondvisual {
  background: url(../img/picture/work-background.jpg) no-repeat center;
  background-size: cover;
  height: 30rem;
  position: relative;
  text-align: center;

  @include utility.tab {
    height: 2.91rem;
  }

  @include utility.sp {
    height: .75rem;
  }

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  &__text {
    font-size: 2.5rem;
    font-weight: utility.$bold;
    position: absolute;
    color: utility.$white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    @include utility.tab {
      font-size: .24rem;
    }

    @include utility.sp {
      font-size: .14rem;
      font-weight: utility.$regular;
      left: 0;
      transform: translate(8%, -50%);
      -webkit-transform: translate(8%, -50%);
    }

    & > p {
      margin-top: 3rem;

      @include utility.tab {
        margin-top: .33rem;
      }

      @include utility.sp {
        margin-top: .07rem;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}