@use '../../object/utility/utility.scss';

// 中央画像見出しを記述するファイル

.p-secondvisual {
  position: relative;

  &__cover {
    position: absolute;
    content: '';
    display: block;
    background-color: utility.$black;
    top: 0;
    left: 0;
    z-index: 50;
    opacity: 0.5;
  }

  &__textbox {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 55;

    p {
      color: utility.$white;
      font-family: Noto Sans JP;
      font-size: 25px;
      font-style: normal;
      font-weight: utility.$bold;
      line-height: normal;

      span {
        font-weight: utility.$regular;
      }
    }

    &__under {
      margin-top: 21px;
    }
  }
}

@include utility.sp {
  .p-secondvisual {
    &__textbox {
      p {
        font-size: 0.14rem;
        font-weight: utility.$regular;

      }

      &__under {
        margin-top: 0.02rem;
      }
    }

  }
}