@use '../../object/utility/utility.scss';

// 中央画像見出しを記述するファイル

.p-secondvisual {
  position: relative;
  width: 100%;
  background-image: url('../img/picture/gizjob-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__textbox {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 55;

    p {
      color: utility.$white;
      font-family: Noto Sans JP;
      font-size: 25px;
      font-style: normal;
      font-weight: utility.$bold;
      line-height: normal;

      span {
        font-weight: utility.$regular;
      }
    }

    &__under {
      margin-top: 21px;
    }
  }
}

@include utility.sp {
  .p-secondvisual {
    &__textbox {
      p {
        font-size: 0.14rem;
        font-weight: utility.$regular;

      }

      &__under {
        margin-top: 0.02rem;
      }
    }

  }
}