@use '../../object/utility/utility.scss';

//仕事検索articleの調整
.p-searcharticle {
  background-color: utility.$articleBlue;
  text-align: center;
  margin-top: 60px;
  padding: 40px 0;
  border-radius: 10px;

  &__headline {
    color: utility.$black;
    font-family: Noto Sans JP;
    font-size: 25px;
    font-style: normal;
    font-weight: utility.$bold;
    line-height: 25px;
  }

  &__text {
    color: utility.$black;
    font-family: Noto Sans JP;
    font-size: 20px;
    font-style: normal;
    font-weight: utility.$regular;
    line-height: normal;
    margin-top: 20px;
  }

  &__container {
    margin-top: 26px;

  }

  &__input {
    margin-right: 15.5px;
  }
}