@use "../../object/utility/utility.scss";

.p-service {
  margin-top: 105px;
  @include utility.tab {
    margin-top: 1.05rem;
  }
  @include utility.sp {
    margin-top: 0.6rem;
  }

  &__content {
    display: flex;
    gap: 20px;

    @include utility.tab {
      gap: 0.2rem;
    }
    @include utility.sp {
      flex-direction: column;
      gap: 0.39rem;
    }
  }

  &__list {
    width: 280px;
    padding: 60px 19px 40px;

    border: 2.268px solid utility.$pink;
    border-radius: 10px;
    position: relative;

    @include utility.tab {
      width: 2.8rem;
      padding: 0.6rem 0.19rem 0.4rem;
    }
    @include utility.sp {
      width: 2.8rem;
      padding: 0.55rem 0 0.2rem;
      margin: 0 auto;
    }

    &:not(:last-child) {
      &::after {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        content: "";
        border-top: 20px solid transparent;
        border-left: 20px solid utility.$pink;
        border-bottom: 20px solid transparent;

        @include utility.sp {
          margin-top: 0.1rem;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          border-top: 20px solid utility.$pink;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
        }
      }
    }

    &-no {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 60px;
      height: 60px;
      background-color: utility.$pink;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      @include utility.tab {
        top: 0.1rem;
        left: 0.1rem;
        width: 0.6rem;
        height: 0.6rem;
      }
      @include utility.sp {
        top: 0.1rem;
        left: 0.1rem;
        width: 0.45rem;
        height: 0.45rem;
      }

      img {
        width: 42px;
        @include utility.tab {
          width: 0.42rem;
        }
        @include utility.sp {
          width: 0.25rem;
        }
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100px;
        @include utility.tab {
          height: 1rem;
        }
        @include utility.sp {
          height: 0.75rem;
        }
      }
    }

    &-title {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 20px;
      font-size: 24px;
      font-weight: utility.$bold;
      line-height: 30px;
      text-align: center;

      @include utility.tab {
        height: 0.6rem;
        font-size: 0.24rem;
        margin-top: 0.2rem;
        line-height: 0.3rem;
      }
      @include utility.sp {
        height: auto;
        font-size: 0.2rem;
        line-height: 0.28rem;
        margin-top: 0.22rem;
      }
    }

    &-text {
      margin-top: 18px;

      font-size: 14px;
      line-height: 20.27px;

      @include utility.tab {
        margin-top: 0.18rem;
        font-size: .14rem;
        line-height: .2rem;
      }
      @include utility.sp {
        margin-top: 0.1rem;
        font-size: .14rem;
        line-height: .2rem;
        padding: 0 .2rem;
      }
    }
  }
}
