@use '../../object/utility/utility.scss';
// サービスに関するスタイル

.p-service {
  width: 100%;

  &__thumb {
    position: relative;
    width: 100%;

    &>img {
      width: 100%;

    }

    &__text {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 25px;
      font-weight: utility.$bold;
      color: utility.$white;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;


      @include utility.sp {
        font-size: .14rem;
        font-weight: utility.$regular;
      }

      &>span {
        display: block;
        margin-top: 21px;

        @include utility.sp {
          margin-top: .02rem;
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &__inner {
    width: 1180px;
    margin: 0 auto;
    padding-top: 106px;
    text-align: center;

    @include utility.sp {
      width: 100%;
      padding-top: .55rem;
    }
  }

  &__title {
    font-size: 25px;
    font-weight: utility.$bold;

    @include utility.sp {
      font-size: .25rem;
    }
  }

  &__point {
    margin-top: 53px;

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;

      @include utility.sp {
        flex-direction: column;
        align-items: center;
        gap: .21rem;
      }

      &__item {
        width: 570px;
        // height: 180px;
        padding-top: 40px;
        background-color: utility.$bgPink;
        border-radius: 10px;

        @include utility.sp {
          max-width: 3.7rem;
          max-height: 1.44rem;
          padding-top: .3rem;
        }
      }
    }

    &__title {
      color: utility.$primaryPink;
      font-size: 24px;
      font-weight: utility.$bold;

      @include utility.sp {
        font-size: .2rem;
      }
    }

    &__text {
      height: 116px;
      font-size: 14px;
      line-height: 1.4;
      display: flex;
      align-items: center;
      justify-content: center;

      &__pc {
        display: block;

        @include utility.sp {
          display: none;
          font-size: .14rem;
        }
      }

      &__sp {
        display: none;

        @include utility.sp {
          display: block;
        }
      }

      @include utility.sp {
        height: .94rem;
        font-size: .12rem;
      }
    }
  }
}