@use '../../object/utility/utility.scss';

.p-slider {
  margin-top: 60px;
  background-color: utility.$bgLightBlue;

  .sp-only {
    display: none;
  }

  &__box {
    padding: 64px 0 67px;
  }

  &__title {
    font-size: 25px;
    font-weight: utility.$regular;
  }

  &__slide {
    position: relative;
  }

  .arrow_box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 0 0;
    position: relative;
    z-index: 100;
  }

  .prev-arrow,
  .next-arrow {
    display: block;
    width: 60px;
    height: 60px;
    background: utility.$white;
    border-radius: 50%;
    opacity: 0.7;
    top: 100px;
    position: absolute;
  }

  .next-arrow {
    right: 0;

    &:before {
      transform: rotate(45deg);
      right: 24px;
    }
  }

  .prev-arrow {
    left: 0;

    &:before {
      transform: rotate(225deg);
      left: 24px;
    }
  }

  .prev-arrow::before,
  .next-arrow::before {
    content: '';
    width: 20px;
    height: 20px;
    border-top: solid 0.7px utility.$black;
    border-right: solid 0.7px utility.$black;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__contents {
    margin-top: 30px;
    display: flex;

    .slick-slide {
      margin-right: 20px;
    }

    &__block {
      width: 280px!important;

      &__text {
        margin-top: 8px;
        font-size: 16px;
        font-weight: utility.$regular;
        line-height: 22px;
      }

      &__list {
        margin-top: 7px;

        &__inner {
          font-size: 14px;

          &:nth-child(n+2) {
            margin-top: 5px;
          }

          &__area {
            display: inline-block;
            width: 60px;
            text-align: center;
            background-color: utility.$pink_02;
            line-height: 20.27px;
            margin-right: 10px;
          }
        }
      }
    }
  }



  &__btn {
    width: 360px;
    margin: auto;

    &__inner {
      width: 360px;
      margin-top: 59px;
      padding: 17px 0;
      text-align: center;
    }
  }

  /* TAB */
  @include utility.tab {
    margin-top: .6rem;

    &__box {
      padding: .64rem 0 .67rem;
    }

    &__title {
      font-size: .25rem;
    }


    .arrow_box {
      margin: .2rem 0 0;
    }

    .prev-arrow,
    .next-arrow {
      width: .6rem;
      height: .6rem;
      top: 1rem;
    }
  
    .next-arrow {
      &:before {
        right: .24rem;
      }
    }
  
    .prev-arrow {
      &:before {
        left: .24rem;
      }
    }
  
    .prev-arrow::before,
    .next-arrow::before {
      width: .2rem;
      height: .2rem;
      border-top: solid .007rem utility.$black;
      border-right: solid .007rem utility.$black;
    }

    &__contents {
      margin-top: .3rem;

      .slick-slide {
        margin-right: .2rem;
      }

      &__block {
        width: 2.8rem!important;

        &__text {
          margin-top: .08rem;
          font-size: .16rem;
          line-height: .22rem;
        }

        &__list {
          margin-top: .07rem;

          &__inner {
            font-size: .14rem;

            &:nth-child(n+2) {
              margin-top: .05rem;
            }

            &__area {
              width: .6rem;
              line-height: .2027rem;
              margin-right: .1rem;
            }
          }
        }
      }
    }

    &__btn {
      width: 3.6rem;

      &__inner {
        width: 3.6rem;
        margin-top: .59rem;
        padding: .17rem 0;
      }
    }
  }


  /* SP */
  @include utility.sp {
    margin-top: .95rem;
    padding-top: -.95rem;

    .pc-only {
      display: none;
    }

    .sp-only {
      display: block;
    }

    &__page {
      display: none;
    }

    &__box {
      width: 3.7rem;
      padding: .29rem 0 .6rem;

    }


    .arrow_box {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 20px 0 0;
      position: relative;
      z-index: 100;
    }
  
    .prev-arrow,
    .next-arrow {
      width: .42rem;
      height: .42rem;
      top: 1.73rem;
    }
  
    .next-arrow {
      &:before {
        right: .19rem;
      }
    }
  
    .prev-arrow {
  
      &:before {
        left: .19rem;
      }
    }
  
    .prev-arrow::before,
    .next-arrow::before {
      content: '';
      width: .13rem;
      height: .13rem;
    }

    &__contents {
      margin-top: .16rem;
      display: block;

      &__block {
          width: 3.7rem!important;

        img {
          width: 100%;
        }

        &:nth-child(n+2) {
          margin-left: 0rem;
        }

        &__text {
          margin-top: .1rem;
          font-weight: utility.$bold;
        }

        &__list {
          margin-top: .11rem;

          &__inner {
            &__area {
              margin-right: .21rem;
            }
          }
        }
      }
    }

    .slick-slide {
      width: 3.7rem!important;
    }

    &__btn {
      width: 3.7rem;

      &__inner {
        width: 3.7rem;
        margin-top: .49rem;
        padding: .21rem 0;
      }
    }
  }
}