@use '../../object/utility/utility.scss' as base;

.p-steps {
  margin-top: 105px;
}

.p-steps-heading {
  font-size: 25px;
  font-weight: base.$bold;
}

.p-steps-content {
  margin-top: 50px;
  position: relative;
  display: block;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.p-steps-border-box {
  box-sizing: border-box;
  border: 2px solid base.$featured;
  border-radius: 10px;
  width: 278px;
  height: 358px;
  padding: 60px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-steps-border-box:first-child {
  margin-left: 0;
}

.p-steps-arrow {
  color: base.$featured;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 20px 20px;
  border-left-color: currentColor;
  border-right: 0;
  margin-top: 155px;
}

.p-steps-icon {
  width: 100px;
}

.p-steps-number {
  width: 60px;
  height: 60px;
  top: -50px;
  left: 10px;
  padding: 9px 0;
  background-color: base.$featured;
  border-radius: 50%;
  font-size: 16px;
  position: absolute;
  color: base.$white;
}

.p-steps-step {
  line-height: 1.3em;
  font-size: 24px;
}

.p-steps-abstract {
  width: 237px;
  line-height: 1.5em;
  font-size: 14px;
  text-align: left;
  margin: 0 auto;
}

