@use '../../object/utility/utility.scss';
//ギズジョブの特徴に関するスタイル

.p-strengths {
  height: 495px;

  &_style {
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
  }

  &_title {
    font-size: 25px;
    font-weight: bold;
  }

  &_items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  &_item {
    background-color: rgba(247, 210, 219, 1);
    width: 570px;
    height: 180px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    &_title {
      color: utility.$pink;
      font-size: 25px;
      font-weight: bold;
    }

    &_content {
      font-size: 14px;
      display: flex;
      align-items: center;
      text-align: center;
      height: 120px;
      line-height: 1.6;
    }
  }
}