@use '../../object/utility/utility.scss' as subkey;

.p-subvisual {
  background-image: url(../img/picture/subvisual.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
  position: relative;
  z-index: 10;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__text {
    white-space: nowrap;
    font-weight: 700;
    color: subkey.$white;
    text-align: center;
    font-size: 25px;

    &:last-of-type {
      margin-top: 20px;
    }
  }
}

@include subkey.tab {
  .p-subvisual {
    height: 3rem;

    &__text {
      font-size: 0.25rem;

      &:last-of-type {
        margin-top: 0.2rem;
      }
    }
  }
}

@include subkey.sp {
  .p-subvisual {
    height: 0.75rem;

    &__text {
      font-size: 0.14rem;
      font-weight: 400;

      &:last-of-type {
        margin-top: 0.03rem;
      }
    }
  }
}