@use '../../object/utility/utility.scss';
// supportのスタイルを記述するファイル

.p-support {
  margin-top: 105px;

  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
  }

  &__cont-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    &__contents {
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__button-wrapper {
    margin-top: 80px;
    text-align: center;

    &__button {
      width: 420px !important;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      color: #FFFFFF;
    }
  }
}


@media screen and (max-width:767px) {
  .p-support {
    margin-top: 60px;
    padding: 0 15px;
  
    &__title {

    }
  
    &__cont-wrapper {
      margin: 30.55px auto 0;
      display: flex;
      flex-wrap: wrap;
      max-width: 370px;
  
      &__contents {
        margin-left: 0;
        margin-top: 17.55px;
  
        &:first-child {
          margin-top: 0;
        }
      }
    }
  
    &__button-wrapper {
      margin-top: 34.86px;
  
      &__button {
        max-width: 370px;
        width: 100% !important;
      }
    }
  }
}