@use '../../object/utility/utility.scss' as uty;
//supportのスタイルを記述するファイル

.p-support {
  padding-top: 106px;

  @include uty.tab {
    width: 1199px;
  }
  @include uty.sp {
    padding-top: .55rem;
  }
  &__support {
    width: 1180px;
    margin: 0 auto;
    text-align: center;

    @include uty.sp {
      width: 4rem;
    }
    &__title {
      font-size: 25px;
      font-weight: uty.$bold;
      line-height: 25px;

      @include uty.sp {
        font-size: .25rem;
        line-height: .25rem;
      }
    }
    &__features {
      display: flex;
      flex-wrap: wrap;
      margin-top: 53px;

      @include uty.sp {
        display: inline-block;
        text-align: center;
        margin-top: .17rem;
      }
      &__feature {
        width: 570px;
        background-color: uty.$feature-pink;
        border-radius: 10px;
        margin: 40px 0 0 40px;
        padding-bottom: 40px;

        @include uty.sp {
          width: 3.7rem;
          margin: .21rem 0 0 0 ;
          padding-bottom: .3rem;
        }
        &:nth-child(2n + 1) {
          margin-left: 0;
        }
        &:nth-child(-n + 2) {
          margin-top: 0;

          @include uty.sp {
            margin-top: .21rem;
          }
        }
        &__title {
          font-size: 24px;
          font-weight: uty.$bold;
          line-height: 24px;
          color: uty.$pink;
          padding-top: 40px;

          @include uty.sp {
            font-size: .2rem;
            line-height: .2rem;
            padding-top: .3rem;
          }
        }
        &__text {
          font-size: 14px;
          font-weight: uty.$regular;
          line-height: 20px;
          margin-top: 36px;

          @include uty.sp {
            font-size: .12rem;
            line-height: .17rem;
            margin: .3rem auto 0 auto;

            & > br {
              display: none;
            }
          }
          &-fixed {
            font-size: 14px;
            font-weight: uty.$regular;
            line-height: 20px;
            margin-top: 26px;

            @include uty.sp {
              font-size: .12rem;
              line-height: .17rem;
              margin: .3rem auto 0 auto;

              & > br {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}