@use '../../object/utility/utility.scss';

.p-unit-useful {
  display: block;

  &__title {
    margin-top: 106px;
    font-size: 25px;
    text-align: center;
    font-weight: utility.$bold;
  }

  &__content {
    margin-top: 50px;

    &__text.u-overlay::before {
      border-radius: 10px;
    }

    &__text {
      width: 380px;
      height: 240px;
      display: inline-block;
      text-align: center;
      position: relative;
      border-radius: 10px;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      & > img {
        width: 380px;
        height: 240px;
        position: relative;
        border-radius: 10px;
      }

      & > h2 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 0);
        color: utility.$white;
        font-size: 24px;
        font-weight: utility.$bold;
        white-space: nowrap;
        z-index: 2;
      }

      & > p {
        width: 70%;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        color: utility.$white;
        font-size: 16px;
        font-weight: utility.$regular;
        line-height: 28px;
        white-space: nowrap;
        z-index: 2;
      }
    }
  }

  &__button {
    display: block;
    width: 420px;
    height: 60px;
    padding: 21px 0;
    margin: 80px auto 90px auto;
    font-weight: utility.$bold;
    transition: .3s;
  }
}

//レスポンシブTAB
@media (min-width: 768px) and (max-width: 1200px) {
  .p-unit-useful {
    &__title {
      font-size: 20px;
    }

    &__content {
      &__text {
        width: 380px * 0.8;
        height: 240px * 0.8;

        & > img {
          width: 380px * 0.8;
          height: 240px * 0.8;
        }

        & > h2 {
          font-size: 24px * 0.8;
        }

        & > p {
          bottom: 25%;
          font-size: 16px * 0.8;
          line-height: 23px * 0.8;
        }
      }
    }

    &__button {
      width: 420px * 0.8;
    }
  }
}

//レスポンシブSP
@media (max-width: 768px) {
  .p-unit-useful{

    &__title {
      margin-top: 61px;
    }

    &__content {
      margin-top: 30px;
      text-align: center;

      &__text {
        margin-top: 17px;
        margin-left: 0;

        & > h2 {
          font-size: 21px;
        }

        & > p {
          font-size: 14px;
          line-height: 17px;
          bottom: 25%;
        }
      }
    }

    &__button {
      width: 90%;
      margin-top: 35px;
      margin-bottom: 35px;
    }
  }
}
