@use '../../object/utility/utility.scss';
@use '../../foundation/_mixins.scss' as re;

.p-unit-useful {
  display: block;
  margin-top: 106px;

  &__title {
    font-size: 25px;
    text-align: center;
    font-weight: utility.$bold;
  }

  &__content {
    margin-top: 50px;

    &__text.u-overlay::before {
      border-radius: 10px;
    }

    &__text {
      width: 380px;
      height: 240px;
      display: inline-block;
      text-align: center;
      position: relative;
      border-radius: 10px;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      & > img {
        width: 380px;
        height: 240px;
        position: relative;
        border-radius: 10px;
      }

      & > h2 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 0);
        color: utility.$white;
        font-size: 24px;
        font-weight: utility.$bold;
        white-space: nowrap;
        z-index: 2;
      }

      & > p {
        width: 70%;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        color: utility.$white;
        font-size: 16px;
        font-weight: utility.$regular;
        line-height: 1.75;
        white-space: nowrap;
        z-index: 2;
      }
    }
  }

  &__button {
    display: block;
    width: 420px;
    height: 60px;
    padding: 21px 0;
    margin: 80px auto 90px auto;
    font-weight: utility.$bold;
    transition: .3s;
  }
}

//レスポンシブTAB
@include re.tab {
  .p-unit-useful {
    width: 90%;
    margin-top: 1.06rem;
    &__title {
      font-size: 0.25rem;
    }

    &__content {
      margin-top: 0.5rem;
      display: flex;
      &__text {
        width: 3.8rem;
        height: 2.4rem;
        margin-left: 0.2rem;

        & > img {
          width: 3.8rem;
          height: 2.4rem;
        }

        & > h2 {
          font-size: 0.24rem;
        }

        & > p {
          width: 90%;
          text-align: center;
          font-size: 0.16rem;
          line-height: 1.5;
        }
      }
    }

    &__button {
      width: 4.2rem;
      height: 0.6rem;
      padding: 0.21rem 0;
      margin: 0.8rem auto 0.9rem auto;
    }
  }
}

//レスポンシブSP
@include re.sp {
  .p-unit-useful{
    margin-top: 0.6rem;
    &__title {
      font-size: 0.25rem;
    }

    &__content {
      margin-top: 0.3rem;
      text-align: center;

      &__text {
        width: 3.7rem;
        height: 2.35rem;
        margin-top: 0.17rem;
        margin-left: 0;

        & > img {
          width: 3.7rem;
          height: 2.35rem;
        }

        &:first-child {
          margin-top: 0;
        }

        & > h2 {
          font-size: 0.21rem;
        }

        & > p {
          font-size: 0.14rem;
          line-height: 1.5;
          bottom: 25%;
        }
      }
    }

    &__button {
      width: 90%;
      margin: 0.35rem auto;
    }
  }
}
