@use '../../object/utility/utility.scss';

//転職フロー
.p-unit-flow {
  max-width: 80%;
  margin-top: 105px;

  &__title {
    text-align: center;
    font-size: 25px;
    font-weight: utility.$bold;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 51px;

    &__text {
      margin-left: 22px;
      border: solid 3px utility.$pink;
      border-radius: 10px;
      position: relative;
      text-align: center;
      padding-bottom: 40px;
      
      & > h1 {
        padding: 11px 9px 11px 9px;
        margin-top: 8.8px;
        margin-left: 8.8px;
        width: 60px;
        height: 60px;
        background-color: utility.$pink;
        border-radius: 30px;
        color: utility.$white;
        font-size: 16px;
        line-height: 20px;
      }

      & > img {
        width: 100px;
        height: 100px;
      }

      & > h2 {
        width: 70%;
        height: 60px;
        margin: 20px auto 0 auto;
        font-size: 24px;
        line-height: 30px;
        font-weight: utility.$bold;
      }

      & > p {
        font-size: 14px;
        font-weight: utility.$regular;
        width: 80%;
        margin: 18px auto 0 auto;
        line-height: 21px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 45%;
        left: 100%;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid utility.$pink;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}