@use '../../object/utility/utility.scss';

.p-useful {
  width: 1180px;
  margin: 105px auto 0;

  &__box {
    display: flex;
    margin-top: 50px;
    text-align: center;

    &__list {
      &:nth-child(n+2) {
        margin-left: 20px;
      }

      &__subtitle {
        margin-top: 71px;
        font-size: 24px;
        font-weight: utility.$bold;
        color: utility.$white;
      }

      &__text {
        margin-top: 44px;
        font-size: 16px;
        line-height: 23.17px;
        font-weight: utility.$regular;
        color: utility.$white;
      }
    }
  }

  &__img_01, &__img_02, &__img_03 {
    width: 380px;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding-bottom: 55px;
  }

  &__img_01 {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/picture/useful/useful_img01.png');
  }

  &__img_02 {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/picture/useful/useful_img02.png');
  }

  &__img_03 {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/picture/useful/useful_img03.png');
  }

  &__btn {
    width: 420px;
    margin: 80px auto 0;

    &__inner {
      width: 420px;
      padding: 21px 0;
      text-align: center;
    }
  }

  /* SP */
  @include utility.sp {

    width: 3.7rem;
    margin: .6rem auto 0;

    &__box {
      display: block;
      margin-top: .3rem;

      &__list {
        &:nth-child(n+2) {
          margin-left: 0;
          margin-top: .175rem;
        }

        &__subtitle {
          margin-top: 0;
          padding-top: .62rem;
          font-size: .21rem;
        }

        &__text {
          margin-top: .51rem;
          font-size: .14rem;
          line-height: .2rem;
        }
      }
    }

    &__img_01, &__img_02, &__img_03 {
      width: 3.7rem;
      padding-bottom: .6rem;
    }

    &__btn {
      width: 3.7rem;
      margin: .34rem auto 0;

      &__inner {
        width: 3.7rem;
        padding: .21rem 0;
      }
    }
  }
}