@use '../../object/utility/utility.scss' as work;

.p-work {
  background-color: work.$footer-blue;
  padding: 64px 0 67px;

  &__list {
    display: flex;
    margin: 25px 0 61px;
  }

  &__item {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    color: work.$black;
    transition: .3s;

    &:hover {
      opacity: .8;
      transition: .3s
    }
  }

  &__img img {
    width: 280px;
    height: 200px;
    border-radius: 10px;
  }

  &__title {
    margin-top: 5px;
    font-size: 16px;
    line-height: 22px;
  }

  &__block {
    margin-top: 5px;
  }

  &__label {
    display: inline-block;
    background-color: work.$pink3;
    margin-right: 10px;
    width: 60px;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
  }

  &__text {
    display: inline-block;
    font-size: 14px;
  }
}

@include work.tab {
  .p-work {
    padding: 0.64rem 0 0.67rem;

    &__list {
      display: flex;
      margin: 0.25rem 0 0.61rem;
    }

    &__item {
      margin-right: 0.2rem;
    }

    &__img img {
      width: 2.8rem;
      height: 2rem;
      border-radius: 0.1rem;
    }

    &__title {
      margin-top: 0.05rem;
      font-size: 0.16rem;
      line-height: 0.22rem;
    }

    &__block {
      margin-top: 0.05rem;
    }

    &__label {
      margin-right: 0.1rem;
      width: 0.6rem;
      height: 0.21rem;
      line-height: 0.21rem;
      font-size: 0.14rem;
    }

    &__text {
      font-size: 0.14rem;
    }
  }
}

@include work.sp {

  .p-work {

    &__list {
      justify-content: center;
      margin: 35px 0 44px;
    }

    &__item {
      width: 370px;
      margin-right: 0;
    }

    &__item:not(:first-child) {
      display: none;
    }

    &__img {
      text-align: center;
    }

    &__img img {
      width: 370px;
      height: 208px;
      border-radius: 10px;
    }
  }
}