@use '../../object/utility/utility.scss' as work;

.p-work {
  background-color: work.$footer-blue;
  padding: 64px 0 67px;

  &__list {
    display: flex;
    margin: 25px 0 61px;
  }

  &__item {
    margin-right: 20px;
    width: 280px;
  }

  &__link {
    color: work.$black;
    transition: .3s;

    &:hover {
      opacity: .8;
      transition: .3s
    }
  }

  &__img-wrapper {

    img {
      width: 280px;
      height: 200px;
      border-radius: 10px;
    }
  }

  &__body {
    width: 280px;
  }

  &__title {
    margin-top: 5px;
    font-size: 16px;
    line-height: 22px;
  }

  &__block {
    margin-top: 5px;
  }

  &__label {
    display: inline-block;
    background-color: work.$pink3;
    margin-right: 10px;
    width: 60px;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
  }

  &__text {
    display: inline-block;
    font-size: 14px;
  }
}

.slick-arrow {
  height: 60px;
  width: 60px;
  appearance: none;
  font-size: 0;
  z-index: 100;
  background-color: #fff;
  opacity: .7;
  border-radius: 30px;
  position: absolute;
  border: none;
  @include work.tab {
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 0.3rem;
  }
  @include work.sp {
    height: 0.42rem;
    width: 0.42rem;
    border-radius: 0.21rem;
  }
}
.slick-prev {
  left: 0;
  top: 70px;
  @include work.tab {
    left: 0;
    top: 0.7rem;
  }
  @include work.sp {
    top: 2.1rem;
    left: 0.15rem;
  }
  &::after {
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 0.8px solid work.$black;
    border-bottom: 0.8px solid work.$black;
    transform: rotate(45deg);
    top: 20px;
    right: 15px;
    content: "";
    @include work.tab {
      width: 0.2rem;
      height: 0.2rem;
      top: 0.2rem;
      right: 0.15rem;
    }
    @include work.sp {
      width: 0.1rem;
      height: 0.1rem;
      top: 0.17rem;
      right: 0.15rem;
    }
  }
}
.slick-next {
  right: 0;
  top: 70px;
  @include work.tab {
    top: 0.7rem;
    right: 0;
  }
  @include work.sp {
    top: 2.1rem;
    right: 0.15rem;
  }
  &::after {
    position: absolute;
    width: 20px;
    height: 20px;
    border-right: 0.8px solid work.$black;
    border-top: 0.8px solid work.$black;
    transform: rotate(45deg);
    top: 20px;
    right: 25px;
    content: "";
    @include work.tab {
      width: 0.2rem;
      height: 0.2rem;
      top: 0.2rem;
      right: 0.25rem;
    }
    @include work.sp {
      width: 0.1rem;
      height: 0.1rem;
      top: 0.17rem;
      right: 0.2rem;
    }
  }
}
.slick-slider {
  position: relative;
}

@include work.tab {
  .p-work {
    padding: 0.64rem 0 0.67rem;

    &__list {
      display: flex;
      margin: 0.25rem 0 0.61rem;
    }

    &__item {
      margin-right: 0.2rem;
      width: 2.8rem;
    }

    &__img-wrapper img  {
      width: 2.8rem;
      height: 2rem;
      border-radius: 0.1rem;
    }

    &__body {
      width: 2.8rem;
    }

    &__title {
      margin-top: 0.05rem;
      font-size: 0.16rem;
      line-height: 0.22rem;
    }

    &__block {
      margin-top: 0.05rem;
    }

    &__label {
      margin-right: 0.1rem;
      width: 0.6rem;
      height: 0.21rem;
      line-height: 0.21rem;
      font-size: 0.14rem;
    }

    &__text {
      font-size: 0.14rem;
    }
  }
}

@include work.sp {

  .pxy-2 {
    padding: 0.21rem 0.77rem;
  }

  .p-work {
    padding: 0.36rem 0 0.6rem;

    &__list {
      justify-content: center !important;
      margin: 0.35rem 0 0.44rem;
      margin-right: auto;
      margin-left: auto;
    }

    &__item {
      margin-right: 0;
      width: 92.5%;
      margin-left: 0.15rem
    }

    &__item:not(:first-child) {
      display: none;
    }

    &__img {
      text-align: center;
    }

    &__img-wrapper {

      img {
        width: 3.7rem;
        height: auto;
        border-radius: 0.1rem;
      }
    }

    &__body {
      width: 3.7rem;
    }

    &__title {
      font-size: 0.16rem;
      font-weight: 700;
      line-height: 0.22rem;
      margin-top: 0.05rem;
    }

    &__block {
      margin-top: 0.05rem;
    }

    &__label {
      font-size: 0.14rem;
      margin-right: 0.1rem;
      width: 0.6rem;
      height: 0.21rem;
      line-height: 0.21rem;
    }

    &__text {
      font-size: 0.14rem;
    }
  }
}