@use '@/styles' as *;

.button {
  display: inline-flex;
  gap: sp-vw(14);
  align-items: center;
  justify-content: center;
  font-size: sp-vw(18);
  font-weight: bold;
  color: #{$color-white};
  white-space: nowrap;
  background-color: #{$color-soft-pink};
  @include media-pc {
    gap: pc-vw(6);
    margin: 0 auto;
    font-size: pc-vw(18);
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.full-width {
  display: flex;
  width: 100%;
  @include media-pc {
    display: inline-flex;
    width: auto;
  }
}

.medium {
  height: sp-vw(60);
  border-radius: sp-vw(30);
  @include media-pc {
    height: pc-vw(60);
    padding: pc-vw(17) pc-vw(72);
    border-radius: pc-vw(30);
  }
}

.small {
  height: sp-vw(40);
  padding-right: sp-vw(43);
  font-size: sp-vw(14);
  border-radius: sp-vw(20);
  @include media-pc {
    height: pc-vw(60);
    padding-right: pc-vw(20);
    font-size: pc-vw(18);
    border-radius: pc-vw(30);
  }
}

.icon {
  display: inline-block;
  width: sp-vw(18);
  height: sp-vw(18);
  margin-left: sp-vw(13);
  background-color: #{$color-white};
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  @include media-pc {
    width: pc-vw(30);
    height: pc-vw(30);
    margin-left: pc-vw(14);
  }
}
