@use '@/styles' as *;

.color {
  background-color: $color-bg-light-blue;
}

.newjobs {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: sp-vw(30);
  padding-bottom: sp-vw(60);

  &_title {
    font-size: sp-vw(25);
    font-weight: 700;
    line-height: sp-vw(25);
    text-align: center;
  }
}

.swiperwrap {
  width: sp-vw(370);
  margin: 0 auto;
}

.slide {
  display: flex;
  flex-direction: column;
  gap: sp-vw(15);
  width: 100%;
  margin-top: sp-vw(30);
}

.h3 {
  font-size: sp-vw(16);
  font-weight: 700;
  line-height: sp-vw(22);
}

.img {
  flex-shrink: 0;
  border-radius: 15px;
}

.row {
  display: flex;
  gap: sp-vw(21);
  align-items: center;
  margin-bottom: sp-vw(6);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(60);
  height: sp-vw(21);
  font-size: sp-vw(14);
  background-color: $color-salmon;

  &_detail {
    font-size: sp-vw(14);
  }
}

.prev,
.next {
  position: absolute;
  top: sp-vw(247);
  z-index: 10;
  width: sp-vw(40);
  height: sp-vw(40);
  background: url('/icon/circle.svg') center / contain no-repeat;
  background-color: transparent;
}

.prev {
  left: sp-vw(0);

  &_mark {
    display: block;
    width: sp-vw(7);
    height: sp-vw(14);
    margin: auto;
    background: url('/icon/left_icon.svg') center / contain no-repeat;
  }
}

.next {
  right: sp-vw(0);

  &_mark {
    display: block;
    width: sp-vw(7);
    height: sp-vw(14);
    margin: auto;
    background: url('/icon/right_icon.svg') center / contain no-repeat;
  }
}

.btn {
  margin-top: sp-vw(44);
  @include btn-pink-sp(370, 60);
}

@media (768px <=width) {
  .newjobs {
    padding-top: pc-vw(64);
    padding-bottom: pc-vw(67);

    &_title {
      font-size: pc-vw(25);
      font-weight: 400;
      line-height: pc-vw(25);
      text-align: left;
    }
  }

  .swiperwrap {
    width: pc-vw(1180);
    margin: 0 auto;
  }

  .slide {
    display: flex;
    flex-direction: column;
    gap: pc-vw(7);
    width: pc-vw(280);
    margin-top: pc-vw(25);
  }

  .h3 {
    font-size: pc-vw(15);
    font-weight: 400;
    line-height: pc-vw(22);
  }

  .img {
    flex-shrink: 0;
    border-radius: 5px;
  }

  .row {
    gap: pc-vw(10);
    margin-bottom: pc-vw(4);
  }

  .item {
    width: pc-vw(60);
    height: pc-vw(21);
    font-size: pc-vw(14);

    &_detail {
      font-size: pc-vw(14);
    }
  }

  .prev,
  .next {
    top: pc-vw(189);
    z-index: 10;
    width: pc-vw(60);
    height: pc-vw(60);
  }

  .prev {
    left: pc-vw(0);

    &_mark {
      display: block;
      width: pc-vw(15);
      height: pc-vw(30);
    }
  }

  .next {
    right: pc-vw(0);

    &_mark {
      display: block;
      width: pc-vw(15);
      height: pc-vw(30);
    }
  }

  .btn {
    margin: auto;
    margin-top: pc-vw(44);
    @include btn-pink-pc(360, 60);
  }
}
