@use '@/styles' as *;

.new-jobs-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-right: sp-vw(15);
  padding-bottom: sp-vw(60);
  padding-left: sp-vw(15);
  overflow: hidden;
  scroll-margin-top: sp-vw(70);
  background-color: #{$color-white-blue};

  @include media-pc {
    align-items: flex-start;
    width: 100%;
    max-width: pc-vw(1600);
    padding-right: pc-vw(210);
    padding-bottom: pc-vw(67);
    padding-left: pc-vw(210);
    margin: 0 auto;
    overflow: visible;

    .swiper-wrapper-custom {
      position: relative;
      width: 100%;
      min-width: 0;
    }

    .swiper {
      width: 100%;
    }
  }
}

.slider-wrapper {
  position: relative;
  width: 100%;
}

.section-title {
  margin-top: sp-vw(30);
  margin-bottom: sp-vw(35);
  font-size: sp-vw(25);
  font-weight: bold;
  @include media-pc {
    margin-top: pc-vw(64);
    margin-bottom: pc-vw(25);
    font-size: pc-vw(25);
    font-weight: normal;
    text-align: left;
  }
}

.card {
  margin-top: sp-vw(30);
  margin-bottom: sp-vw(35);
  font-size: sp-vw(25);
  font-weight: bold;
  @include media-pc {
    margin-top: pc-vw(64);
    margin-bottom: pc-vw(25);
    font-size: pc-vw(25);
    font-weight: normal;
    text-align: left;
  }
}

.card-image {
  width: sp-vw(370);
  height: sp-vw(208);
  object-fit: cover;
  object-position: 0 0;
  border-radius: sp-vw(10);
  @include media-pc {
    width: pc-vw(280);
    height: pc-vw(185);
    object-fit: cover;
    border-radius: pc-vw(10);
  }
}

.arrow-button {
  position: absolute;
  top: sp-vw(185);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(42);
  height: sp-vw(42);
  padding: 0;
  background-color: #{$color-white};
  border: none;
  border-radius: 50%;
  @include media-pc {
    top: 40%;
    width: pc-vw(60);
    height: pc-vw(60);
    transform: translateY(-50%);
  }

  &::after {
    width: sp-vw(10);
    height: sp-vw(10);
    content: '';
    border-top: sp-vw(1) solid #{$color-black};
    border-right: sp-vw(1) solid #{$color-black};
    @include media-pc {
      width: pc-vw(21);
      height: pc-vw(21);
      border-top: pc-vw(1) solid #{$color-black};
      border-right: pc-vw(1) solid #{$color-black};
    }
  }

  &.prev {
    left: 0;

    &::after {
      margin-left: sp-vw(3);
      transform: rotate(-135deg);
      @include media-pc {
        margin-left: pc-vw(8);
      }
    }
  }

  &.next {
    right: 0;

    &::after {
      margin-right: sp-vw(4);
      transform: rotate(45deg);
      @include media-pc {
        margin-right: pc-vw(8);
      }
    }
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.card-title {
  padding-top: sp-vw(11);
  padding-bottom: sp-vw(11);
  font-size: sp-vw(16);
  font-weight: bold;
  line-height: 1.4;
  @include media-pc {
    padding-top: pc-vw(8);
    padding-bottom: pc-vw(7);
    font-size: pc-vw(16);
    font-weight: normal;
  }
}

.meta-list {
  display: flex;
  flex-direction: column;
  gap: sp-vw(8);
  @include media-pc {
    gap: pc-vw(8);
  }
}

.meta-item {
  display: flex;
  align-items: center;
  @include media-pc {
    flex-direction: row;
    gap: pc-vw(8);
  }
}

.label-pink {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: sp-vw(60);
  height: sp-vw(21);
  margin-right: sp-vw(21);
  font-size: sp-vw(14);
  font-weight: 400;
  color: #{$color-black};
  background-color: #{$color-light-pink};
  @include media-pc {
    width: pc-vw(60);
    height: pc-vw(21);
    margin-right: pc-vw(2);
    font-size: pc-vw(14);
  }
}

.meta-value {
  font-size: sp-vw(14);
  color: $color-black;
  @include media-pc {
    font-size: pc-vw(14);
  }
}

.more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(370);
  height: sp-vw(60);
  padding: 0;
  margin-top: sp-vw(44);
  margin-bottom: sp-vw(0);
  font-size: sp-vw(18);
  font-weight: 700;
  color: #{$color-white};
  cursor: pointer;
  background: #{$color-pink};
  border: none;
  border-radius: sp-vw(30);
  @include media-pc {
    width: pc-vw(390);
    height: pc-vw(60);
    margin: pc-vw(60) auto;
    margin-bottom: pc-vw(0);
    font-size: pc-vw(18);
  }
}
