@use '@/styles' as *;
@use '@/styles/functions' as *;

.keyvisual-container {
  position: relative;
  width: sp-vw(400);
  height: sp-vw(270);

  @include media-pc {
    width: pc-vw(1600);
    height: pc-vw(500);
  }
}

.keyvisual-title {
  position: absolute;
  top: sp-vw(61);
  right: sp-vw(45);
  width: sp-vw(160);

  @include media-pc {
    top: pc-vw(56);
    right: pc-vw(428);
    width: pc-vw(341);
  }
}

.keyvisual-subtitle {
  position: absolute;
  top: sp-vw(148);
  right: sp-vw(3.3);
  width: sp-vw(272);

  @include media-pc {
    top: pc-vw(265);
    right: pc-vw(193);
    width: pc-vw(800);
  }
}

.keyvisual-stats {
  position: absolute;
  top: sp-vw(188);
  right: sp-vw(40);
  padding: sp-vw(6) sp-vw(23);
  font-size: sp-vw(8);
  color: #{$color-teal};
  background-color: #{$color-white};
  border: 1px solid #{$color-teal};
  border-radius: sp-vw(6);

  @include media-pc {
    top: pc-vw(384);
    right: pc-vw(400);
    padding: pc-vw(11) pc-vw(41) pc-vw(12);
    font-size: pc-vw(20);
    border: 2px solid #{$color-teal};
    border-radius: pc-vw(10);
  }
}

.keyvisual-stats-number {
  font-size: sp-vw(18);
  font-weight: 700;

  @include media-pc {
    font-size: pc-vw(40);
  }
}
