@use '@/styles' as *;

.keyvisual {
  position: relative;
  top: sp-vw(70);
  width: 100%;
  height: sp-vw(270);

  &_icon {
    position: absolute;
    top: sp-vw(132);
    left: sp-vw(200);
    width: sp-vw(149);
    height: sp-vw(73);
  }

  &_text {
    position: absolute;
    top: sp-vw(217);
    left: sp-vw(124);
    width: sp-vw(272);
    height: sp-vw(22);
  }

  &_box {
    position: absolute;
    top: sp-vw(258);
    left: sp-vw(189);
    width: sp-vw(170);
    height: sp-vw(30);
    text-align: center;
    background-color: $color-white;
    border: sp-vw(1) solid $color-turquoise;
    border-radius: sp-vw(5);
  }
}

.jobs {
  padding-top: sp-vw(10);
  font-size: sp-vw(8);
  font-weight: 400;
  line-height: 1.8;
  color: $color-turquoise;
  letter-spacing: 0%;

  &_number {
    font-size: sp-vw(16);
    font-weight: 700;
  }
}
