@use '@/styles' as *;
@use '@/styles/functions' as *;

.form-top-section {
  margin: sp-vw(25) sp-vw(0);

  @include media-pc {
    margin: pc-vw(60) pc-vw(0);
  }
}

.group2-section {
  margin-top: sp-vw(55);

  @include media-pc {
    margin-top: pc-vw(106);
  }
}

.group3-section {
  margin-top: sp-vw(60);

  @include media-pc {
    margin-top: pc-vw(106);
  }
}

.group4-section {
  margin-top: sp-vw(60);

  @include media-pc {
    margin-top: pc-vw(100);
  }
}

.form-bottom-section {
  margin: sp-vw(60) sp-vw(0) sp-vw(100);

  @include media-pc {
    margin: pc-vw(150) pc-vw(0) pc-vw(200);
  }
}
