@use '@/styles' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  padding: sp-vw(16) sp-vw(15);
  background-color: #{$color-white};

  @include media-pc {
    padding: pc-vw(25) pc-vw(100) pc-vw(25) 0;
  }
}

.line {
  position: absolute;
  left: 0;
  width: 100%;
  height: sp-vw(6);
  background-color: #{$color-black};
  border-radius: sp-vw(6);
  transition: all 0.3s ease-in-out;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  &:nth-child(3) {
    bottom: 0;
  }
}

.nav {
  display: flex;
  align-items: center;

  @include media-pc {
    column-gap: pc-vw(25);
  }
}

.button {
  position: relative;
  z-index: 1000;
  display: block;
  width: sp-vw(50);
  height: sp-vw(38);
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;

  @include media-pc {
    display: none;
  }

  &-list {
    display: none;

    @include media-pc {
      display: flex;
      column-gap: pc-vw(15);
      font-size: pc-vw(14);
    }
  }

  &-link {
    display: flex;
    align-items: center;
    height: 100%;
    color: #{$color-white};
    background-color: #{$color-light-blue};
    border-radius: sp-vw(6);

    @include media-pc {
      column-gap: pc-vw(10);
      padding: pc-vw(16) pc-vw(20);
    }

    &::before {
      display: block;
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &.active {
    .line {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(225deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%) rotate(-225deg);
      }
    }
  }
}

.menu-drawer {
  position: fixed;
  top: sp-vw(70);
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 70%);
  transition: right 0.4s ease-out;

  &.active {
    right: 0;
  }

  @include media-pc {
    display: none;
  }
}

.menu-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: sp-vw(38);
  font-size: sp-vw(22);
  font-weight: bold;
  color: #{$color-white};
}

.menu-list-li {
  width: 100%;
  padding: sp-vw(9) sp-vw(80) sp-vw(9) sp-vw(50);

  &-a {
    display: block;
    width: 100%;
    padding: sp-vw(10);
    color: inherit;
    text-decoration: none;
  }
}

.list {
  display: none;

  @include media-pc {
    display: flex;
  }

  &-link {
    display: flex;
    align-items: center;
    font-size: sp-vw(14);

    @include media-pc {
      column-gap: pc-vw(6);
      font-size: pc-vw(16);
    }

    &.medical {
      @include media-pc {
        padding-right: pc-vw(18);
      }
    }

    &.search {
      border-inline: 1px solid #{$color-black};

      @include media-pc {
        padding-inline: pc-vw(18);
      }
    }

    &.book {
      @include media-pc {
        padding-left: pc-vw(18);
      }
    }

    &::before {
      display: block;
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.search::before {
  @include media-pc {
    width: pc-vw(18);
    height: pc-vw(18);
    background-image: url('/icon/search.svg');
  }
}

.book::before {
  @include media-pc {
    width: pc-vw(21.3);
    height: pc-vw(17);
    background-image: url('/icon/book.svg');
  }
}

.heart::before {
  @include media-pc {
    width: pc-vw(21);
    height: pc-vw(18);
    background-image: url('/icon/heart.svg');
  }
}

.clock::before {
  @include media-pc {
    width: pc-vw(18);
    height: pc-vw(18);
    background-image: url('/icon/clock.svg');
  }
}

.history::before {
  @include media-pc {
    width: pc-vw(16);
    height: pc-vw(16);
    background-image: url('/icon/history.svg');
  }
}
