@use '@/styles' as *;

.sec-new-job-offers {
  box-sizing: border-box;
  width: sp-vw(400);
  height: sp-vw(600);
  padding: sp-vw(30) sp-vw(15);
  background-color: #{$color-ice-blue};
}

.new-job-offers-title {
  margin-bottom: sp-vw(35);
  font-size: sp-vw(25);
  font-weight: 700;
  text-align: center;
}

.new-job-cards {
  width: sp-vw(370);
  height: sp-vw(346);
  margin-bottom: sp-vw(44);
}

.new-job-card {
  width: sp-vw(370);
  height: sp-vw(346);
}

.new-job-card-img-wrap {
  width: sp-vw(370);
  height: sp-vw(208);
  margin-bottom: sp-vw(10);
  overflow: hidden;
  border-radius: sp-vw(10);
}

.new-job-card-img {
  object-fit: cover;
  object-position: top;
}

.new-job-card-title {
  margin-bottom: sp-vw(11);
  font-size: sp-vw(16);
  font-weight: 700;
  line-height: sp-vw(22);
}

.new-job-card-details {
  display: flex;
  flex-direction: column;
  font-size: sp-vw(14);
  line-height: sp-vw(21);
}

.new-job-card-detail {
  display: flex;
  margin-bottom: sp-vw(5);
}

.new-job-card-details-label {
  width: sp-vw(60);
  height: sp-vw(21);
  margin-right: sp-vw(21);
  vertical-align: middle;
  text-align: center;
  word-break: none;
  background-color: #{$color-pale-pink};
}
