@use '@/styles' as *;

.sec-new-job-offers {
  box-sizing: border-box;
  width: sp-vw(400);
  height: sp-vw(600);
  padding: sp-vw(30) sp-vw(15);
  background-color: #{$color-ice-blue};
  @include media-pc {
    width: pc-vw(1600);
    height: pc-vw(636);
    padding: pc-vw(64) pc-vw(210);
  }
}

.new-job-offers-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.new-job-offers-title {
  margin-bottom: sp-vw(35);
  font-size: sp-vw(25);
  font-weight: 700;
  text-align: center;
  @include media-pc {
    align-self: flex-start;
    margin-bottom: pc-vw(25);
    font-size: pc-vw(25);
    font-weight: 400;
    text-align: left;
  }
}

.new-job-cards {
  position: relative;
  display: flex;
  flex-direction: row;
  width: sp-vw(370);
  height: fit-content;
  margin-bottom: sp-vw(44);
  overflow: hidden;
  @include media-pc {
    gap: pc-vw(20);
    width: 100%;
    margin-bottom: pc-vw(61);
  }
}

.new-job-card-navigation-previous {
  position: absolute;
  top: 45%;
  z-index: 5;
  width: sp-vw(42);
  height: sp-vw(42);
  background-color: #{$color-white};
  border-radius: sp-vw(42);
  opacity: 0.7;
  @include media-pc {
    top: 20%;
    width: pc-vw(60);
    height: pc-vw(60);
    border-radius: pc-vw(30);
  }
}

.new-job-card-navigation-next {
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 5;
  width: sp-vw(42);
  height: sp-vw(42);
  background-color: #{$color-white};
  border-radius: sp-vw(42);
  opacity: 0.7;
  @include media-pc {
    top: 20%;
    width: pc-vw(60);
    height: pc-vw(60);
    border-radius: pc-vw(30);
  }
}

.new-job-card-previous-icon {
  position: absolute;
  top: sp-vw(16);
  left: sp-vw(18);
  width: sp-vw(10);
  height: sp-vw(10);
  content: '';
  border-top: sp-vw(1) solid #{$color-black};
  border-right: sp-vw(1) solid #{$color-black};
  transform: rotate(225deg);
  @include media-pc {
    top: pc-vw(22);
    left: pc-vw(25);
    width: pc-vw(15);
    height: pc-vw(15);
    border-width: pc-vw(0.7);
  }
}

.new-job-card-next-icon {
  position: absolute;
  top: sp-vw(16);
  right: sp-vw(18);
  width: sp-vw(10);
  height: sp-vw(10);
  content: '';
  border-top: sp-vw(1) solid #{$color-black};
  border-right: sp-vw(1) solid #{$color-black};
  transform: rotate(45deg);
  @include media-pc {
    top: pc-vw(22);
    right: pc-vw(25);
    width: pc-vw(15);
    height: pc-vw(15);
    border-width: pc-vw(0.7);
  }
}
