@use '@/styles' as *;

.sec-new-job-offers {
  box-sizing: border-box;
  width: sp-vw(400);
  height: sp-vw(600);
  padding: sp-vw(30) sp-vw(15);
  background-color: #{$color-ice-blue};
  @include media-pc {
    width: pc-vw(1600);
    height: pc-vw(636);
    padding: pc-vw(64) pc-vw(210);
  }
}

.new-job-offers-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.new-job-offers-title {
  margin-bottom: sp-vw(35);
  font-size: sp-vw(25);
  font-weight: 700;
  text-align: center;
  @include media-pc {
    align-self: flex-start;
    margin-bottom: pc-vw(25);
    font-size: pc-vw(25);
    font-weight: 400;
    text-align: left;
  }
}

.new-job-cards {
  position: relative;
  width: sp-vw(370);
  height: sp-vw(346);
  margin-bottom: sp-vw(44);
  @include media-pc {
    width: 100%;
    height: pc-vw(325);
    margin-bottom: pc-vw(61);
  }
}

.new-job-card-navigation-previous {
  position: absolute;
  top: 45%;
  width: sp-vw(42);
  height: sp-vw(42);
  background-color: #{$color-white};
  border-radius: sp-vw(42);
  opacity: 0.7;
  @include media-pc {
    top: 20%;
    width: pc-vw(60);
    height: pc-vw(60);
    border-radius: pc-vw(30);
  }
}

.new-job-card-navigation-next {
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 5;
  width: sp-vw(42);
  height: sp-vw(42);
  background-color: #{$color-white};
  border-radius: sp-vw(42);
  opacity: 0.7;
  @include media-pc {
    top: 20%;
    width: pc-vw(60);
    height: pc-vw(60);
    border-radius: pc-vw(30);
  }
}

.new-job-card-previous-icon {
  position: absolute;
  top: sp-vw(16);
  left: sp-vw(18);
  width: sp-vw(10);
  height: sp-vw(10);
  content: '';
  border-top: sp-vw(1) solid #{$color-black};
  border-right: sp-vw(1) solid #{$color-black};
  transform: rotate(225deg);
  @include media-pc {
    top: pc-vw(22);
    left: pc-vw(25);
    width: pc-vw(15);
    height: pc-vw(15);
    border-width: pc-vw(0.7);
  }
}

.new-job-card-next-icon {
  position: absolute;
  top: sp-vw(16);
  right: sp-vw(18);
  width: sp-vw(10);
  height: sp-vw(10);
  content: '';
  border-top: sp-vw(1) solid #{$color-black};
  border-right: sp-vw(1) solid #{$color-black};
  transform: rotate(45deg);
  @include media-pc {
    top: pc-vw(22);
    right: pc-vw(25);
    width: pc-vw(15);
    height: pc-vw(15);
    border-width: pc-vw(0.7);
  }
}

.new-job-card {
  width: sp-vw(370);
  height: sp-vw(346);
  @include media-pc {
    width: pc-vw(280);
    height: pc-vw(200);
  }
}

.new-job-card-img-wrap {
  width: sp-vw(370);
  height: sp-vw(208);
  margin-bottom: sp-vw(10);
  overflow: hidden;
  border-radius: sp-vw(10);
  @include media-pc {
    width: pc-vw(280);
    height: pc-vw(200);
    margin-bottom: pc-vw(8);
    border-radius: pc-vw(10);
  }
}

.new-job-card-img {
  object-fit: cover;
  object-position: top;
}

.new-job-card-title {
  margin-bottom: sp-vw(11);
  font-size: sp-vw(16);
  font-weight: 700;
  line-height: sp-vw(22);
  @include media-pc {
    margin-bottom: pc-vw(9);
    font-size: pc-vw(16);
    line-height: pc-vw(22);
  }
}

.new-job-card-details {
  display: flex;
  flex-direction: column;
  font-size: sp-vw(14);
  line-height: sp-vw(21);
  @include media-pc {
    font-size: pc-vw(14);
    line-height: pc-vw(21);
  }
}

.new-job-card-detail {
  display: flex;
  margin-bottom: sp-vw(5);
  @include media-pc {
    margin-bottom: pc-vw(5);
  }
}

.new-job-card-details-label {
  width: sp-vw(60);
  height: sp-vw(21);
  margin-right: sp-vw(21);
  vertical-align: middle;
  text-align: center;
  word-break: none;
  background-color: #{$color-pale-pink};
  @include media-pc {
    width: pc-vw(60);
    height: pc-vw(21);
    margin-right: pc-vw(21);
  }
}
