@use '@/styles' as *;

.img {
  width: 100%;
  background: url('/images/between_img.jpg') no-repeat center / cover;

  &_overlay {
    width: 100%;
    background-color: $color-overlay;
  }

  &_text {
    padding: sp-vw(16) 0;
    font-size: sp-vw(14);
    font-weight: 400;
    line-height: 1.5;
    color: $color-white;
    text-align: center;
  }
}
