@use '@/styles' as *;

.keyvisual {
  max-width: 100%;
  height: 31.25rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: rgb(152 177 190);
  background-image: url('/img/picture/main-keyvisual woman.jpg');
  background-repeat: no-repeat;
  background-position: 10.94rem top;
  background-size: 78.87rem 31.25rem;
}

.keyvisual-inner {
  position: relative;
  z-index: 2;
  align-items: center;
  width: 100%;
  max-width: 100rem;
  height: 31.25rem;
  margin: 0 auto;
  overflow-x: hidden;
}

.no1 {
  position: absolute;
  left: 52.88rem;
  width: 21.36rem;
  height: 10.53rem;
  margin-top: 3.53rem;
}

.catch {
  position: absolute;
  top: 16.56rem;
  left: 37.94rem;
  z-index: 4;
  width: 50rem;
  height: 4.063rem;
}

.job-box {
  position: absolute;
  top: 24rem;
  left: 50.59rem;
  width: 24.44rem;
  height: 4.31rem;

  .job-count {
    position: absolute;
    top: 0.313rem;
    left: 2.59rem;
    width: 19.25rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.45;
    color: rgb(46 182 170);
    text-align: center;

    .highlight {
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
      font-weight: bold;
      color: rgb(46 182 170);
    }
  }
}
