@use '@/styles' as *;

.message {
  background-image: url('/images/messageBg_sp.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: sp-vw(2);
    align-items: center;
    justify-content: center;
    padding-top: sp-vw(16);
    padding-bottom: sp-vw(17);
    font-size: sp-vw(14);
    color: #{$color-white};
    background-color: rgb(0 0 0 / 50%);
    @include media-pc {
      gap: pc-vw(21);
      padding-top: pc-vw(104);
      padding-bottom: pc-vw(103);
      font-size: pc-vw(25);
    }
  }

  &-text {
    margin: 0;
    line-height: 1.4;
  }
}
