@use '@/styles' as *;

.message {
  background-image: url('/images/messageBg_sp.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: sp-vw(2);
    align-items: center;
    justify-content: center;
    height: sp-vw(75);
    font-size: sp-vw(14);
    color: #{$color-white};
    background-color: rgb(0 0 0 / 50%);
  }

  &-text {
    margin: 0;
    line-height: 1.4;
  }
}
