@use '@/styles' as *;

.main {
  width: $design-sp-width;
  @include media-pc {
    width: $design-pc-width;
  }
}

.main-visual {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: sp-vw(75);
  background-image: url('/images/メインビジュアル.png');
  background-repeat: no-repeat;
  background-size: cover;
  @include media-pc {
    width: $design-pc-width;
    height: pc-vw(300);
  }
}

.main-visual-bg {
  z-index: 2;
  width: $design-pc-width;
  height: rem(75);
  background-color: $color-black;
  opacity: 0.5;
  @include media-pc {
    width: $design-pc-width;
    height: pc-vw(300);
  }
}

.main-visual-pra {
  position: absolute;
  z-index: 3;
  width: 100vw;
  font-size: sp-vw(14);
  color: $color-white;
  text-align: center;
  @include media-pc {
    font-size: pc-vw(25);
    font-weight: bold;
    line-height: 2;
  }
}
