@use '@/styles' as *;
@use '@/styles/functions' as *;

.mainvisual {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: sp-vw(16) 0;
  background-image: url('/mainvisual/mainvisual.png');
  background-position: center;
  background-size: cover;

  @include media-pc {
    padding: pc-vw(104) 0;
    background-image: url('/mainvisual/mainvisual-pc.png');
  }

  &::before {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: '';
    background-color: rgb(0 0 0 / 50%);
  }
}

.mainvisual-textbox {
  z-index: 2;
  color: #{$color-white};
  text-align: center;
}

.mainvisual-text {
  font-size: sp-vw(14);
  line-height: 1.5;

  @include media-pc {
    font-size: pc-vw(25);
    font-weight: 700;
    line-height: 2;
  }
}
