@use '@/styles' as *;

.sec-service-intro {
  position: relative;
  width: sp-vw(400);
  height: sp-vw(75);
  padding: sp-vw(16) sp-vw(25);
  color: #{$color-white};
}

.sec-service-intro::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url('/image/serviceIntro/service-intro.jpg');
  background-position: 50% 70%;
  background-size: 100% auto;
  filter: brightness(0.5);
}

.service-intro-inner {
  display: flex;
  flex-direction: column;
  gap: sp-vw(2);
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: sp-vw(14);
  font-weight: 100;
  line-height: sp-vw(20);
}
