@use '@/styles' as *;

.job-cards {
  padding: sp-vw(30) sp-vw(15) sp-vw(60);
  scroll-margin-top: sp-vw(70);
  background-color: $color-bg-section;
  @include media-pc {
    padding: pc-vw(64) pc-vw(210) pc-vw(67);
  }
}

.job-cards-heading {
  margin-bottom: sp-vw(35);
  font-size: sp-vw(25);
  font-weight: 700;
  text-align: center;
  @include media-pc {
    margin-bottom: pc-vw(30);
    font-size: pc-vw(25);
    text-align: left;
  }
}

.job-cards-slider {
  position: relative;
  margin-bottom: sp-vw(43);
  @include media-pc {
    margin-bottom: pc-vw(59);
  }
}

.job-cards-arrow {
  position: absolute;
  bottom: sp-vw(147);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(42);
  height: sp-vw(42);
  background-image: url('/icon/ellipse.svg');
  background-repeat: no-repeat;
  background-size: contain;
  @include media-pc {
    top: pc-vw(70);
    bottom: auto;
    width: pc-vw(60);
    height: pc-vw(60);
  }
}

.job-cards-arrow::before {
  width: sp-vw(7);
  height: sp-vw(14);
  content: '';
  background-image: url('/icon/arrow-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(sp-vw(-1));
  @include media-pc {
    width: pc-vw(15);
    height: pc-vw(30);
    transform: 0;
  }
}

.prev {
  left: 0;
}

.next {
  right: 0;
  transform: scaleX(-1);
}

.job-cards-item {
  flex-shrink: 0;
  width: sp-vw(370);
  @include media-pc {
    width: pc-vw(280);
    margin-right: pc-vw(20);
  }
}

.job-cards-image {
  margin-bottom: sp-vw(10);
  @include media-pc {
    margin-bottom: pc-vw(8);
  }
}

.job-cards-photo {
  display: block;
  width: sp-vw(370);
  height: sp-vw(208);
  object-fit: cover;
  object-position: top;
  border-radius: sp-vw(10);
  @include media-pc {
    width: pc-vw(280);
    height: pc-vw(200);
    border-radius: pc-vw(10);
  }
}

.job-cards-title {
  margin-bottom: sp-vw(12);
  font-size: sp-vw(16);
  font-weight: 700;
  line-height: 1.375;
  @include media-pc {
    margin-bottom: pc-vw(7);
    font-size: pc-vw(16);
  }
}

.job-cards-info {
  display: flex;
  flex-direction: column;
  row-gap: sp-vw(5);
  @include media-pc {
    row-gap: pc-vw(4);
  }
}

.job-cards-row {
  display: flex;
  column-gap: sp-vw(21);
  align-items: center;
  @include media-pc {
    column-gap: pc-vw(10);
  }
}

.job-cards-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: sp-vw(60);
  height: sp-vw(21);
  font-size: sp-vw(14);
  background-color: $color-bg-square;
  @include media-pc {
    width: pc-vw(60);
    height: pc-vw(21);
    font-size: pc-vw(14);
  }
}

.job-cards-value {
  font-size: sp-vw(14);
  line-height: sp-vw(21);
  transform: translateY(sp-vw(-1));
  @include media-pc {
    font-size: pc-vw(14);
    line-height: pc-vw(21);
    transform: translateY(pc-vw(1));
  }
}

.job-cards-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: sp-vw(60);
  background-color: $color-primary;
  border-radius: sp-vw(30);
  @include media-pc {
    width: pc-vw(360);
    height: pc-vw(60);
    margin-inline: auto;
  }
}

.job-cards-more-text {
  font-size: sp-vw(18);
  font-weight: 700;
  line-height: 1;
  color: $color-white;
  @include media-pc {
    font-size: pc-vw(18);
  }
}
