@use '@/styles' as *;

.subheading {
  position: relative;
}

.subheading-bg-img {
  width: 100%;
  height: sp-vw(75);
  object-fit: cover;
  object-position: 50% 70%;
  filter: brightness(50%);
}

.subheading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: sp-vw(14);
  font-weight: 400;
  line-height: 1.5;
  color: #{$color-white};
  text-align: center;
  transform: translate(-50%, -50%);
}
