@use '@/styles' as *;

.background {
  padding-top: sp-vw(16);
  padding-bottom: sp-vw(16);
  font-size: sp-vw(14);
  font-weight: 400;
  line-height: 1.5;
  color: #{$color-white};
  text-align: center;
  background:
    linear-gradient(#{$color-overlay}), url('/images/background_small.jpg');
  background-position: 50% 70%;
  background-size: cover;
  @include media-pc {
    display: flex;
    align-items: center;
    height: pc-vw(300);
    font-size: pc-vw(25);
    font-weight: 700;
    line-height: 2;
    background-position: 50% 73%;
  }
}
