@use '../../../styles' as *;

.new-job {
  padding: sp-vw(10) 0 sp-vw(60);
  background-color: $color-light-blue;
  @include flex-column-center;
  @include media-pc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: pc-vw(0) pc-vw(210);
  }

  &-sub-title {
    margin: sp-vw(18) 0 sp-vw(40);
    font-size: sp-vw(25);
    font-weight: bold;
    @include media-pc {
      margin: pc-vw(65) 0 pc-vw(13);
      font-size: pc-vw(25);
      font-weight: normal;
    }
  }

  &-content {
    width: sp-vw($design-sp-width);
    margin-bottom: sp-vw(30);
    @include media-pc {
      width: pc-vw($inner-pc-max-width);
      margin: 0 auto;
      margin-top: pc-vw(5);
    }
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .new-job-content :global(.slick-slide) {
    box-sizing: border-box;
    padding: 0 sp-vw(15);
    @include media-pc {
      padding: 0 pc-vw(10);
    }
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .new-job-content :global(.slick-list) {
    margin: 0 sp-vw(-15);
    @include media-pc {
      margin: 0 pc-vw(-10);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: sp-vw(370);
    border-radius: $radius-sm;
    box-shadow: 0 4px 12px rgb(0 0 0 / 4%);
    @include media-pc {
      width: 100%;
    }
  }

  .job-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include media-pc {
      padding: pc-vw(10) 0 0;
    }
  }

  .job-img {
    width: sp-vw(370);
    height: sp-vw(210);
    object-fit: cover;
    border-radius: $radius-sm;
    @include media-pc {
      width: pc-vw(280);
      height: pc-vw(207);
      border-radius: pc-vw(15);
    }
  }

  .job-info {
    display: flex;
    flex-direction: column;
    min-height: sp-vw(100);
    @include media-pc {
      min-height: pc-vw(100);
    }
  }

  .job-card-title {
    margin: sp-vw(7) auto;
    font-size: sp-vw(16);
    font-weight: bold;
    line-height: 1.5;
    color: $color-black;
    text-align: left;
    @include media-pc {
      margin: pc-vw(3) 0;
      font-size: pc-vw(15);
      font-weight: normal;
    }
  }

  .job-meta {
    margin-top: auto;
  }

  .meta-row {
    display: flex;
    align-items: center;
  }

  @each $label in $job-labels {
    .label-#{$label} {
      min-width: sp-vw(60);
      padding: sp-vw(5) 0;
      margin: sp-vw(1);
      font-size: sp-vw(14);
      color: $color-black;
      text-align: center;
      background-color: $color-light-pink;
      @include media-pc {
        min-width: pc-vw(55);
        padding: pc-vw(3) 0;
        margin: pc-vw(2) pc-vw(4);
        font-size: pc-vw(14);
      }
    }
  }

  .meta-text {
    margin: 0 sp-vw(18);
    font-size: sp-vw(15);

    @include media-pc {
      margin: 0 pc-vw(5);
      font-size: pc-vw(14);
    }
  }

  &-button {
    display: block;
    padding: sp-vw(20) sp-vw(80);
    font-size: sp-vw(18);
    box-shadow: $shadow-pink;
    @include pink-btn;
    @include media-pc {
      padding: pc-vw(20) pc-vw(75);
      margin: pc-vw(15) auto pc-vw(70);
      font-size: pc-vw(18);
    }
  }

  .slider-wrapper {
    position: relative;
    width: sp-vw($inner-sp-max-width);
    margin-bottom: sp-vw(11);
    @include media-pc {
      width: pc-vw($inner-pc-max-width);
    }

    @each $dir, $side in (prev: left, next: right) {
      .#{$dir}-button {
        #{$side}: sp-vw(0);
        top: sp-vw(150);
        width: sp-vw(45);
        height: sp-vw(45);
        @include slider-button;
        @include media-pc {
          #{$side}: 0;
          top: pc-vw(80);
          width: pc-vw(60);
          height: pc-vw(60);
        }
      }
    }
  }
}
